In [27]:
#y = input('nombre: ')

#print(f"mi nombre es {y}")

## Variables

In [28]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [29]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [30]:
x = str(3)      # x will be '3'
y = int(3)      # y will be 3
z = float(3)    # z will be 3.0

print(x)
print(y)
print(z)

3
3
3.0

### Get the Type

In [31]:
x = 5
y = "John"

print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

## Variable Names

In [32]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"


print(myvar)
print(my_var)
print(_my_var)
print(myVar)
print(MYVAR)
print(myvar2)

John
John
John
John
John
John

In [33]:
# Camel Case
# Each word, except the first, starts with a capital letter:

myVariableName = "John"
print(myVariableName)

John

In [34]:
# Pascal Case
# Each word starts with a capital letter:

MyVariableName = "John"
print(MyVariableName)

John

In [35]:
# Snake Case
# Each word is separated by an underscore character:

my_variable_name = "John"
print(my_variable_name)

John

## Python Variables - Assign Multiple Values

### Many Values to Multiple Variables

In [36]:
x, y, z = "Orange", "Banana", "Cherry"

print(x)
print(y)
print(z)

Orange
Banana
Cherry

### One Value to Multiple Variables

In [37]:
x = y = z = "Orange"

print(x)
print(y)
print(z)

Orange
Orange
Orange

### Unpack a Collection

In [38]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

## Python - Output Variables

In [39]:
x = "Python is awesome"
print(x)

Python is awesome

In [40]:
x = "Python"
y = "is"
z = "awesome"

print(x,y,z)

Python is awesome

In [41]:
x = "Python"
y = "is"
z = "awesome"

print(x+y+z)

Pythonisawesome

In [42]:
x = 5
y = 10
print(x + y)

15

In [43]:
x = 5
y = "John"
print(x, y)

5 John

## Python - Global Variables

### Global Variables

In [44]:
x = "awesome"

def myfunc():
    print("Python is "+ x)

myfunc()

Python is awesome

In [45]:
x = "awesome"

def myfunc():
    x = "fantastic"
    print("Python is "+ x)

myfunc()

print("Python is "+ x)

Python is fantastic
Python is awesome

### The global Keyword

In [46]:
def myfunc():
    global x
    x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [47]:
x = "awesomr"

def myfunc():
    global x
    x = "fantastic"

myfunc()

print("Python is "+x)

Python is fantastic

In [48]:
if 5>2:
    print("Five is greater than two!")

Five is greater than two!

## Python Data Types

### Built-in Data Types

In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

Text Type:	`str`

Numeric Types:	`int`, `float`, `complex`

Sequence Types:	`list`, `tuple`, `range`

Mapping Type:	`dict`

Set Types:	`set`, `frozenset`

Boolean Type:	`bool`

Binary Types:	`bytes`, `bytearray`, `memoryview`

None Type:	`NoneType`

### Getting the Data Type

You can get the data type of any object by using the `type()` function:

In [49]:
x = 5
print(type(x))

<class 'int'>

### Setting the Data Type

In Python, the data type is set when you assign a value to a variable:

|Example	Data Type | Try it|
|---|---|
| x = "Hello World" | str |
|x = 20 | int |
|x = 20.5 | float |
|x = 1j | complex |
|x = ["apple", "banana", "cherry"] | list |
|x = ("apple", "banana", "cherry") | tuple |
|x = range(6) | range |
|x = {"name" : "John", "age" : 36} | dict |
|x = {"apple", "banana", "cherry"} | set |
|x = frozenset({"apple", "banana", "cherry"}) | frozenset |
|x = True | bool |
|x = b"Hello" |bytes |
|x = bytearray(5) | bytearray |
|x = memoryview(bytes(5)) | memoryview |
|x = None | NoneType |

In [50]:
# str	
x = "Hello World"

print(x)
print(type(x))  

# int	
x = 20

print(x)
print(type(x)) 	

# float
x = 20

print(x)
print(type(x))

# complex
x = 1j

print(x)
print(type(x))

# list
x = ["apple", "banana", "cherry"]

print(x)
print(type(x))

# tuple
x = ("apple", "banana", "cherry")

print(x)
print(type(x))

# range
x = range(6)

print(x)
print(type(x))

# dict
x = {"name" : "John", "age" : 36}

print(x)
print(type(x))

# set 
x = {"apple", "banana", "cherry"}

print(x)
print(type(x)) 

# frozenset	
x = frozenset({"apple", "banana", "cherry"})

print(x)
print(type(x))

# bool
x = True

print(x)
print(type(x)) 

# bytes
x = b"Hello"

print(x)
print(type(x)) 

# bytearray

x = bytearray(5)

print(x)
print(type(x))

# memoryview
x = memoryview(bytes(5))

print(x)
print(type(x))

# NoneType
x = None

print(x)
print(type(x))

Hello World
<class 'str'>
20
<class 'int'>
20
<class 'int'>
1j
<class 'complex'>
['apple', 'banana', 'cherry']
<class 'list'>
('apple', 'banana', 'cherry')
<class 'tuple'>
range(0, 6)
<class 'range'>
{'name': 'John', 'age': 36}
<class 'dict'>
{'banana', 'apple', 'cherry'}
<class 'set'>
frozenset({'banana', 'apple', 'cherry'})
<class 'frozenset'>
True
<class 'bool'>
b'Hello'
<class 'bytes'>
bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>
<memory at 0x000001E9771C8640>
<class 'memoryview'>
None
<class 'NoneType'>

### Setting the Specific Data Type
If you want to specify the data type, you can use the following constructor functions:

| Example | Data Type |
|---|---|
| x = str("Hello World") | str |
| x = int(20) | int |
| x = float(20.5) | float |
| x = complex(1j) | complex |
| x = list(("apple", "banana", "cherry")) | list |
| x = tuple(("apple", "banana", "cherry")) | tuple |
| x = range(6) | range |
| x = dict(name="John", age=36) | dict |
| x = set(("apple", "banana", "cherry")) | set |
| x = frozenset(("apple", "banana", "cherry")) | frozenset |
| x = bool(5) | bool |
| x = bytes(5) | bytes |
| x = bytearray(5) | bytearray |
| x = memoryview(bytes(5)) | memoryview |

In [51]:
# str	
x = str("Hello World")

print(x)
print(type(x))  

# int	
x = int(20)

print(x)
print(type(x))

# float
x = float(20.5)

print(x)
print(type(x)) 

# complex
x = complex(1j)

print(x)
print(type(x)) 

# list
x = list(("apple", "banana", "cherry"))

print(x)
print(type(x)) 

# tuple
x = tuple(("apple", "banana", "cherry"))

print(x)
print(type(x))

# range
x = range(6)

print(x)
print(type(x))

# dict
x = dict(name="John", age=36)

print(x)
print(type(x)) 

# set 
x = set(("apple", "banana", "cherry"))

print(x)
print(type(x)) 


# frozenset	
x = frozenset(("apple", "banana", "cherry"))

print(x)
print(type(x)) 

# bool
x = bool(5)

print(x)
print(type(x)) 

# bytes
x = bytes(5)

print(x)
print(type(x))  

# bytearray
x = bytearray(5)

print(x)
print(type(x)) 

# memoryview
x = memoryview(bytes(5))

print(x)
print(type(x))

Hello World
<class 'str'>
20
<class 'int'>
20.5
<class 'float'>
1j
<class 'complex'>
['apple', 'banana', 'cherry']
<class 'list'>
('apple', 'banana', 'cherry')
<class 'tuple'>
range(0, 6)
<class 'range'>
{'name': 'John', 'age': 36}
<class 'dict'>
{'banana', 'apple', 'cherry'}
<class 'set'>
frozenset({'banana', 'apple', 'cherry'})
<class 'frozenset'>
True
<class 'bool'>
b'\x00\x00\x00\x00\x00'
<class 'bytes'>
bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>
<memory at 0x000001E9771C9A80>
<class 'memoryview'>

## Python Numbers

There are three numeric types in Python:

- int
- float
- complex

Variables of numeric types are created when you assign a value to them:

In [52]:
x = 1
y = 2.8
z = 1j

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

To verify the type of any object in Python, use the type() function:

## Int

Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length.

In [53]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

## Float

Float, or "floating point number" is a number, positive or negative, containing one or more decimals.

In [54]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

Float can also be scientific numbers with an "e" to indicate the power of 10.

In [55]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

## Complex

Complex numbers are written with a "j" as the imaginary part:

In [56]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

## Type Conversion

You can convert from one type to another with the int(), float(), and complex() methods:

In [57]:
#convert from int to float:
x = float(1)

#convert from float to int:
y = int(2.8)

#convert from int to complex:
z = complex(1)

print(x)
print(y)
print(z)

print(type(x))
print(type(y))
print(type(z))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

## Random Number

Python does not have a `random()` function to make a random number, but Python has a built-in module called `random` that can be used to make random numbers:

In [58]:
import random

print(random.randrange(1, 16))

3

## Python Casting
### Specify a Variable Type

There may be times when you want to specify a type on to a variable. This can be done with casting. Python is an object-orientated language, and as such it uses classes to define data types, including its primitive types.

Casting in python is therefore done using constructor functions:

- `int()` - constructs an integer number from an integer literal, a float literal (by removing all decimals), or a string literal (providing the string represents a whole number)
- `float()` - constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer)
- `str()` - constructs a string from a wide variety of data types, including strings, integer literals and float literals

In [59]:
x = int(1)
y = int(2.8)
z = int("3")
print(x)
print(y)
print(z)

1
2
3

In [60]:
x = float(1)
y = float(2.8)
z = float("3")
w = float("4.2")
print(x)
print(y)
print(z)
print(w)

1.0
2.8
3.0
4.2

In [61]:
x = str("s1")
y = str(2)
z = str(3.0)
print(x)
print(y)
print(z)

s1
2
3.0

## Python Strings
### Strings

Strings in python are surrounded by either single quotation marks, or double quotation marks.

`'hello'` is the same as `"hello"`.

You can display a string literal with the `print()` function:

In [62]:
print("Hello")
print('Hello')

Hello
Hello

## Quotes Inside Quotes

You can use quotes inside a string, as long as they don't match the quotes surrounding the string:

In [63]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

## Assign String to a Variable

Assigning a string to a variable is done with the variable name followed by an equal sign and the string:

In [64]:
a = "Hello"
print(a)

Hello

## Multiline Strings

You can assign a multiline string to a variable by using three quotes:

In [65]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

Or three single quotes:

In [66]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

### Strings are Arrays

Like many other popular programming languages, strings in Python are arrays of unicode characters.

However, Python does not have a character data type, a single character is simply a string with a length of 1.

Square brackets can be used to access elements of the string.

In [67]:
a = "Hello, World!"
print(a[1])

e

### Looping Through a String

Since strings are arrays, we can loop through the characters in a string, with a for loop.

In [68]:
for x in "banana":
    print(x)

b
a
n
a
n
a

### String Length

To get the length of a string, use the len() function.

In [69]:
a = "Hello, World!"
print(len(a))

13

### Check String

To check if a certain phrase or character is present in a string, we can use the keyword in.

In [70]:
txt = "The best things in life are free!"
print("free" in txt)

True

Use it in an if statement:

In [71]:
txt = "The best things in life are free!"
if "free" in txt:
    print("Yes, 'free' is present.")

Yes, 'free' is present.

### Check if NOT

To check if a certain phrase or character is NOT present in a string, we can use the keyword not in.

In [72]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

Use it in an `if` statement:

In [73]:
txt = "The best things in life are free!"
if "expensive" not in txt:
    print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

# Python - Slicing Strings

## Slicing

You can return a range of characters by using the slice syntax.

Specify the start index and the end index, separated by a colon, to return a part of the string.

In [74]:
b = "Hello, World!"
print(b[2:5])

llo

## Slice From the Start

By leaving out the start index, the range will start at the first character:

In [75]:
b = "Hello, world!"
print(b[:5])

Hello

## Slice To the End

By leaving out the end index, the range will go to the end:

In [76]:
b = "hello world!"
print(b[2:])

llo world!

## Negative Indexing

Use negative indexes to start the slice from the end of the string:

In [77]:
b = "Hello, world!"
print(b[-5:-2])

orl

# Python - Modify Strings

Python has a set of built-in methods that you can use on strings.

## Upper Case

In [78]:
a = "Hello world!"
print(a.upper())

HELLO WORLD!

## Lower Case

In [79]:
a = "Hello, world!"
print(a.lower())

hello, world!

## Remove Whitespace

Whitespace is the space before and/or after the actual text, and very often you want to remove this space.

In [80]:
a = " Hello, World! "
print(a.strip())

Hello, World!

## Replace String

In [81]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

## Split String

The `split()` method returns a list where the text between the specified separator becomes the list items.

In [82]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

In [83]:
a = "hello, world!"
print(a.capitalize()) # returns ['Hello', ' World!']

Hello, world!

# String Concatenation

To concatenate, or combine, two strings you can use the + operator.

In [84]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [85]:
# To add a space between them, add a " ":

a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

# Python - Format - Strings

## String Format

As we learned in the Python Variables chapter, we cannot combine strings and numbers like this:

In [86]:
age = 36
#This will produce an error:
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

But we can combine strings and numbers by using f-strings or the format() method!

## F-Strings

F-String was introduced in Python 3.6, and is now the preferred way of formatting strings.

To specify a string as an f-string, simply put an `f` in front of the string literal, and add curly brackets ``{}`` as placeholders for variables and other operations.

In [ ]:
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

## Placeholders and Modifiers

A placeholder can contain variables, operations, functions, and modifiers to format the value.

In [ ]:
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

A placeholder can include a modifier to format the value.

A modifier is included by adding a colon `:` followed by a legal formatting type, like `.2f` which means fixed point number with 2 decimals:

In [ ]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

A placeholder can contain Python code, like math operations:

In [ ]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

## Escape Character

To insert characters that are illegal in a string, use an escape character.

An escape character is a backslash `\` followed by the character you want to insert.

An example of an illegal character is a double quote inside a string that is surrounded by double quotes:

To fix this problem, use the escape character `\"`:

In [ ]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

Escape Characters
Other escape characters used in Python:

| Code | Result |
|---|---|
| \' | Single Quote |	
| \\ | Backslash | 
| \n | New Line|	
| \r | Carriage Return |
| \t | Tab |	
| \b | Backspace |	
| \f | Form Feed |	
| \ooo | Octal value |	
| \xhh | Hex value |

In [ ]:
# Single Quote
txt = 'It\'s alright.'
print(txt) 

# Backslash
txt = "This will insert one \\ (backslash)."
print(txt) 

# New Line
txt = "Hello\nWorld!"
print(txt)

# Carriage Return
txt = "Hello\rWorld!"
print(txt) 

# Tab
txt = "Hello\tWorld!"
print(txt) 

# Backspace
txt = "Hello \bWorld!"
print(txt) 
	
# Octal value
txt = "\110\145\154\154\157"
print(txt)

# Hex value
txt = "\x48\x65\x6c\x6c\x6f"
print(txt)

It's alright.
This will insert one \ (backslash).
Hello
World!
World!
Hello	World!
HelloWorld!
Hello
Hello

# Python - String Methods

## String Methods

Python has a set of built-in methods that you can use on strings.

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(f" mi nombre es {p1.name} y tengo {p1.age}")
print(p1.age)

 mi nombre es John y tengo 36
36

# Python - String Methods
## String Methods
Python has a set of built-in methods that you can use on strings.

In [ ]:
# capitalize() = Converts the first character to upper case
txt = "hello, and welcome to my world."
x = txt.capitalize()
print (x)

# casefold() = Converts string into lower case
txt = "Hello, And Welcome To My World!"
x = txt.casefold()
print(x)

# center() = Returns a centered string
txt = "banana"
x = txt.center(20)
print(x)

# count() = Returns the number of times a specified value occurs in a string
txt = "I love apples, apple are my favorite fruit"
x = txt.count("apple")
print(x)

# encode() = Returns an encoded version of the string
txt = "My name is Ståle"
x = txt.encode()
print(x)

# endswith() = Returns true if the string ends with the specified value
txt = "Hello, welcome to my world."
x = txt.endswith(".")
print(x)

Hello, and welcome to my world.
hello, and welcome to my world!
       banana
2
b'My name is St\xc3\xa5le'
True

In [ ]:
# expandtabs() = Sets the tab size of the string
txt = "H\te\tl\tl\to"
x =  txt.expandtabs(2)
print(x)

# find() = Searches the string for a specified value and returns the position of where it was found
txt = "Hello, welcome to my world."
x = txt.find("welcome")
print(x)

# format() = Formats specified values in a string
txt = "For only {price:.2f} dollars!"
print(txt.format(price = 49))

# format_map() = Formats specified values in a string
persona = {
    "nombre": "Mario",
    "edad": 30,
    "ciudad": "Bogotá"
}

mensaje = "Hola, me llamo {nombre}, tengo {edad} años y vivo en {ciudad}.".format_map(persona)
print(mensaje)

# index() = Searches the string for a specified value and returns the position of where it was found
txt = "Hello, welcome to my world."
x = txt.index("welcome")
print(x)

# isalnum() = Returns True if all characters in the string are alphanumeric
txt = "Company12"
x = txt.isalnum()
print(x)

# isalpha() = Returns True if all characters in the string are in the alphabet
txt = "CompanyX"
x = txt.isalpha()
print(x)

# isascii() = Returns True if all characters in the string are ascii characters
txt = "Company123"
x = txt.isascii()
print(x)

# isdecimal() = Returns True if all characters in the string are decimals
txt = "1234"
x = txt.isdecimal()
print(x)

# isdigit() = Returns True if all characters in the string are digits
txt = "50800"
x = txt.isdigit()
print(x)

# isidentifier() = Returns True if the string is an identifier
txt = "hello world!"
x = txt.islower()
print(x)

# islower() = Returns True if all characters in the string are lower case
txt = "hello world!"
x = txt.islower()
print(x)

# isnumeric() = Returns True if all characters in the string are numeric
txt = "565543"
x = txt.isnumeric()
print(x)

# isprintable() = Returns True if all characters in the string are printable
txt = "Hello! Are you #1?"
x = txt.isprintable()
print(x)

# isspace() = Returns True if all characters in the string are whitespaces
txt = "  "
x = txt.isspace()
print(x)

# istitle() = Returns True if the string follows the rules of a title
txt = "Hello, And Welcome To My World!"
x = txt.istitle()
print(x)

# isupper() = Returns True if all characters in the string are upper case
txt = "THIS IS NOW!"
x = txt.isupper()
print(x)

# join() = Joins the elements of an iterable to the end of the string
myTuple = ("John", "Peter", "Vicky")
x = "#".join(myTuple)
print(x)

# ljust() = Returns a left justified version of the string
txt = "banana"
x = txt.ljust(20)
print(x, "is my favorite fruit.")

# lower() = Converts a string into lower case
txt = "Hello my FRIENDS"
x = txt.lower()
print(x)

# lstrip() = Returns a left trim version of the string
txt = "     banana     "
x = txt.lstrip()
print("of all fruits", x, "is my favorite")

# maketrans() = Returns a translation table to be used in translations
txt = "Hello Sam!"
mytable = str.maketrans("S", "P")
print(txt.translate(mytable))

# partition() = Returns a tuple where the string is parted into three parts
txt = "I could eat bananas all day"
x = txt.partition("bananas")
print(x)

# replace() = Returns a string where a specified value is replaced with a specified value
txt = "I like bananas"
x = txt.replace("bananas", "apples")
print(x)

#  rfind() = Searches the string for a specified value and returns the last position of where it was found
txt = "Mi casa, su casa."
x = txt.rfind("casa")
print(x)

# rindex() = Searches the string for a specified value and returns the last position of where it was found
txt = "Mi casa, su casa."
x = txt.rindex("casa")
print(x)

H e l l o
7
For only 49.00 dollars!
Hola, me llamo Mario, tengo 30 años y vivo en Bogotá.
7
True
True
True
True
True
True
True
True
True
True
True
True
John#Peter#Vicky
banana               is my favorite fruit.
hello my friends
of all fruits banana      is my favorite
Hello Pam!
('I could eat ', 'bananas', ' all day')
I like apples
12
12

In [ ]:
# rjust() = Returns a right justified version of the string
txt = "banana"
x = txt.rjust(20)
print(x, "is my favorite fruit.")

# rpartition() = Returns a tuple where the string is parted into three parts
txt = "I could eat bananas all day, bananas are my favorite fruit"
x = txt.rpartition("bananas")
print(x)

# rsplit() = Splits the string at the specified separator, and returns a list
txt = "apple, banana, cherry"
x = txt.rsplit(", ")
print(x)

# rstrip() = Returns a right trim version of the string
txt = "     banana     "
x = txt.rstrip()
print("of all fruits", x, "is my favorite")

# split() = Splits the string at the specified separator, and returns a list
txt = "welcome to the jungle"
x = txt.split()
print(x)

# splitlines() = Splits the string at line breaks and returns a list
txt = "Thank you for the music\nWelcome to the jungle"
x = txt.splitlines()
print(x)

# startswith() = Returns true if the string starts with the specified value
txt = "Hello, welcome to my world."
x = txt.startswith("Hello")
print(x)

# strip() = Returns a trimmed version of the string
txt = "     banana     "
x = txt.strip()
print("of all fruits", x, "is my favorite")

# swapcase() = Swaps cases, lower case becomes upper case and vice versa
txt = "Hello My Name Is PETER"
x = txt.swapcase()
print(x)

# title() = Converts the first character of each word to upper case
txt = "Welcome to my world"
x = txt.title()
print(x)

# translate() = Returns a translated string
#use a dictionary with ascii codes to replace 83 (S) with 80 (P):
mydict = {83:  80}
txt = "Hello Sam!"
print(txt.translate(mydict))

# upper() = Converts a string into upper case
txt = "Hello my friends"
x = txt.upper()
print(x)

# zfill() = Fills the string with a specified number of 0 values at the beginning
txt = "50"
x = txt.zfill(10)
print(x)

              banana is my favorite fruit.
('I could eat bananas all day, ', 'bananas', ' are my favorite fruit')
['apple', 'banana', 'cherry']
of all fruits      banana is my favorite
['welcome', 'to', 'the', 'jungle']
['Thank you for the music', 'Welcome to the jungle']
True
of all fruits banana is my favorite
hELLO mY nAME iS peter
Welcome To My World
Hello Pam!
HELLO MY FRIENDS
0000000050

# Python Booleans

Booleans represent one of two values: `True` or `False`.

## Boolean Values

In programming you often need to know if an expression is ``True`` or ``False``.

You can evaluate any expression in Python, and get one of two answers, True or False.

When you compare two values, the expression is evaluated and Python returns the Boolean answer:

In [ ]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

When you run a condition in an if statement, Python returns `True` or `False`:

In [ ]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

## Evaluate Values and Variables

The `bool()` function allows you to evaluate any value, and give you `True` or `False` in return,

In [ ]:
print(bool("Hello"))
print(bool(15))

True
True

In [ ]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

## Most Values are True

Almost any value is evaluated to `True` if it has some sort of content.

Any string is `True`, except empty strings.

Any number is `True`, except `0`.

Any list, tuple, set, and dictionary are `True`, except empty ones.

In [ ]:
print(bool("abc"))
print(bool(123))
print(bool(["apple", "cherry", "banana"]))

True
True
True

## Some Values are False

In fact, there are not many values that evaluate to `False`, except empty values, such as `()`, `[]`, `{}`, "", the number `0`, and the value `None`. And of course the value `False` evaluates to `False`.

In [ ]:
print(bool(False))
print(bool(None))
print(bool(0))
print(bool(""))
print(bool(()))
print(bool([]))
print(bool({}))

False
False
False
False
False
False
False

One more value, or object in this case, evaluates to `False`, and that is if you have an object that is made from a class with a `__len__` function that returns `0` or `False`:

In [ ]:
class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False

## Functions can Return a Boolean

You can create functions that returns a Boolean Value:

In [ ]:
def myFunction() :
  return True

print(myFunction())

True

You can execute code based on the Boolean answer of a function:

In [ ]:
def myFunction() :
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

Python also has many built-in functions that return a boolean value, like the `isinstance()` function, which can be used to determine if an object is of a certain data type:

In [ ]:
x = 200
print(isinstance(x, int))

True

# Python Arithmetic Operators

Arithmetic operators are used with numeric values to perform common mathematical operations:

| Operator | Name | Example |
|---|---|---|
| + | Addition | x + y |
| - | Subtraction | x - y |	
| * | Multiplication | x * y |
| / | Division | x / y |	
| %| Modulus | x % y |	
| ** | Exponentiation | x ** y |
| // | Floor division | x // y |

In [ ]:
# +	Addition	x + y
x = 5
y = 3
print(x + y)

# -	Subtraction	x - y
x = 5
y = 3
print(x - y)
	
# *	Multiplication	x * y
x = 5
y = 3
print(x * y)

# /	Division	x / y
x = 12
y = 3
print(x / y)
	
# %	Modulus	x % y
x = 2
y = 5
print(x % y) #same as 2*2*2*2*2

# **	Exponentiation	x ** y
x = 2
y = 5
print(x ** y) #same as 2*2*2*2*2

# //	Floor division	x // y
x = 15
y = 2
print(x // y)

8
2
15
4.0
2
32
7

# Python Assignment Operators

Assignment operators are used to assign values to variables:

| Operator | Example | Same As |
|---|---|---|
| = | x = 5 | x = 5 | 
| += | x += 3 | x = x + 3
| -= | x -= 3 | x = x - 3 |
| *= | x *= 3 | x = x * 3 |	
| /= | x /= 3 | x = x / 3 |
| %= | x %= 3 | x = x % 3 |
| //= | x //= 3 | x = x // 3 |
| **= | x **= 3 | x = x ** 3 |
| &= | x &= 3 | x = x & 3 |
| `pipe=` | `x pipe = 3` | `x = x pipe 3` |
| ^= | x ^= 3 | x = x ^ 3 |
| >>= | x >>= 3 | x = x >> 3 |
| <<= | x <<= 3 | x = x << 3 |
| := | print(x := 3) | x = 3 print(x) |

In [ ]:
# =	x = 5	x = 5
x = 5
print(x)

# +=	x += 3	x = x + 3
x = 5
x += 3
print(x)

# -=	x -= 3	x = x - 3
x = 5
x -= 3
print(x)

#*=	x *= 3	x = x * 3
x = 5
x *= 3
print(x)

# /=	x /= 3	x = x / 3
x = 5
x /= 3
print(x)

# %=	x %= 3	x = x % 3
x = 5
x%=3
print(x)

# //=	x //= 3	x = x // 3
x = 5
x//=3
print(x)

# **=	x **= 3	x = x ** 3
x = 5
x **= 3
print(x)

# &=	x &= 3	x = x & 3
x = 5
x &= 3
print(x)

# |=	x |= 3	x = x | 3
x = 5
x |= 3
print(x)

# ^=	x ^= 3	x = x ^ 3
x = 5
x ^= 3
print(x)

# >>=	x >>= 3	x = x >> 3
x = 5
x >>= 3
print(x)

# <<=	x <<= 3	x = x << 3
x = 5
x <<= 3
print(x)

# :=	print(x := 3)	x = 3print(x)
print(x := 3)

5
8
2
15
1.6666666666666667
2
1
125
1
7
6
0
40
3

# Python Comparison Operators

Comparison operators are used to compare two values:

| Operator | Name | Example |
|---|---|---|
| == | Equal | x == y| 
| != | Not equal | x != y |
| > | Greater than | x > y |
| < | Less than | x < y |
| >= | Greater than or equal to | x >= y |
| <= | Less than or equal to | x <= y |

In [ ]:

# ==	Equal	x == y
x = 5
y = 3
print(x == y)
# returns False because 5 is not equal to 3

# !=	Not equal	x != y
x = 5
y = 3
print(x != y)
# returns True because 5 is not equal to 3

# >	Greater than	x > y
x = 5
y = 3
print(x > y)
# returns True because 5 is greater than 3

# <	Less than	x < y
x = 5
y = 3
print(x < y)
# returns False because 5 is not less than 3

# >=	Greater than or equal to	x >= y
x = 5
y = 3
print(x >= y)
# returns True because five is greater, or equal, to 3

# <=	Less than or equal to	x <= y
x = 5
y = 3
print(x <= y)
# returns False because 5 is neither less than or equal to 3

False
True
True
False
True
False

## Python Logical Operators

Logical operators are used to combine conditional statements:

| Operator | Description | Example |
|---|---|---|
| and  | Returns True if both statements are true | x < 5 and  x < 10 |	
| or | Returns True if one of the statements is true | x < 5 or x < 4 |
| not | Reverse the result, returns False if the result is true | not(x < 5 and x < 10) |

In [ ]:
# and 	Returns True if both statements are true	x < 5 and  x < 10
x = 5
print(x > 3 and x < 10)
# returns True because 5 is greater than 3 AND 5 is less than 10

# or	Returns True if one of the statements is true	x < 5 or x < 4
x = 5
print(x > 3 or x < 4)
# returns True because one of the conditions are true (5 is greater than 3, but 5 is not less than 4)

# not	Reverse the result, returns False if the result is true	not(x < 5 and x < 10)
x = 5
print(not(x > 3 and x < 10))
# returns False because not is used to reverse the result

True
True
False

## Python Identity Operators

Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location:

| Operator | Description | Example |
|---|---|---|
| is  | Returns True if both variables are the same object | x is y |
| is not | Returns True if both variables are not the same object | x is not y |

In [ ]:
# is 	Returns True if both variables are the same object	x is y
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x
print(x is z)
# returns True because z is the same object as x
print(x is y)
# returns False because x is not the same object as y, even if they have the same content
print(x == y)
# to demonstrate the difference betweeen "is" and "==": this comparison returns True because x is equal to y

# is not	Returns True if both variables are not the same object	x is not y

True
False
True

# Python Membership Operators

Membership operators are used to test if a sequence is presented in an object:

| Operator | Description | Example |
|---|---|---|
| in  | Returns True if a sequence with the specified value is present in the object | x in y |
| not in | Returns True if a sequence with the specified value is not present in the object | x not in y |

In [ ]:
# in
x = ["apple", "banana"]
print("banana" in x)
# returns True because a sequence with the value "banana" is in the list

# not in
x = ["apple", "banana"]
print("pineapple" not in x)
# returns True because a sequence with the value "pineapple" is not in the list

True
True

## Python Bitwise Operators

Bitwise operators are used to compare (binary) numbers:

| Operator | Name                  | Description                                                                 | Example  |
|----------|-----------------------|-----------------------------------------------------------------------------|----------|
| `&`      | AND                   | Establece cada bit en `1` si ambos bits son `1`                             | `x & y`  |
| pipe | OR                    | Establece cada bit en `1` si al menos uno de los dos bits es `1`            | `x pipe y`  |
| `^`      | XOR                   | Establece cada bit en `1` si **solo uno** de los dos bits es `1`            | `x ^ y`  |
| `~`      | NOT                   | Invierte todos los bits                                                     | `~x`     |
| `<<`     | Zero fill left shift  | Desplaza a la izquierda, rellenando con ceros a la derecha                  | `x << 2` |
| `>>`     | Signed right shift    | Desplaza a la derecha, copiando el bit de signo a la izquierda              | `x >> 2` |

In [ ]:
# &
print(6 & 3)
"""
The & operator compares each bit and set it to 1 if both are 1, otherwise it is set to 0:

6 = 0000000000000110
3 = 0000000000000011
--------------------
2 = 0000000000000010
====================

Decimal numbers and their binary values:
0 = 0000000000000000
1 = 0000000000000001
2 = 0000000000000010
3 = 0000000000000011
4 = 0000000000000100
5 = 0000000000000101
6 = 0000000000000110
7 = 0000000000000111
"""

# pipe = |
print(6 | 3)
"""
The | operator compares each bit and set it to 1 if one or both is 1, otherwise it is set to 0:

6 = 0000000000000110
3 = 0000000000000011
--------------------
7 = 0000000000000111
====================

Decimal numbers and their binary values:
0 = 0000000000000000
1 = 0000000000000001
2 = 0000000000000010
3 = 0000000000000011
4 = 0000000000000100
5 = 0000000000000101
6 = 0000000000000110
7 = 0000000000000111
"""

# ^
print(6 ^ 3)
"""
The ^ operator compares each bit and set it to 1 if only one is 1, otherwise (if both are 1 or both are 0) it is set to 0:

6 = 0000000000000110
3 = 0000000000000011
--------------------
5 = 0000000000000101
====================

Decimal numbers and their binary values:
0 = 0000000000000000
1 = 0000000000000001
2 = 0000000000000010
3 = 0000000000000011
4 = 0000000000000100
5 = 0000000000000101
6 = 0000000000000110
7 = 0000000000000111
"""

# ~
print(~3)
"""
The ~ operator inverts each bit (0 becomes 1 and 1 becomes 0).

Inverted 3 becomes -4:
 3 = 0000000000000011
-4 = 1111111111111100

Decimal numbers and their binary values:
 4 = 0000000000000100
 3 = 0000000000000011
 2 = 0000000000000010
 1 = 0000000000000001
 0 = 0000000000000000
-1 = 1111111111111111
-2 = 1111111111111110
-3 = 1111111111111101
-4 = 1111111111111100
"""

# <<
print(3 << 2)
"""
The << operator inserts the specified number of 0's (in this case 2) from the right and let the same amount of leftmost bits fall off:

If you push 00 in from the left:
 3 = 0000000000000011
becomes
12 = 0000000000001100

Decimal numbers and their binary values:
 0 = 0000000000000000
 1 = 0000000000000001
 2 = 0000000000000010
 3 = 0000000000000011
 4 = 0000000000000100
 5 = 0000000000000101
 6 = 0000000000000110
 7 = 0000000000000111
 8 = 0000000000001000
 9 = 0000000000001001
10 = 0000000000001010
11 = 0000000000001011
12 = 0000000000001100
"""

# >>
print(8 >> 2)
"""
The >> operator moves each bit the specified number of times to the right. Empty holes at the left are filled with 0's.

If you move each bit 2 times to the right, 8 becomes 2:
 8 = 0000000000001000
becomes
 2 = 0000000000000010

Decimal numbers and their binary values:
 0 = 0000000000000000
 1 = 0000000000000001
 2 = 0000000000000010
 3 = 0000000000000011
 4 = 0000000000000100
 5 = 0000000000000101
 6 = 0000000000000110
 7 = 0000000000000111
 8 = 0000000000001000
 9 = 0000000000001001
10 = 0000000000001010
11 = 0000000000001011
12 = 0000000000001100
"""

2
7
5
-5
12
2

"\nThe >> operator moves each bit the specified number of times to the right. Empty holes at the left are filled with 0's.\n\nIf you move each bit 2 times to the right, 8 becomes 2:\n 8 = 0000000000001000\nbecomes\n 2 = 0000000000000010\n\nDecimal numbers and their binary values:\n 0 = 0000000000000000\n 1 = 0000000000000001\n 2 = 0000000000000010\n 3 = 0000000000000011\n 4 = 0000000000000100\n 5 = 0000000000000101\n 6 = 0000000000000110\n 7 = 0000000000000111\n 8 = 0000000000001000\n 9 = 0000000000001001\n10 = 0000000000001010\n11 = 0000000000001011\n12 = 0000000000001100\n"

# Operator Precedence

Operator precedence describes the order in which operations are performed.

In [ ]:
print((6 + 3) - (6 + 3))

"""
Parenthesis have the highest precedence, and need to be evaluated first.
The calculation above reads 9 - 9 = 0
"""

0

'\nParenthesis have the highest precedence, and need to be evaluated first.\nThe calculation above reads 9 - 9 = 0\n'

In [ ]:
print(100 + 5 * 3)

"""
Multiplication has higher precedence than addition, and needs to be evaluated first.
The calculation above reads 100 + 15 = 115
"""

115

'\nMultiplication has higher precedence than addition, and needs to be evaluated first.\nThe calculation above reads 100 + 15 = 115\n'

The precedence order is described in the table below, starting with the highest precedence at the top:

| Operator | Description |
|----------|-------------|
| `()` | Parentheses |
| `**` | Exponentiation |
| `+x  -x  ~x` | Unary plus, unary minus, and bitwise NOT |
| `*  /  //  %` | Multiplication, division, floor division, and modulus |
| `+  -` | Addition and subtraction |
| `<<  >>` | Bitwise left and right shifts |
| `&` | Bitwise AND |
| `^` | Bitwise XOR |
| `pipe` | Bitwise OR |
| `==  !=  >  >=  <  <=  is  is not  in  not in` | Comparisons, identity, and membership operators |
| `not` | Logical NOT |
| `and` | Logical AND |
| `or` | Logical OR |

In [ ]:
# () Parentheses
print((6 + 3) - (6 + 3))
"""
Parenthesis have the highest precedence, and need to be evaluated first.
The calculation above reads 9 - 9 = 0
"""

# ** = Exponentiation
print(100 - 3 ** 3)
"""
Exponentiation has higher precedence than subtraction, and needs to be evaluated first.
The calculation above reads 100 - 27 = 73
"""	

# +x  -x  ~x =Unary plus, unary minus, and bitwise NOT
print(100 + ~3)
"""
Bitwise NOT has higher precedence than addition, and needs to be evaluated first.
The calculation above reads 100 + -4 = 96
"""

# *  /  //  % = Multiplication, division, floor division, and modulus
print(100 + 5 * 3)
"""
Multiplication has higher precedence than addition, and needs to be evaluated first.
The calculation above reads 100 + 15 = 115
"""

# +  - = Addition and subtraction
print(100 - 5 * 3)
"""
Subtraction has a lower precedence than multiplication, and we need to calculate the multiplication first.
The calculation above reads 100 - 15 = 85
"""

# <<  >> = Bitwise left and right shifts
print(8 >> 4 - 2)
"""
Bitwise right shift has a lower precedence than subtraction, and we need to calculate the subtraction first.
The calculation above reads 8 >> 2 = 2

More explanation:
The >> operator moves each bit the specified number of times to the right. Empty holes at the left are filled with 0's.

If you move each bit 2 times to the right, 8 becomes 2:
 8 = 0000000000001000
becomes
 2 = 0000000000000010

Decimal numbers and their binary values:
 0 = 0000000000000000
 1 = 0000000000000001
 2 = 0000000000000010
 3 = 0000000000000011
 4 = 0000000000000100
 5 = 0000000000000101
 6 = 0000000000000110
 7 = 0000000000000111
 8 = 0000000000001000
 9 = 0000000000001001
10 = 0000000000001010
11 = 0000000000001011
12 = 0000000000001100
"""	

# & = Bitwise AND
print(6 & 2 + 1)
"""
Bitwise AND has a lower precedence than addition, and we need to calculate the addition first.
The calculation above reads 6 & 3 = 2

More explanation:
The & operator compares each bit and set it to 1 if both are 1, otherwise it is set to 0:

6 = 0000000000000110
3 = 0000000000000011
--------------------
2 = 0000000000000010
====================

Decimal numbers and their binary values:
0 = 0000000000000000
1 = 0000000000000001
2 = 0000000000000010
3 = 0000000000000011
4 = 0000000000000100
5 = 0000000000000101
6 = 0000000000000110
7 = 0000000000000111
"""
	
# ^ = Bitwise XOR
print(6 ^ 2 + 1)
"""
Bitwise XOR has a lower precedence than addition, and we need to calculate the addition first.
The calculation above reads 6 ^ 3 = 5

More explanation:
The ^ operator compares each bit and set it to 1 if only one is 1, otherwise (if both are 1 or both are 0) it is set to 0:

6 = 0000000000000110
3 = 0000000000000011
--------------------
5 = 0000000000000101
====================

Decimal numbers and their binary values:
0 = 0000000000000000
1 = 0000000000000001
2 = 0000000000000010
3 = 0000000000000011
4 = 0000000000000100
5 = 0000000000000101
6 = 0000000000000110
7 = 0000000000000111
"""

# | =  Bitwise OR
print(6 | 2 + 1)
"""
Bitwise OR has a lower precedence than addition, and we need to calculate the addition first.
The calculation above reads 6 | 3 = 7

More explanation:
The | operator compares each bit and set it to 1 if one or both is 1, otherwise it is set to 0:

6 = 0000000000000110
3 = 0000000000000011
--------------------
7 = 0000000000000111
====================

Decimal numbers and their binary values:
0 = 0000000000000000
1 = 0000000000000001
2 = 0000000000000010
3 = 0000000000000011
4 = 0000000000000100
5 = 0000000000000101
6 = 0000000000000110
7 = 0000000000000111
"""
# ==  !=  >  >=  <  <=  is  is not  in  not in = Comparisons, identity, and membership operators	
print(5 == 4 + 1)
"""
The "like" comparison has a lower precedence than addition, and we need to calculate the addition first.
The calculation above reads 5 == 5 = True
"""

# not = Logical NOT
print(not 5 == 5)
"""
The logical NOT operator has a lower precedence than "like" comparison, and we need to calculate the comparison first.
The calculation above reads: not True = False
"""

# and = AND
print(1 or 2 and 3)
"""
The and operator has a higher precedence than or, and we need to calculate the and expression first.
The calculation above reads: 1 or 3 = 1
"""

# or = OR
print(4 or 5 + 10 or 8)
"""
The or operator has a lower precedence than addition, and we need to calculate the addition first.
The calculation above reads: 4 or 15 or 8 = 4
"""

0
73
96
115
85
2
2
5
7
True
False
1
4

'\nThe or operator has a lower precedence than addition, and we need to calculate the addition first.\nThe calculation above reads: 4 or 15 or 8 = 4\n'

In [ ]:
print(5 + 4 - 7 + 3)

"""
Additions and subtractions have the same precedence, and we need to calculate from left to right.
The calculation above reads:
5 + 4 = 9
9 - 7 = 2
2 + 3 = 5
"""

5

'\nAdditions and subtractions have the same precedence, and we need to calculate from left to right.\nThe calculation above reads:\n5 + 4 = 9\n9 - 7 = 2\n2 + 3 = 5\n'


# Python Lists

`mylist = ["apple", "banana", "cherry"]`

## List

Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

Lists are created using square brackets:

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

## List 

List items are ordered, changeable, and allow duplicate values.

List items are indexed, the first item has index `[0]`, the second item has index `[1]` etc.

## Ordered

When we say that lists are ordered, it means that the items have a defined order, and that order will not change.

If you add new items to a list, the new items will be placed at the end of the list.

Note: There are some [list methods](https://www.w3schools.com/python/python_lists_methods.asp) that will change the order, but in general: the order of the items will not change.

## Changeable

The list is changeable, meaning that we can change, add, and remove items in a list after it has been created.

## Allow Duplicates

Since lists are indexed, lists can have items with the same value:

In [ ]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]

print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

## List Length

To determine how many items a list has, use the `len()` function:

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

## List Items - Data Types

List items can be of any data type:

In [ ]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

print(list1)
print(list2)
print(list3)

['apple', 'banana', 'cherry']
[1, 5, 7, 9, 3]
[True, False, False]

A list can contain different data types:

In [ ]:
list1 = ["abc", 34, True, 40, "male"]

print(list1)

['abc', 34, True, 40, 'male']

## type()

From Python's perspective, lists are defined as objects with the data type 'list':

`<class 'list'>`

In [ ]:
mylist = ["apple", "banana", "cherry"]

print(type(mylist))

<class 'list'>

## The list() Constructor

It is also possible to use the `list()` constructor when creating a new list.

In [ ]:
thislist = list(("apple", "banana", "cherry"))
print(thislist)

['apple', 'banana', 'cherry']

## Python Collections (Arrays)

There are four collection data types in the Python programming language:

- List is a collection which is ordered and changeable. Allows duplicate members.
- Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
- Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
- Dictionary is a collection which is ordered** and changeable. No duplicate members.

When choosing a collection type, it is useful to understand the properties of that type. Choosing the right type for a particular data set could mean retention of meaning, and, it could mean an increase in efficiency or security.

# Python - Access List Items

## Access Items

List items are indexed and you can access them by referring to the index number:

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

## Negative Indexing

Negative indexing means start from the end

`-1` refers to the last item, `-2` refers to the second last item etc.

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

## Range of Indexes

You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new list with the specified items.

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

#This will return the items from position 2 to 5.

#Remember that the first item is position 0,
#and note that the item in position 5 is NOT included

['cherry', 'orange', 'kiwi']

By leaving out the start value, the range will start at the first item:

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

#This will return the items from index 0 to index 4.

#Remember that index 0 is the first item, and index 4 is the fifth item
#Remember that the item in index 4 is NOT included

['apple', 'banana', 'cherry', 'orange']

By leaving out the end value, the range will go on to the end of the list:

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

#This will return the items from index 2 to the end.

#Remember that index 0 is the first item, and index 2 is the third

['cherry', 'orange', 'kiwi', 'melon', 'mango']

## Range of Negative Indexes

Specify negative indexes if you want to start the search from the end of the list:

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

#Negative indexing means starting from the end of the list.

#This example returns the items from index -4 (included) to index -1 (excluded)

#Remember that the last item has the index -1,

['orange', 'kiwi', 'melon']

# Check if Item Exists
To determine if a specified item is present in a list use the `in` keyword:

In [ ]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
    print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

# Python - Change List Items

Change Item Value

To change the value of a specific item, refer to the index number:

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"

print(thislist)

['apple', 'blackcurrant', 'cherry']

## Change a Range of Item Values

To change the value of items within a specific range, define a list with the new values, and refer to the range of index numbers where you want to insert the new values:

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]

thislist[1:3] = ["blackcurrant", "watermelon"]

print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

If you insert more items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly:

In [ ]:
thislist = ["apple", "banana", "cherry"]

thislist[1:2] = ["blackcurrant", "watermelon"]

print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

If you insert less items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly:

In [ ]:
thislist = ["apple", "banana", "cherry"]

thislist[1:3] = ["watermelon"]

print(thislist)

['apple', 'watermelon']

## Insert Items

To insert a new list item, without replacing any of the existing values, we can use the `insert()` method.

The `insert()` method inserts an item at the specified index:

In [ ]:
thislist = ["apple", "banana", "cherry"]

thislist.insert(2, "watermelon")

print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

## Append Items
To add an item to the end of the list, use the append() method:

In [ ]:
thislist = ["apple", "banana", "cherry"]

thislist.append("orange")

print(thislist)

['apple', 'banana', 'cherry', 'orange']

## Insert Items

To insert a list item at a specified index, use the insert() method.

The insert() method inserts an item at the specified index:

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

## Extend List

To append elements from another list to the current list, use the extend() method.

In [ ]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]

thislist.extend(tropical)

print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

## Add Any Iterable

The `extend()` method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.).

In [ ]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")

thislist.extend(thistuple)

print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

# Python - Remove List Items
###Remove Specified Item
The `remove()` method removes the specified item.

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

If there are more than one item with the specified value, the r`remove()` method removes the first occurrence:

In [ ]:
thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry', 'banana', 'kiwi']

## Remove Specified Index
The pop() method removes the specified index.

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

If you do not specify the index, the `pop()` method removes the last item.

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

The `del` keyword also removes the specified index:

In [ ]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

The `del` keyword can also delete the list completely.

In [ ]:
thislist = ["apple", "banana", "cherry"]
del thislist
print(thislist) #this will cause an error because you have succsesfully deleted "thislist".

NameError: name 'thislist' is not defined

## Clear the List
The clear() method empties the list.

The list still remains, but it has no content.

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist)
thislist.clear()
print(thislist)

['apple', 'banana', 'cherry']
[]

# Python - Loop Lists
## Loop Through a List
You can loop through the list items by using a `for` loop:

In [ ]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

Learn more about for loops in our [Python For Loops](https://www.w3schools.com/python/python_for_loops.asp) Chapter.

## Loop Through the Index Numbers
You can also loop through the list items by referring to their index number.

Use the `range()` and `len()` functions to create a suitable iterable.

In [ ]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

The iterable created in the example above is [0, 1, 2].

## Using a While Loop
You can loop through the list items by using a `while` loop.

Use the `len()` function to determine the length of the list, then start at 0 and loop your way through the list items by referring to their indexes.

Remember to increase the index by 1 after each iteration.

In [ ]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

Learn more about while loops in our Python While Loops Chapter.

## Looping Using List Comprehension

List Comprehension offers the shortest syntax for looping through lists:

In [ ]:
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

# Python - List Comprehension
## List Comprehension

List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

Example:

Based on a list of fruits, you want a new list, containing only the fruits with the letter "a" in the name.

Without list comprehension you will have to write a `for` statement with a conditional test inside:

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

With list comprehension you can do all that with only one line of code:

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

## The Syntax

`newlist = [expression for item in iterable if condition == True]`

The return value is a new list, leaving the old list unchanged.

### Condition

The condition is like a filter that only accepts the items that evaluate to `True`.

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if x != "apple"]

print(newlist)

['banana', 'cherry', 'kiwi', 'mango']

The condition `if x != "apple"`  will return `True` for all elements other than "apple", making the new list contain all fruits except "apple".

The condition is optional and can be omitted:

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits]

print(newlist)

['apple', 'banana', 'cherry', 'kiwi', 'mango']

### Iterable

The iterable can be any iterable object, like a list, tuple, set etc.

In [ ]:
newlist = [x for x in range(10)]

print(newlist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Same example, but with a condition:

In [ ]:
newlist = [x for x in range(10) if x < 5]

print(newlist)

[0, 1, 2, 3, 4]

### Expression

The *expression* is the current item in the iteration, but it is also the outcome, which you can manipulate before it ends up like a list item in the new list:

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x.upper() for x in fruits]

print(newlist)

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

You can set the outcome to whatever you like:

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = ['hello' for x in fruits]

print(newlist)

['hello', 'hello', 'hello', 'hello', 'hello']

The *expression* can also contain conditions, not like a filter, but as a way to manipulate the outcome:

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x if x != "banana" else "orange" for x in fruits]

print(newlist)

['apple', 'orange', 'cherry', 'kiwi', 'mango']

The expression in the example above says:

`"Return the item if it is not banana, if it is banana return orange"`.

# Python - Sort Lists
## Sort List Alphanumerically
List objects have a `sort()` method that will sort the list alphanumerically, ascending, by default:

In [ ]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]

thislist.sort()

print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [ ]:
thislist = [100, 50, 65, 82, 23]

thislist.sort()

print(thislist)

[23, 50, 65, 82, 100]

## Sort Descending
To sort descending, use the keyword argument `reverse = True`:

In [ ]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]

thislist.sort(reverse = True)

print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [ ]:
thislist = [100, 50, 65, 82, 23]

thislist.sort(reverse = True)

print(thislist)

[100, 82, 65, 50, 23]

## Customize Sort Function

You can also customize your own function by using the keyword argument `key = function`.

The function will return a number that will be used to sort the list (the lowest number first):

In [ ]:
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]

thislist.sort(key = myfunc)

print(thislist)

[50, 65, 23, 82, 100]

## Case Insensitive Sort
By default the `sort()` method is case sensitive, resulting in all capital letters being sorted before lower case letters:

In [ ]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]

thislist.sort()

print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

Luckily we can use built-in functions as key functions when sorting a list.

So if you want a case-insensitive sort function, use str.lower as a key function:

In [ ]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]

thislist.sort(key = str.lower)

print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

## Reverse Order
What if you want to reverse the order of a list, regardless of the alphabet?

The `reverse()` method reverses the current sorting order of the elements.

In [ ]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]

thislist.reverse()

print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

# Python - Copy Lists
## Copy a List
You cannot copy a list simply by typing `list2 = list1`, because: `list2` will only be a reference to `list 1`, and changes made in `list1` will automatically also be made in `list2`.

## Use the copy() method

You can use the built-in List method `copy()` to copy a list.

In [ ]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

## Use the list() method
Another way to make a copy is to use the built-in method `list()`.

In [ ]:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

## Use the slice Operator
You can also make a copy of a list by using the `:` (slice) operator.

In [ ]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist[:]
print(mylist)

['apple', 'banana', 'cherry']

# Python - Join Lists
## Join Two Lists
There are several ways to join, or concatenate, two or more lists in Python.

One of the easiest ways are by using the `+` operator.

In [ ]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

Another way to join two lists is by appending all the items from list2 into list1, one by one:

In [ ]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

Or you can use the `extend()` method, where the purpose is to add elements from one list to another list:

In [ ]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

# Python - List Methods
##List Methods
Python has a set of built-in methods that you can use on lists.

| Method | Description |
|---|---|
| append() | Adds an element at the end of the list |
| clear() | Removes all the elements from the list |
| copy() | Returns a copy of the list |
| count() | Returns the number of elements with the specified value |
| extend() | Add the elements of a list (or any iterable), to the end of the current list |
| index() | Returns the index of the first element with the specified value |
| insert() | Adds an element at the specified position |
| pop() | Removes the element at the specified position |
| remove() | Removes the item with the specified value |
| reverse() | Reverses the order of the list |
| sort() | Sorts the list |

# Python Tuples
`mytuple = ("apple", "banana", "cherry")`
## Tuple
Tuples are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.

In [1]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

## Tuple Items
Tuple items are ordered, unchangeable, and allow duplicate values.

Tuple items are indexed, the first item has index `[0]`, the second item has index `[1]` etc.

## Ordered
When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.

## Unchangeable
Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

## Allow Duplicates
Since tuples are indexed, they can have items with the same value:

In [2]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

## Tuple Length
To determine how many items a tuple has, use the `len()` function:

In [3]:
thistuple = tuple(("apple", "banana", "cherry"))
print(len(thistuple))

3

## Create Tuple With One Item
To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.

In [4]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

## Tuple Items - Data Types
Tuple items can be of any data type:

In [5]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

print(tuple1)
print(tuple2)
print(tuple3)

('apple', 'banana', 'cherry')
(1, 5, 7, 9, 3)
(True, False, False)

A tuple can contain different data types:

In [6]:
tuple1 = ("abc", 34, True, 40, "male")

print(tuple1)

('abc', 34, True, 40, 'male')

## type()
From Python's perspective, tuples are defined as objects with the data type 'tuple':

`<class 'tuple'>`

In [7]:
mytuple = ("apple", "banana", "cherry")

print(type(mytuple))

<class 'tuple'>

## The tuple() Constructor
It is also possible to use the `tuple()` constructor to make a tuple.

In [8]:
thistuple = tuple(("apple", "banana", "cherry"))
print(thistuple)

('apple', 'banana', 'cherry')

## Python Collections (Arrays)
There are four collection data types in the Python programming language:

- **List** is a collection which is ordered and changeable. Allows duplicate members.
- **Tuple** is a collection which is ordered and unchangeable. Allows duplicate members.
- **Set** is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
- **Dictionary** is a collection which is ordered** and changeable. No duplicate members.

When choosing a collection type, it is useful to understand the properties of that type. Choosing the right type for a particular data set could mean retention of meaning, and, it could mean an increase in efficiency or security.

## Python Tuples

`mytuple = ("apple", "banana", "cherry")`

### Tuple

Tuples are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.

In [1]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

### Tuple Items

Tuple items are ordered, unchangeable, and allow duplicate values.

Tuple items are indexed, the first item has index `[0]`, the second item has index `[1]` etc.

### Ordered

When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.

### Unchangeable

Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

### Allow Duplicates

Since tuples are indexed, they can have items with the same value:

In [2]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

### Tuple Length

To determine how many items a tuple has, use the `len()` function:

In [3]:
thistuple = tuple(("apple", "banana", "cherry"))
print(len(thistuple))

3

### Create Tuple With One Item

To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.

In [4]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

### Tuple Items - Data Types

Tuple items can be of any data type:

In [5]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

print(tuple1)
print(tuple2)
print(tuple3)

('apple', 'banana', 'cherry')
(1, 5, 7, 9, 3)
(True, False, False)

A tuple can contain different data types:

In [6]:
tuple1 = ("abc", 34, True, 40, "male")

print(tuple1)

('abc', 34, True, 40, 'male')

### type()

From Python's perspective, tuples are defined as objects with the data type 'tuple':

`<class 'tuple'>`

In [7]:
mytuple = ("apple", "banana", "cherry")

print(type(mytuple))

<class 'tuple'>

### The tuple() Constructor

It is also possible to use the tuple() constructor to make a tuple.

In [8]:
thistuple = tuple(("apple", "banana", "cherry"))
print(thistuple)

('apple', 'banana', 'cherry')

### Python Collections (Arrays)

There are four collection data types in the Python programming language:

- **List** is a collection which is ordered and changeable. Allows duplicate members.
- **Tuple** is a collection which is ordered and unchangeable. Allows duplicate members.
- **Set** is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
- **Dictionary** is a collection which is ordered** and changeable. No duplicate members.


When choosing a collection type, it is useful to understand the properties of that type. Choosing the right type for a particular data set could mean retention of meaning, and, it could mean an increase in efficiency or security.

## Python - Access Tuple Items

### Access Tuple Items

You can access tuple items by referring to the index number, inside square brackets:

In [9]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

### Negative Indexing

Negative indexing means start from the end.

`-1` refers to the last item, `-2` refers to the second last item etc.

In [10]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

### Range of Indexes

You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new tuple with the specified items.

In [11]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

#This will return the items from position 2 to 5.

#Remember that the first item is position 0,
#and note that the item in position 5 is NOT included

('cherry', 'orange', 'kiwi')

By leaving out the start value, the range will start at the first item:

In [12]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")

print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

By leaving out the end value, the range will go on to the end of the tuple:

In [14]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")

print(thistuple[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

### Range of Negative Indexes
Specify negative indexes if you want to start the search from the end of the tuple:

In [15]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

#Negative indexing means starting from the end of the tuple.

#This example returns the items from index -4 (included) to index -1 (excluded)

#Remember that the last item has the index -1,

('orange', 'kiwi', 'melon')

### Check if Item Exists

To determine if a specified item is present in a tuple use the in keyword:

In [16]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
    print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

## Python - Update Tuples
Tuples are unchangeable, meaning that you cannot change, add, or remove items once the tuple is created.

But there are some workarounds.

### Change Tuple Values
Once a tuple is created, you cannot change its values. Tuples are **unchangeable**, or **immutable** as it also is called.

But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [17]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

### Add Items

Since tuples are immutable, they do not have a built-in `append()` method, but there are other ways to add items to a tuple.

1. **Convert into a list**: Just like the workaround for changing a tuple, you can convert it into a list, add your item(s), and convert it back into a tuple.

In [18]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

2. **Add tuple to a tuple**. You are allowed to add tuples to tuples, so if you want to add one item, (or many), create a new tuple with the item(s), and add it to the existing tuple:

In [19]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

### Remove Items

Tuples are **unchangeable**, so you cannot remove items from it, but you can use the same workaround as we used for changing and adding tuple items:

In [20]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)

print(thistuple)

('banana', 'cherry')

Or you can delete the tuple completely:

In [27]:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

NameError: name 'thistuple' is not defined

## Python - Unpack Tuples

### Unpacking a Tuple

When we create a tuple, we normally assign values to it. This is called "packing" a tuple:

In [28]:
fruits = ("apple", "banana", "cherry")

print(fruits)

('apple', 'banana', 'cherry')

But, in Python, we are also allowed to extract the values back into variables. This is called "unpacking":

In [29]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

## Using Asterisk`*`
If the number of variables is less than the number of values, you can add an `*` to the variable name and the values will be assigned to the variable as a list:

In [30]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

If the asterisk is added to another variable name than the last, Python will assign values to the variable until the number of values left matches the number of variables left.

In [31]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

## Python - Loop Tuples

### Loop Through a Tuple

You can loop through the tuple items by using a `for` loop.

In [1]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
    print(x)

apple
banana
cherry

Learn more about `for` loops in our Python For Loops Chapter.

### Loop Through the Index Numbers

You can also loop through the tuple items by referring to their index number.

Use the `range()` and `len()` functions to create a suitable iterable.

In [3]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
    print(thistuple[i])

apple
banana
cherry

### Using a While Loop

You can loop through the tuple items by using a `while` loop.

Use the `len()` function to determine the length of the tuple, then start at 0 and loop your way through the tuple items by referring to their indexes.

Remember to increase the index by 1 after each iteration.

In [4]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
    print(thistuple[i])
    i = i + 1

apple
banana
cherry

Learn more about while loops in our Python While Loops Chapter.

## Python - Join Tuples

### Join Two Tuples

To join two or more tuples you can use the + operator:

In [5]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

### Multiply Tuples

If you want to multiply the content of a tuple a given number of times, you can use the `*` operator:

In [8]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

## Python - Tuple Methods

### Tuple Methods

Python has two built-in methods that you can use on tuples.

| Method | Description |
|---|---|
| count() | Returns the number of times a specified value occurs in a tuple |
| index() | Searches the tuple for a specified value and returns the position of where it was found |

In [ ]:
# Python Tuple count() Method

thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.count(5)

print(x)

### Definition and Usage

The `count()` method returns the number of times a specified value appears in the tuple.

#### Syntax

`tuple.count(value)`
#### Parameter Values
| Parameter | Description |
|---|---|
| value | Required. The item to search for |

#### Python Tuple index() Method

In [9]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.index(8)

print(x)

3

#### Definition and Usage

The `index()` method finds the first occurrence of the specified value.

The `index()` method raises an exception if the value is not found.

#### Syntax

`tuple.index(value)`

#### Parameter Values
| Parameter | Description |
|---|---|
| value | Required. The item to search for |

## Python Sets

`myset = {"apple", "banana", "cherry"}`

### Set

Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

A set is a collection which is unordered, unchangeable*, and unindexed.

* Note: Set items are unchangeable, but you can remove items and add new items.

Sets are written with curly brackets.

In [10]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

# Note: the set list is unordered, meaning: the items will appear in a random order.

# Refresh this page to see the change in the result.

{'cherry', 'apple', 'banana'}

### Set Items

Set items are unordered, unchangeable, and do not allow duplicate values.

### Unordered

Unordered means that the items in a set do not have a defined order.

Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

### Unchangeable

Set items are unchangeable, meaning that we cannot change the items after the set has been created.

### Duplicates Not Allowed

Sets cannot have two items with the same value.

In [11]:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'cherry', 'apple', 'banana'}

In [13]:
thisset = {"apple", "banana", "cherry", True, 1, 2}

print(thisset)

{'cherry', True, 2, 'banana', 'apple'}

In [14]:
thisset = {"apple", "banana", "cherry", False, True, 0}

print(thisset)

{'cherry', False, True, 'banana', 'apple'}

### Get the Length of a Set

To determine how many items a set has, use the `len()` function.

In [15]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

### Set Items - Data Types

Set items can be of any data type:

In [16]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

print(set1)
print(set2)
print(set3)

{'cherry', 'apple', 'banana'}
{1, 3, 5, 7, 9}
{False, True}

A set can contain different data types:

In [17]:
set1 = {"abc", 34, True, 40, "male"}

print(set1)

{'abc', True, 34, 'male', 40}

### type()

From Python's perspective, sets are defined as objects with the data type 'set':

`<class 'set'>`

In [18]:
myset = {"apple", "banana", "cherry"}

print(type(myset))

<class 'set'>

### The set() Constructor

It is also possible to use the `set()` constructor to make a set.

In [19]:
thisset = set(("apple", "banana", "cherry"))
print(thisset)
# Note: the set list is unordered, so the result will display the items in a random order.

{'cherry', 'apple', 'banana'}

### Python Collections (Arrays)

There are four collection data types in the Python programming language:

- **List** is a collection which is ordered and changeable. Allows duplicate members.
- **Tuple** is a collection which is ordered and unchangeable. Allows duplicate members.
- **Set** is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
- **Dictionary** is a collection which is ordered** and changeable. No duplicate members.

*Set items are unchangeable, but you can remove items and add new items.

**As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

When choosing a collection type, it is useful to understand the properties of that type. Choosing the right type for a particular data set could mean retention of meaning, and, it could mean an increase in efficiency or security.

## Python - Access Set Items

### Access Items 

You cannot access items in a set by referring to an index or a key.

But you can loop through the set items using a `for` loop, or ask if a specified value is present `in` a set, by using the in keyword.

In [20]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
    print(x)

cherry
apple
banana

In [21]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

In [22]:
thisset = {"apple", "banana", "cherry"}

print("banana" not in thisset)

False

## Python - Add Set Items

To add one item to a set use the `add()` method.

In [23]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'cherry', 'orange', 'apple', 'banana'}

### Add Sets

To add items from another set into the current set, use the update() method.

In [24]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'cherry', 'pineapple', 'mango', 'banana', 'apple', 'papaya'}

### Add Any Iterable

The object in the `update()` method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).

In [25]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'cherry', 'orange', 'kiwi', 'banana', 'apple'}

In [25]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    
    def greet(self):
        print(f"Hi, I'm {self.name} and I'm {self.age} years old.")

p1 = Person("John Conor", 36)
p1.greet()

Hi, I'm John Conor and I'm 36 years old.