In [17]:
#y = input('nombre: ')

#print(f"mi nombre es {y}")

## Variables

In [18]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [19]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [20]:
x = str(3)      # x will be '3'
y = int(3)      # y will be 3
z = float(3)    # z will be 3.0

print(x)
print(y)
print(z)

3
3
3.0

### Get the Type

In [21]:
x = 5
y = "John"

print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

## Variable Names

In [22]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"


print(myvar)
print(my_var)
print(_my_var)
print(myVar)
print(MYVAR)
print(myvar2)

John
John
John
John
John
John

In [23]:
# Camel Case
# Each word, except the first, starts with a capital letter:

myVariableName = "John"
print(myVariableName)

John

In [24]:
# Pascal Case
# Each word starts with a capital letter:

MyVariableName = "John"
print(MyVariableName)

John

In [25]:
# Snake Case
# Each word is separated by an underscore character:

my_variable_name = "John"
print(my_variable_name)

John

## Python Variables - Assign Multiple Values

### Many Values to Multiple Variables

In [26]:
x, y, z = "Orange", "Banana", "Cherry"

print(x)
print(y)
print(z)

Orange
Banana
Cherry

### One Value to Multiple Variables

In [27]:
x = y = z = "Orange"

print(x)
print(y)
print(z)

Orange
Orange
Orange

### Unpack a Collection

In [28]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

## Python - Output Variables

In [29]:
x = "Python is awesome"
print(x)

Python is awesome

In [30]:
x = "Python"
y = "is"
z = "awesome"

print(x,y,z)

Python is awesome

In [31]:
x = "Python"
y = "is"
z = "awesome"

print(x+y+z)

Pythonisawesome

In [32]:
x = 5
y = 10
print(x + y)

15

In [33]:
x = 5
y = "John"
print(x, y)

5 John

## Python - Global Variables

### Global Variables

In [34]:
x = "awesome"

def myfunc():
    print("Python is "+ x)

myfunc()

Python is awesome

In [35]:
x = "awesome"

def myfunc():
    x = "fantastic"
    print("Python is "+ x)

myfunc()

print("Python is "+ x)

Python is fantastic
Python is awesome

### The global Keyword

In [36]:
def myfunc():
    global x
    x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [37]:
x = "awesomr"

def myfunc():
    global x
    x = "fantastic"

myfunc()

print("Python is "+x)

Python is fantastic

In [38]:
if 5>2:
    print("Five is greater than two!")

Five is greater than two!

## Python Data Types

### Built-in Data Types

In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

Text Type:	`str`

Numeric Types:	`int`, `float`, `complex`

Sequence Types:	`list`, `tuple`, `range`

Mapping Type:	`dict`

Set Types:	`set`, `frozenset`

Boolean Type:	`bool`

Binary Types:	`bytes`, `bytearray`, `memoryview`

None Type:	`NoneType`

### Getting the Data Type

You can get the data type of any object by using the `type()` function:

In [39]:
x = 5
print(type(x))

<class 'int'>

### Setting the Data Type

In Python, the data type is set when you assign a value to a variable:

|Example	Data Type | Try it|
|---|---|
| x = "Hello World" | str |
|x = 20 | int |
|x = 20.5 | float |
|x = 1j | complex |
|x = ["apple", "banana", "cherry"] | list |
|x = ("apple", "banana", "cherry") | tuple |
|x = range(6) | range |
|x = {"name" : "John", "age" : 36} | dict |
|x = {"apple", "banana", "cherry"} | set |
|x = frozenset({"apple", "banana", "cherry"}) | frozenset |
|x = True | bool |
|x = b"Hello" |bytes |
|x = bytearray(5) | bytearray |
|x = memoryview(bytes(5)) | memoryview |
|x = None | NoneType |

In [40]:
# str	
x = "Hello World"

print(x)
print(type(x))  

# int	
x = 20

print(x)
print(type(x)) 	

# float
x = 20

print(x)
print(type(x))

# complex
x = 1j

print(x)
print(type(x))

# list
x = ["apple", "banana", "cherry"]

print(x)
print(type(x))

# tuple
x = ("apple", "banana", "cherry")

print(x)
print(type(x))

# range
x = range(6)

print(x)
print(type(x))

# dict
x = {"name" : "John", "age" : 36}

print(x)
print(type(x))

# set 
x = {"apple", "banana", "cherry"}

print(x)
print(type(x)) 

# frozenset	
x = frozenset({"apple", "banana", "cherry"})

print(x)
print(type(x))

# bool
x = True

print(x)
print(type(x)) 

# bytes
x = b"Hello"

print(x)
print(type(x)) 

# bytearray

x = bytearray(5)

print(x)
print(type(x))

# memoryview
x = memoryview(bytes(5))

print(x)
print(type(x))

# NoneType
x = None

print(x)
print(type(x))

Hello World
<class 'str'>
20
<class 'int'>
20
<class 'int'>
1j
<class 'complex'>
['apple', 'banana', 'cherry']
<class 'list'>
('apple', 'banana', 'cherry')
<class 'tuple'>
range(0, 6)
<class 'range'>
{'name': 'John', 'age': 36}
<class 'dict'>
{'banana', 'apple', 'cherry'}
<class 'set'>
frozenset({'banana', 'apple', 'cherry'})
<class 'frozenset'>
True
<class 'bool'>
b'Hello'
<class 'bytes'>
bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>
<memory at 0x000001837F751C00>
<class 'memoryview'>
None
<class 'NoneType'>

### Setting the Specific Data Type
If you want to specify the data type, you can use the following constructor functions:

| Example | Data Type |
|---|---|
| x = str("Hello World") | str |
| x = int(20) | int |
| x = float(20.5) | float |
| x = complex(1j) | complex |
| x = list(("apple", "banana", "cherry")) | list |
| x = tuple(("apple", "banana", "cherry")) | tuple |
| x = range(6) | range |
| x = dict(name="John", age=36) | dict |
| x = set(("apple", "banana", "cherry")) | set |
| x = frozenset(("apple", "banana", "cherry")) | frozenset |
| x = bool(5) | bool |
| x = bytes(5) | bytes |
| x = bytearray(5) | bytearray |
| x = memoryview(bytes(5)) | memoryview |

In [41]:
# str	
x = str("Hello World")

print(x)
print(type(x))  

# int	
x = int(20)

print(x)
print(type(x))

# float
x = float(20.5)

print(x)
print(type(x)) 

# complex
x = complex(1j)

print(x)
print(type(x)) 

# list
x = list(("apple", "banana", "cherry"))

print(x)
print(type(x)) 

# tuple
x = tuple(("apple", "banana", "cherry"))

print(x)
print(type(x))

# range
x = range(6)

print(x)
print(type(x))

# dict
x = dict(name="John", age=36)

print(x)
print(type(x)) 

# set 
x = set(("apple", "banana", "cherry"))

print(x)
print(type(x)) 


# frozenset	
x = frozenset(("apple", "banana", "cherry"))

print(x)
print(type(x)) 

# bool
x = bool(5)

print(x)
print(type(x)) 

# bytes
x = bytes(5)

print(x)
print(type(x))  

# bytearray
x = bytearray(5)

print(x)
print(type(x)) 

# memoryview
x = memoryview(bytes(5))

print(x)
print(type(x))

Hello World
<class 'str'>
20
<class 'int'>
20.5
<class 'float'>
1j
<class 'complex'>
['apple', 'banana', 'cherry']
<class 'list'>
('apple', 'banana', 'cherry')
<class 'tuple'>
range(0, 6)
<class 'range'>
{'name': 'John', 'age': 36}
<class 'dict'>
{'banana', 'apple', 'cherry'}
<class 'set'>
frozenset({'banana', 'apple', 'cherry'})
<class 'frozenset'>
True
<class 'bool'>
b'\x00\x00\x00\x00\x00'
<class 'bytes'>
bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>
<memory at 0x000001837F751C00>
<class 'memoryview'>

## Python Numbers

There are three numeric types in Python:

- int
- float
- complex

Variables of numeric types are created when you assign a value to them:

In [42]:
x = 1
y = 2.8
z = 1j

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

To verify the type of any object in Python, use the type() function:

## Int

Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length.

In [43]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

## Float

Float, or "floating point number" is a number, positive or negative, containing one or more decimals.

In [44]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

Float can also be scientific numbers with an "e" to indicate the power of 10.

In [45]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

## Complex

Complex numbers are written with a "j" as the imaginary part:

In [46]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

## Type Conversion

You can convert from one type to another with the int(), float(), and complex() methods:

In [47]:
#convert from int to float:
x = float(1)

#convert from float to int:
y = int(2.8)

#convert from int to complex:
z = complex(1)

print(x)
print(y)
print(z)

print(type(x))
print(type(y))
print(type(z))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

## Random Number

Python does not have a `random()` function to make a random number, but Python has a built-in module called `random` that can be used to make random numbers:

In [48]:
import random

print(random.randrange(1, 16))

13

## Python Casting
### Specify a Variable Type

There may be times when you want to specify a type on to a variable. This can be done with casting. Python is an object-orientated language, and as such it uses classes to define data types, including its primitive types.

Casting in python is therefore done using constructor functions:

- `int()` - constructs an integer number from an integer literal, a float literal (by removing all decimals), or a string literal (providing the string represents a whole number)
- `float()` - constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer)
- `str()` - constructs a string from a wide variety of data types, including strings, integer literals and float literals

In [49]:
x = int(1)
y = int(2.8)
z = int("3")
print(x)
print(y)
print(z)

1
2
3

In [50]:
x = float(1)
y = float(2.8)
z = float("3")
w = float("4.2")
print(x)
print(y)
print(z)
print(w)

1.0
2.8
3.0
4.2

In [51]:
x = str("s1")
y = str(2)
z = str(3.0)
print(x)
print(y)
print(z)

s1
2
3.0

## Python Strings
### Strings

Strings in python are surrounded by either single quotation marks, or double quotation marks.

`'hello'` is the same as `"hello"`.

You can display a string literal with the `print()` function:

In [52]:
print("Hello")
print('Hello')

Hello
Hello

## Quotes Inside Quotes

You can use quotes inside a string, as long as they don't match the quotes surrounding the string:

In [53]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

## Assign String to a Variable

Assigning a string to a variable is done with the variable name followed by an equal sign and the string:

In [54]:
a = "Hello"
print(a)

Hello

## Multiline Strings

You can assign a multiline string to a variable by using three quotes:

In [55]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

Or three single quotes:

In [56]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

### Strings are Arrays

Like many other popular programming languages, strings in Python are arrays of unicode characters.

However, Python does not have a character data type, a single character is simply a string with a length of 1.

Square brackets can be used to access elements of the string.

In [57]:
a = "Hello, World!"
print(a[1])

e

### Looping Through a String

Since strings are arrays, we can loop through the characters in a string, with a for loop.

In [58]:
for x in "banana":
    print(x)

b
a
n
a
n
a

### String Length

To get the length of a string, use the len() function.

In [59]:
a = "Hello, World!"
print(len(a))

13

### Check String

To check if a certain phrase or character is present in a string, we can use the keyword in.

In [60]:
txt = "The best things in life are free!"
print("free" in txt)

True

Use it in an if statement:

In [61]:
txt = "The best things in life are free!"
if "free" in txt:
    print("Yes, 'free' is present.")

Yes, 'free' is present.

### Check if NOT

To check if a certain phrase or character is NOT present in a string, we can use the keyword not in.

In [62]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

Use it in an `if` statement:

In [63]:
txt = "The best things in life are free!"
if "expensive" not in txt:
    print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

# Python - Slicing Strings

## Slicing

You can return a range of characters by using the slice syntax.

Specify the start index and the end index, separated by a colon, to return a part of the string.

In [64]:
b = "Hello, World!"
print(b[2:5])

llo

## Slice From the Start

By leaving out the start index, the range will start at the first character:

In [65]:
b = "Hello, world!"
print(b[:5])

Hello

## Slice To the End

By leaving out the end index, the range will go to the end:

In [66]:
b = "hello world!"
print(b[2:])

llo world!

## Negative Indexing

Use negative indexes to start the slice from the end of the string:

In [67]:
b = "Hello, world!"
print(b[-5:-2])

orl

# Python - Modify Strings

Python has a set of built-in methods that you can use on strings.

## Upper Case

In [68]:
a = "Hello world!"
print(a.upper())

HELLO WORLD!

## Lower Case

In [69]:
a = "Hello, world!"
print(a.lower())

hello, world!

## Remove Whitespace

Whitespace is the space before and/or after the actual text, and very often you want to remove this space.

In [70]:
a = " Hello, World! "
print(a.strip())

Hello, World!

## Replace String

In [71]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

## Split String

The `split()` method returns a list where the text between the specified separator becomes the list items.

In [72]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

In [73]:
a = "hello, world!"
print(a.capitalize()) # returns ['Hello', ' World!']

Hello, world!

# String Concatenation

To concatenate, or combine, two strings you can use the + operator.

In [74]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [75]:
# To add a space between them, add a " ":

a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

# Python - Format - Strings

## String Format

As we learned in the Python Variables chapter, we cannot combine strings and numbers like this:

In [76]:
age = 36
#This will produce an error:
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

But we can combine strings and numbers by using f-strings or the format() method!

## F-Strings

F-String was introduced in Python 3.6, and is now the preferred way of formatting strings.

To specify a string as an f-string, simply put an `f` in front of the string literal, and add curly brackets ``{}`` as placeholders for variables and other operations.

In [ ]:
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

## Placeholders and Modifiers

A placeholder can contain variables, operations, functions, and modifiers to format the value.

In [ ]:
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

A placeholder can include a modifier to format the value.

A modifier is included by adding a colon `:` followed by a legal formatting type, like `.2f` which means fixed point number with 2 decimals:

In [ ]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

A placeholder can contain Python code, like math operations:

In [ ]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

## Escape Character

To insert characters that are illegal in a string, use an escape character.

An escape character is a backslash `\` followed by the character you want to insert.

An example of an illegal character is a double quote inside a string that is surrounded by double quotes:

To fix this problem, use the escape character `\"`:

In [ ]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

Escape Characters
Other escape characters used in Python:

| Code | Result |
|---|---|
| \' | Single Quote |	
| \\ | Backslash | 
| \n | New Line|	
| \r | Carriage Return |
| \t | Tab |	
| \b | Backspace |	
| \f | Form Feed |	
| \ooo | Octal value |	
| \xhh | Hex value |

In [ ]:
# Single Quote
txt = 'It\'s alright.'
print(txt) 

# Backslash
txt = "This will insert one \\ (backslash)."
print(txt) 

# New Line
txt = "Hello\nWorld!"
print(txt)

# Carriage Return
txt = "Hello\rWorld!"
print(txt) 

# Tab
txt = "Hello\tWorld!"
print(txt) 

# Backspace
txt = "Hello \bWorld!"
print(txt) 
	
# Octal value
txt = "\110\145\154\154\157"
print(txt)

# Hex value
txt = "\x48\x65\x6c\x6c\x6f"
print(txt)

It's alright.
This will insert one \ (backslash).
Hello
World!
World!
Hello	World!
HelloWorld!
Hello
Hello

# Python - String Methods

## String Methods

Python has a set of built-in methods that you can use on strings.

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(f" mi nombre es {p1.name} y tengo {p1.age}")
print(p1.age)

 mi nombre es John y tengo 36
36

# Python - String Methods
## String Methods
Python has a set of built-in methods that you can use on strings.

In [ ]:
# capitalize() = Converts the first character to upper case
txt = "hello, and welcome to my world."
x = txt.capitalize()
print (x)

# casefold() = Converts string into lower case
txt = "Hello, And Welcome To My World!"
x = txt.casefold()
print(x)

# center() = Returns a centered string
txt = "banana"
x = txt.center(20)
print(x)

# count() = Returns the number of times a specified value occurs in a string
txt = "I love apples, apple are my favorite fruit"
x = txt.count("apple")
print(x)

# encode() = Returns an encoded version of the string
txt = "My name is Ståle"
x = txt.encode()
print(x)

# endswith() = Returns true if the string ends with the specified value
txt = "Hello, welcome to my world."
x = txt.endswith(".")
print(x)

Hello, and welcome to my world.
hello, and welcome to my world!
       banana
2
b'My name is St\xc3\xa5le'
True

In [ ]:
# expandtabs() = Sets the tab size of the string
txt = "H\te\tl\tl\to"
x =  txt.expandtabs(2)
print(x)

# find() = Searches the string for a specified value and returns the position of where it was found
txt = "Hello, welcome to my world."
x = txt.find("welcome")
print(x)

# format() = Formats specified values in a string
txt = "For only {price:.2f} dollars!"
print(txt.format(price = 49))

# format_map() = Formats specified values in a string
persona = {
    "nombre": "Mario",
    "edad": 30,
    "ciudad": "Bogotá"
}

mensaje = "Hola, me llamo {nombre}, tengo {edad} años y vivo en {ciudad}.".format_map(persona)
print(mensaje)

# index() = Searches the string for a specified value and returns the position of where it was found
txt = "Hello, welcome to my world."
x = txt.index("welcome")
print(x)

# isalnum() = Returns True if all characters in the string are alphanumeric
txt = "Company12"
x = txt.isalnum()
print(x)

# isalpha() = Returns True if all characters in the string are in the alphabet
txt = "CompanyX"
x = txt.isalpha()
print(x)

# isascii() = Returns True if all characters in the string are ascii characters
txt = "Company123"
x = txt.isascii()
print(x)

# isdecimal() = Returns True if all characters in the string are decimals
txt = "1234"
x = txt.isdecimal()
print(x)

# isdigit() = Returns True if all characters in the string are digits
txt = "50800"
x = txt.isdigit()
print(x)

# isidentifier() = Returns True if the string is an identifier
txt = "hello world!"
x = txt.islower()
print(x)

# islower() = Returns True if all characters in the string are lower case
txt = "hello world!"
x = txt.islower()
print(x)

# isnumeric() = Returns True if all characters in the string are numeric
txt = "565543"
x = txt.isnumeric()
print(x)

# isprintable() = Returns True if all characters in the string are printable
txt = "Hello! Are you #1?"
x = txt.isprintable()
print(x)

# isspace() = Returns True if all characters in the string are whitespaces
txt = "  "
x = txt.isspace()
print(x)

# istitle() = Returns True if the string follows the rules of a title
txt = "Hello, And Welcome To My World!"
x = txt.istitle()
print(x)

# isupper() = Returns True if all characters in the string are upper case
txt = "THIS IS NOW!"
x = txt.isupper()
print(x)

# join() = Joins the elements of an iterable to the end of the string
myTuple = ("John", "Peter", "Vicky")
x = "#".join(myTuple)
print(x)

# ljust() = Returns a left justified version of the string
txt = "banana"
x = txt.ljust(20)
print(x, "is my favorite fruit.")

# lower() = Converts a string into lower case
txt = "Hello my FRIENDS"
x = txt.lower()
print(x)

# lstrip() = Returns a left trim version of the string
txt = "     banana     "
x = txt.lstrip()
print("of all fruits", x, "is my favorite")

# maketrans() = Returns a translation table to be used in translations
txt = "Hello Sam!"
mytable = str.maketrans("S", "P")
print(txt.translate(mytable))

# partition() = Returns a tuple where the string is parted into three parts
txt = "I could eat bananas all day"
x = txt.partition("bananas")
print(x)

# replace() = Returns a string where a specified value is replaced with a specified value
txt = "I like bananas"
x = txt.replace("bananas", "apples")
print(x)

#  rfind() = Searches the string for a specified value and returns the last position of where it was found
txt = "Mi casa, su casa."
x = txt.rfind("casa")
print(x)

# rindex() = Searches the string for a specified value and returns the last position of where it was found
txt = "Mi casa, su casa."
x = txt.rindex("casa")
print(x)

H e l l o
7
For only 49.00 dollars!
Hola, me llamo Mario, tengo 30 años y vivo en Bogotá.
7
True
True
True
True
True
True
True
True
True
True
True
True
John#Peter#Vicky
banana               is my favorite fruit.
hello my friends
of all fruits banana      is my favorite
Hello Pam!
('I could eat ', 'bananas', ' all day')
I like apples
12
12

In [ ]:
# rjust() = Returns a right justified version of the string
txt = "banana"
x = txt.rjust(20)
print(x, "is my favorite fruit.")

# rpartition() = Returns a tuple where the string is parted into three parts
txt = "I could eat bananas all day, bananas are my favorite fruit"
x = txt.rpartition("bananas")
print(x)

# rsplit() = Splits the string at the specified separator, and returns a list
txt = "apple, banana, cherry"
x = txt.rsplit(", ")
print(x)

# rstrip() = Returns a right trim version of the string
txt = "     banana     "
x = txt.rstrip()
print("of all fruits", x, "is my favorite")

# split() = Splits the string at the specified separator, and returns a list
txt = "welcome to the jungle"
x = txt.split()
print(x)

# splitlines() = Splits the string at line breaks and returns a list
txt = "Thank you for the music\nWelcome to the jungle"
x = txt.splitlines()
print(x)

# startswith() = Returns true if the string starts with the specified value
txt = "Hello, welcome to my world."
x = txt.startswith("Hello")
print(x)

# strip() = Returns a trimmed version of the string
txt = "     banana     "
x = txt.strip()
print("of all fruits", x, "is my favorite")

# swapcase() = Swaps cases, lower case becomes upper case and vice versa
txt = "Hello My Name Is PETER"
x = txt.swapcase()
print(x)

# title() = Converts the first character of each word to upper case
txt = "Welcome to my world"
x = txt.title()
print(x)

# translate() = Returns a translated string
#use a dictionary with ascii codes to replace 83 (S) with 80 (P):
mydict = {83:  80}
txt = "Hello Sam!"
print(txt.translate(mydict))

# upper() = Converts a string into upper case
txt = "Hello my friends"
x = txt.upper()
print(x)

# zfill() = Fills the string with a specified number of 0 values at the beginning
txt = "50"
x = txt.zfill(10)
print(x)

              banana is my favorite fruit.
('I could eat bananas all day, ', 'bananas', ' are my favorite fruit')
['apple', 'banana', 'cherry']
of all fruits      banana is my favorite
['welcome', 'to', 'the', 'jungle']
['Thank you for the music', 'Welcome to the jungle']
True
of all fruits banana is my favorite
hELLO mY nAME iS peter
Welcome To My World
Hello Pam!
HELLO MY FRIENDS
0000000050

# Python Booleans

Booleans represent one of two values: `True` or `False`.

## Boolean Values

In programming you often need to know if an expression is ``True`` or ``False``.

You can evaluate any expression in Python, and get one of two answers, True or False.

When you compare two values, the expression is evaluated and Python returns the Boolean answer:

In [ ]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

When you run a condition in an if statement, Python returns `True` or `False`:

In [ ]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

## Evaluate Values and Variables

The `bool()` function allows you to evaluate any value, and give you `True` or `False` in return,

In [ ]:
print(bool("Hello"))
print(bool(15))

True
True

In [ ]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

## Most Values are True

Almost any value is evaluated to `True` if it has some sort of content.

Any string is `True`, except empty strings.

Any number is `True`, except `0`.

Any list, tuple, set, and dictionary are `True`, except empty ones.

In [ ]:
print(bool("abc"))
print(bool(123))
print(bool(["apple", "cherry", "banana"]))

True
True
True

## Some Values are False

In fact, there are not many values that evaluate to `False`, except empty values, such as `()`, `[]`, `{}`, "", the number `0`, and the value `None`. And of course the value `False` evaluates to `False`.

In [ ]:
print(bool(False))
print(bool(None))
print(bool(0))
print(bool(""))
print(bool(()))
print(bool([]))
print(bool({}))

False
False
False
False
False
False
False

One more value, or object in this case, evaluates to `False`, and that is if you have an object that is made from a class with a `__len__` function that returns `0` or `False`:

In [ ]:
class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False

## Functions can Return a Boolean

You can create functions that returns a Boolean Value:

In [ ]:
def myFunction() :
  return True

print(myFunction())

True

You can execute code based on the Boolean answer of a function:

In [ ]:
def myFunction() :
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

Python also has many built-in functions that return a boolean value, like the `isinstance()` function, which can be used to determine if an object is of a certain data type:

In [ ]:
x = 200
print(isinstance(x, int))

True

# Python Arithmetic Operators

Arithmetic operators are used with numeric values to perform common mathematical operations:

| Operator | Name | Example |
|---|---|---|
| + | Addition | x + y |
| - | Subtraction | x - y |	
| * | Multiplication | x * y |
| / | Division | x / y |	
| %| Modulus | x % y |	
| ** | Exponentiation | x ** y |
| // | Floor division | x // y |

In [ ]:
# +	Addition	x + y
x = 5
y = 3
print(x + y)

# -	Subtraction	x - y
x = 5
y = 3
print(x - y)
	
# *	Multiplication	x * y
x = 5
y = 3
print(x * y)

# /	Division	x / y
x = 12
y = 3
print(x / y)
	
# %	Modulus	x % y
x = 2
y = 5
print(x % y) #same as 2*2*2*2*2

# **	Exponentiation	x ** y
x = 2
y = 5
print(x ** y) #same as 2*2*2*2*2

# //	Floor division	x // y
x = 15
y = 2
print(x // y)

8
2
15
4.0
2
32
7

# Python Assignment Operators

Assignment operators are used to assign values to variables:

| Operator | Example | Same As |
|---|---|---|
| = | x = 5 | x = 5 | 
| += | x += 3 | x = x + 3
| -= | x -= 3 | x = x - 3 |
| *= | x *= 3 | x = x * 3 |	
| /= | x /= 3 | x = x / 3 |
| %= | x %= 3 | x = x % 3 |
| //= | x //= 3 | x = x // 3 |
| **= | x **= 3 | x = x ** 3 |
| &= | x &= 3 | x = x & 3 |
| `pipe=` | `x pipe = 3` | `x = x pipe 3` |
| ^= | x ^= 3 | x = x ^ 3 |
| >>= | x >>= 3 | x = x >> 3 |
| <<= | x <<= 3 | x = x << 3 |
| := | print(x := 3) | x = 3 print(x) |

In [ ]:
# =	x = 5	x = 5
x = 5
print(x)

# +=	x += 3	x = x + 3
x = 5
x += 3
print(x)

# -=	x -= 3	x = x - 3
x = 5
x -= 3
print(x)

#*=	x *= 3	x = x * 3
x = 5
x *= 3
print(x)

# /=	x /= 3	x = x / 3
x = 5
x /= 3
print(x)

# %=	x %= 3	x = x % 3
x = 5
x%=3
print(x)

# //=	x //= 3	x = x // 3
x = 5
x//=3
print(x)

# **=	x **= 3	x = x ** 3
x = 5
x **= 3
print(x)

# &=	x &= 3	x = x & 3
x = 5
x &= 3
print(x)

# |=	x |= 3	x = x | 3
x = 5
x |= 3
print(x)

# ^=	x ^= 3	x = x ^ 3
x = 5
x ^= 3
print(x)

# >>=	x >>= 3	x = x >> 3
x = 5
x >>= 3
print(x)

# <<=	x <<= 3	x = x << 3
x = 5
x <<= 3
print(x)

# :=	print(x := 3)	x = 3print(x)
print(x := 3)

5
8
2
15
1.6666666666666667
2
1
125
1
7
6
0
40
3

# Python Comparison Operators

Comparison operators are used to compare two values:

| Operator | Name | Example |
|---|---|---|
| == | Equal | x == y| 
| != | Not equal | x != y |
| > | Greater than | x > y |
| < | Less than | x < y |
| >= | Greater than or equal to | x >= y |
| <= | Less than or equal to | x <= y |

In [ ]:

# ==	Equal	x == y
x = 5
y = 3
print(x == y)
# returns False because 5 is not equal to 3

# !=	Not equal	x != y
x = 5
y = 3
print(x != y)
# returns True because 5 is not equal to 3

# >	Greater than	x > y
x = 5
y = 3
print(x > y)
# returns True because 5 is greater than 3

# <	Less than	x < y
x = 5
y = 3
print(x < y)
# returns False because 5 is not less than 3

# >=	Greater than or equal to	x >= y
x = 5
y = 3
print(x >= y)
# returns True because five is greater, or equal, to 3

# <=	Less than or equal to	x <= y
x = 5
y = 3
print(x <= y)
# returns False because 5 is neither less than or equal to 3

False
True
True
False
True
False

## Python Logical Operators

Logical operators are used to combine conditional statements:

| Operator | Description | Example |
|---|---|---|
| and  | Returns True if both statements are true | x < 5 and  x < 10 |	
| or | Returns True if one of the statements is true | x < 5 or x < 4 |
| not | Reverse the result, returns False if the result is true | not(x < 5 and x < 10) |

In [ ]:
# and 	Returns True if both statements are true	x < 5 and  x < 10
x = 5
print(x > 3 and x < 10)
# returns True because 5 is greater than 3 AND 5 is less than 10

# or	Returns True if one of the statements is true	x < 5 or x < 4
x = 5
print(x > 3 or x < 4)
# returns True because one of the conditions are true (5 is greater than 3, but 5 is not less than 4)

# not	Reverse the result, returns False if the result is true	not(x < 5 and x < 10)
x = 5
print(not(x > 3 and x < 10))
# returns False because not is used to reverse the result

True
True
False

## Python Identity Operators

Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location:

| Operator | Description | Example |
|---|---|---|
| is  | Returns True if both variables are the same object | x is y |
| is not | Returns True if both variables are not the same object | x is not y |

In [ ]:
# is 	Returns True if both variables are the same object	x is y
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x
print(x is z)
# returns True because z is the same object as x
print(x is y)
# returns False because x is not the same object as y, even if they have the same content
print(x == y)
# to demonstrate the difference betweeen "is" and "==": this comparison returns True because x is equal to y

# is not	Returns True if both variables are not the same object	x is not y

True
False
True

# Python Membership Operators

Membership operators are used to test if a sequence is presented in an object:

| Operator | Description | Example |
|---|---|---|
| in  | Returns True if a sequence with the specified value is present in the object | x in y |
| not in | Returns True if a sequence with the specified value is not present in the object | x not in y |

In [ ]:
# in
x = ["apple", "banana"]
print("banana" in x)
# returns True because a sequence with the value "banana" is in the list

# not in
x = ["apple", "banana"]
print("pineapple" not in x)
# returns True because a sequence with the value "pineapple" is not in the list

True
True

## Python Bitwise Operators

Bitwise operators are used to compare (binary) numbers:

| Operator | Name                  | Description                                                                 | Example  |
|----------|-----------------------|-----------------------------------------------------------------------------|----------|
| `&`      | AND                   | Establece cada bit en `1` si ambos bits son `1`                             | `x & y`  |
| pipe | OR                    | Establece cada bit en `1` si al menos uno de los dos bits es `1`            | `x pipe y`  |
| `^`      | XOR                   | Establece cada bit en `1` si **solo uno** de los dos bits es `1`            | `x ^ y`  |
| `~`      | NOT                   | Invierte todos los bits                                                     | `~x`     |
| `<<`     | Zero fill left shift  | Desplaza a la izquierda, rellenando con ceros a la derecha                  | `x << 2` |
| `>>`     | Signed right shift    | Desplaza a la derecha, copiando el bit de signo a la izquierda              | `x >> 2` |

In [ ]:
# &
print(6 & 3)
"""
The & operator compares each bit and set it to 1 if both are 1, otherwise it is set to 0:

6 = 0000000000000110
3 = 0000000000000011
--------------------
2 = 0000000000000010
====================

Decimal numbers and their binary values:
0 = 0000000000000000
1 = 0000000000000001
2 = 0000000000000010
3 = 0000000000000011
4 = 0000000000000100
5 = 0000000000000101
6 = 0000000000000110
7 = 0000000000000111
"""

# pipe = |
print(6 | 3)
"""
The | operator compares each bit and set it to 1 if one or both is 1, otherwise it is set to 0:

6 = 0000000000000110
3 = 0000000000000011
--------------------
7 = 0000000000000111
====================

Decimal numbers and their binary values:
0 = 0000000000000000
1 = 0000000000000001
2 = 0000000000000010
3 = 0000000000000011
4 = 0000000000000100
5 = 0000000000000101
6 = 0000000000000110
7 = 0000000000000111
"""

# ^
print(6 ^ 3)
"""
The ^ operator compares each bit and set it to 1 if only one is 1, otherwise (if both are 1 or both are 0) it is set to 0:

6 = 0000000000000110
3 = 0000000000000011
--------------------
5 = 0000000000000101
====================

Decimal numbers and their binary values:
0 = 0000000000000000
1 = 0000000000000001
2 = 0000000000000010
3 = 0000000000000011
4 = 0000000000000100
5 = 0000000000000101
6 = 0000000000000110
7 = 0000000000000111
"""

# ~
print(~3)
"""
The ~ operator inverts each bit (0 becomes 1 and 1 becomes 0).

Inverted 3 becomes -4:
 3 = 0000000000000011
-4 = 1111111111111100

Decimal numbers and their binary values:
 4 = 0000000000000100
 3 = 0000000000000011
 2 = 0000000000000010
 1 = 0000000000000001
 0 = 0000000000000000
-1 = 1111111111111111
-2 = 1111111111111110
-3 = 1111111111111101
-4 = 1111111111111100
"""

# <<
print(3 << 2)
"""
The << operator inserts the specified number of 0's (in this case 2) from the right and let the same amount of leftmost bits fall off:

If you push 00 in from the left:
 3 = 0000000000000011
becomes
12 = 0000000000001100

Decimal numbers and their binary values:
 0 = 0000000000000000
 1 = 0000000000000001
 2 = 0000000000000010
 3 = 0000000000000011
 4 = 0000000000000100
 5 = 0000000000000101
 6 = 0000000000000110
 7 = 0000000000000111
 8 = 0000000000001000
 9 = 0000000000001001
10 = 0000000000001010
11 = 0000000000001011
12 = 0000000000001100
"""

# >>
print(8 >> 2)
"""
The >> operator moves each bit the specified number of times to the right. Empty holes at the left are filled with 0's.

If you move each bit 2 times to the right, 8 becomes 2:
 8 = 0000000000001000
becomes
 2 = 0000000000000010

Decimal numbers and their binary values:
 0 = 0000000000000000
 1 = 0000000000000001
 2 = 0000000000000010
 3 = 0000000000000011
 4 = 0000000000000100
 5 = 0000000000000101
 6 = 0000000000000110
 7 = 0000000000000111
 8 = 0000000000001000
 9 = 0000000000001001
10 = 0000000000001010
11 = 0000000000001011
12 = 0000000000001100
"""

2
7
5
-5
12
2

"\nThe >> operator moves each bit the specified number of times to the right. Empty holes at the left are filled with 0's.\n\nIf you move each bit 2 times to the right, 8 becomes 2:\n 8 = 0000000000001000\nbecomes\n 2 = 0000000000000010\n\nDecimal numbers and their binary values:\n 0 = 0000000000000000\n 1 = 0000000000000001\n 2 = 0000000000000010\n 3 = 0000000000000011\n 4 = 0000000000000100\n 5 = 0000000000000101\n 6 = 0000000000000110\n 7 = 0000000000000111\n 8 = 0000000000001000\n 9 = 0000000000001001\n10 = 0000000000001010\n11 = 0000000000001011\n12 = 0000000000001100\n"

# Operator Precedence

Operator precedence describes the order in which operations are performed.

In [ ]:
print((6 + 3) - (6 + 3))

"""
Parenthesis have the highest precedence, and need to be evaluated first.
The calculation above reads 9 - 9 = 0
"""

0

'\nParenthesis have the highest precedence, and need to be evaluated first.\nThe calculation above reads 9 - 9 = 0\n'

In [ ]:
print(100 + 5 * 3)

"""
Multiplication has higher precedence than addition, and needs to be evaluated first.
The calculation above reads 100 + 15 = 115
"""

115

'\nMultiplication has higher precedence than addition, and needs to be evaluated first.\nThe calculation above reads 100 + 15 = 115\n'

The precedence order is described in the table below, starting with the highest precedence at the top:

| Operator | Description |
|----------|-------------|
| `()` | Parentheses |
| `**` | Exponentiation |
| `+x  -x  ~x` | Unary plus, unary minus, and bitwise NOT |
| `*  /  //  %` | Multiplication, division, floor division, and modulus |
| `+  -` | Addition and subtraction |
| `<<  >>` | Bitwise left and right shifts |
| `&` | Bitwise AND |
| `^` | Bitwise XOR |
| `pipe` | Bitwise OR |
| `==  !=  >  >=  <  <=  is  is not  in  not in` | Comparisons, identity, and membership operators |
| `not` | Logical NOT |
| `and` | Logical AND |
| `or` | Logical OR |

In [ ]:
# () Parentheses
print((6 + 3) - (6 + 3))
"""
Parenthesis have the highest precedence, and need to be evaluated first.
The calculation above reads 9 - 9 = 0
"""

# ** = Exponentiation
print(100 - 3 ** 3)
"""
Exponentiation has higher precedence than subtraction, and needs to be evaluated first.
The calculation above reads 100 - 27 = 73
"""	

# +x  -x  ~x =Unary plus, unary minus, and bitwise NOT
print(100 + ~3)
"""
Bitwise NOT has higher precedence than addition, and needs to be evaluated first.
The calculation above reads 100 + -4 = 96
"""

# *  /  //  % = Multiplication, division, floor division, and modulus
print(100 + 5 * 3)
"""
Multiplication has higher precedence than addition, and needs to be evaluated first.
The calculation above reads 100 + 15 = 115
"""

# +  - = Addition and subtraction
print(100 - 5 * 3)
"""
Subtraction has a lower precedence than multiplication, and we need to calculate the multiplication first.
The calculation above reads 100 - 15 = 85
"""

# <<  >> = Bitwise left and right shifts
print(8 >> 4 - 2)
"""
Bitwise right shift has a lower precedence than subtraction, and we need to calculate the subtraction first.
The calculation above reads 8 >> 2 = 2

More explanation:
The >> operator moves each bit the specified number of times to the right. Empty holes at the left are filled with 0's.

If you move each bit 2 times to the right, 8 becomes 2:
 8 = 0000000000001000
becomes
 2 = 0000000000000010

Decimal numbers and their binary values:
 0 = 0000000000000000
 1 = 0000000000000001
 2 = 0000000000000010
 3 = 0000000000000011
 4 = 0000000000000100
 5 = 0000000000000101
 6 = 0000000000000110
 7 = 0000000000000111
 8 = 0000000000001000
 9 = 0000000000001001
10 = 0000000000001010
11 = 0000000000001011
12 = 0000000000001100
"""	

# & = Bitwise AND
print(6 & 2 + 1)
"""
Bitwise AND has a lower precedence than addition, and we need to calculate the addition first.
The calculation above reads 6 & 3 = 2

More explanation:
The & operator compares each bit and set it to 1 if both are 1, otherwise it is set to 0:

6 = 0000000000000110
3 = 0000000000000011
--------------------
2 = 0000000000000010
====================

Decimal numbers and their binary values:
0 = 0000000000000000
1 = 0000000000000001
2 = 0000000000000010
3 = 0000000000000011
4 = 0000000000000100
5 = 0000000000000101
6 = 0000000000000110
7 = 0000000000000111
"""
	
# ^ = Bitwise XOR
print(6 ^ 2 + 1)
"""
Bitwise XOR has a lower precedence than addition, and we need to calculate the addition first.
The calculation above reads 6 ^ 3 = 5

More explanation:
The ^ operator compares each bit and set it to 1 if only one is 1, otherwise (if both are 1 or both are 0) it is set to 0:

6 = 0000000000000110
3 = 0000000000000011
--------------------
5 = 0000000000000101
====================

Decimal numbers and their binary values:
0 = 0000000000000000
1 = 0000000000000001
2 = 0000000000000010
3 = 0000000000000011
4 = 0000000000000100
5 = 0000000000000101
6 = 0000000000000110
7 = 0000000000000111
"""

# | =  Bitwise OR
print(6 | 2 + 1)
"""
Bitwise OR has a lower precedence than addition, and we need to calculate the addition first.
The calculation above reads 6 | 3 = 7

More explanation:
The | operator compares each bit and set it to 1 if one or both is 1, otherwise it is set to 0:

6 = 0000000000000110
3 = 0000000000000011
--------------------
7 = 0000000000000111
====================

Decimal numbers and their binary values:
0 = 0000000000000000
1 = 0000000000000001
2 = 0000000000000010
3 = 0000000000000011
4 = 0000000000000100
5 = 0000000000000101
6 = 0000000000000110
7 = 0000000000000111
"""
# ==  !=  >  >=  <  <=  is  is not  in  not in = Comparisons, identity, and membership operators	
print(5 == 4 + 1)
"""
The "like" comparison has a lower precedence than addition, and we need to calculate the addition first.
The calculation above reads 5 == 5 = True
"""

# not = Logical NOT
print(not 5 == 5)
"""
The logical NOT operator has a lower precedence than "like" comparison, and we need to calculate the comparison first.
The calculation above reads: not True = False
"""

# and = AND
print(1 or 2 and 3)
"""
The and operator has a higher precedence than or, and we need to calculate the and expression first.
The calculation above reads: 1 or 3 = 1
"""

# or = OR
print(4 or 5 + 10 or 8)
"""
The or operator has a lower precedence than addition, and we need to calculate the addition first.
The calculation above reads: 4 or 15 or 8 = 4
"""

0
73
96
115
85
2
2
5
7
True
False
1
4

'\nThe or operator has a lower precedence than addition, and we need to calculate the addition first.\nThe calculation above reads: 4 or 15 or 8 = 4\n'

In [ ]:
print(5 + 4 - 7 + 3)

"""
Additions and subtractions have the same precedence, and we need to calculate from left to right.
The calculation above reads:
5 + 4 = 9
9 - 7 = 2
2 + 3 = 5
"""

5

'\nAdditions and subtractions have the same precedence, and we need to calculate from left to right.\nThe calculation above reads:\n5 + 4 = 9\n9 - 7 = 2\n2 + 3 = 5\n'


# Python Lists

`mylist = ["apple", "banana", "cherry"]`

## List

Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

Lists are created using square brackets:

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

## List 

List items are ordered, changeable, and allow duplicate values.

List items are indexed, the first item has index `[0]`, the second item has index `[1]` etc.

## Ordered

When we say that lists are ordered, it means that the items have a defined order, and that order will not change.

If you add new items to a list, the new items will be placed at the end of the list.

Note: There are some [list methods](https://www.w3schools.com/python/python_lists_methods.asp) that will change the order, but in general: the order of the items will not change.

## Changeable

The list is changeable, meaning that we can change, add, and remove items in a list after it has been created.

## Allow Duplicates

Since lists are indexed, lists can have items with the same value:

In [ ]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]

print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

## List Length

To determine how many items a list has, use the `len()` function:

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

## List Items - Data Types

List items can be of any data type:

In [ ]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

print(list1)
print(list2)
print(list3)

['apple', 'banana', 'cherry']
[1, 5, 7, 9, 3]
[True, False, False]

A list can contain different data types:

In [ ]:
list1 = ["abc", 34, True, 40, "male"]

print(list1)

['abc', 34, True, 40, 'male']

## type()

From Python's perspective, lists are defined as objects with the data type 'list':

`<class 'list'>`

In [ ]:
mylist = ["apple", "banana", "cherry"]

print(type(mylist))

<class 'list'>

## The list() Constructor

It is also possible to use the `list()` constructor when creating a new list.

In [ ]:
thislist = list(("apple", "banana", "cherry"))
print(thislist)

['apple', 'banana', 'cherry']

## Python Collections (Arrays)

There are four collection data types in the Python programming language:

- List is a collection which is ordered and changeable. Allows duplicate members.
- Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
- Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
- Dictionary is a collection which is ordered** and changeable. No duplicate members.

When choosing a collection type, it is useful to understand the properties of that type. Choosing the right type for a particular data set could mean retention of meaning, and, it could mean an increase in efficiency or security.

# Python - Access List Items

## Access Items

List items are indexed and you can access them by referring to the index number:

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

## Negative Indexing

Negative indexing means start from the end

`-1` refers to the last item, `-2` refers to the second last item etc.

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

## Range of Indexes

You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new list with the specified items.

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

#This will return the items from position 2 to 5.

#Remember that the first item is position 0,
#and note that the item in position 5 is NOT included

['cherry', 'orange', 'kiwi']

By leaving out the start value, the range will start at the first item:

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

#This will return the items from index 0 to index 4.

#Remember that index 0 is the first item, and index 4 is the fifth item
#Remember that the item in index 4 is NOT included

['apple', 'banana', 'cherry', 'orange']

By leaving out the end value, the range will go on to the end of the list:

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

#This will return the items from index 2 to the end.

#Remember that index 0 is the first item, and index 2 is the third

['cherry', 'orange', 'kiwi', 'melon', 'mango']

## Range of Negative Indexes

Specify negative indexes if you want to start the search from the end of the list:

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

#Negative indexing means starting from the end of the list.

#This example returns the items from index -4 (included) to index -1 (excluded)

#Remember that the last item has the index -1,

['orange', 'kiwi', 'melon']

# Check if Item Exists
To determine if a specified item is present in a list use the `in` keyword:

In [ ]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
    print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

# Python - Change List Items

Change Item Value

To change the value of a specific item, refer to the index number:

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"

print(thislist)

['apple', 'blackcurrant', 'cherry']

## Change a Range of Item Values

To change the value of items within a specific range, define a list with the new values, and refer to the range of index numbers where you want to insert the new values:

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]

thislist[1:3] = ["blackcurrant", "watermelon"]

print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

If you insert more items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly:

In [ ]:
thislist = ["apple", "banana", "cherry"]

thislist[1:2] = ["blackcurrant", "watermelon"]

print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

If you insert less items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly:

In [ ]:
thislist = ["apple", "banana", "cherry"]

thislist[1:3] = ["watermelon"]

print(thislist)

['apple', 'watermelon']

## Insert Items

To insert a new list item, without replacing any of the existing values, we can use the `insert()` method.

The `insert()` method inserts an item at the specified index:

In [ ]:
thislist = ["apple", "banana", "cherry"]

thislist.insert(2, "watermelon")

print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

## Append Items
To add an item to the end of the list, use the append() method:

In [ ]:
thislist = ["apple", "banana", "cherry"]

thislist.append("orange")

print(thislist)

['apple', 'banana', 'cherry', 'orange']

## Insert Items

To insert a list item at a specified index, use the insert() method.

The insert() method inserts an item at the specified index:

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

## Extend List

To append elements from another list to the current list, use the extend() method.

In [ ]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]

thislist.extend(tropical)

print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

## Add Any Iterable

The `extend()` method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.).

In [ ]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")

thislist.extend(thistuple)

print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

# Python - Remove List Items
###Remove Specified Item
The `remove()` method removes the specified item.

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

If there are more than one item with the specified value, the r`remove()` method removes the first occurrence:

In [ ]:
thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry', 'banana', 'kiwi']

## Remove Specified Index
The pop() method removes the specified index.

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

If you do not specify the index, the `pop()` method removes the last item.

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

The `del` keyword also removes the specified index:

In [ ]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

The `del` keyword can also delete the list completely.

In [ ]:
thislist = ["apple", "banana", "cherry"]
del thislist
print(thislist) #this will cause an error because you have succsesfully deleted "thislist".

NameError: name 'thislist' is not defined

## Clear the List
The clear() method empties the list.

The list still remains, but it has no content.

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist)
thislist.clear()
print(thislist)

['apple', 'banana', 'cherry']
[]

# Python - Loop Lists
## Loop Through a List
You can loop through the list items by using a `for` loop:

In [ ]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

Learn more about for loops in our [Python For Loops](https://www.w3schools.com/python/python_for_loops.asp) Chapter.

## Loop Through the Index Numbers
You can also loop through the list items by referring to their index number.

Use the `range()` and `len()` functions to create a suitable iterable.

In [ ]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

The iterable created in the example above is [0, 1, 2].

## Using a While Loop
You can loop through the list items by using a `while` loop.

Use the `len()` function to determine the length of the list, then start at 0 and loop your way through the list items by referring to their indexes.

Remember to increase the index by 1 after each iteration.

In [ ]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

Learn more about while loops in our Python While Loops Chapter.

## Looping Using List Comprehension

List Comprehension offers the shortest syntax for looping through lists:

In [ ]:
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

# Python - List Comprehension
## List Comprehension

List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

Example:

Based on a list of fruits, you want a new list, containing only the fruits with the letter "a" in the name.

Without list comprehension you will have to write a `for` statement with a conditional test inside:

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

With list comprehension you can do all that with only one line of code:

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

## The Syntax

`newlist = [expression for item in iterable if condition == True]`

The return value is a new list, leaving the old list unchanged.

### Condition

The condition is like a filter that only accepts the items that evaluate to `True`.

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if x != "apple"]

print(newlist)

['banana', 'cherry', 'kiwi', 'mango']

The condition `if x != "apple"`  will return `True` for all elements other than "apple", making the new list contain all fruits except "apple".

The condition is optional and can be omitted:

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits]

print(newlist)

['apple', 'banana', 'cherry', 'kiwi', 'mango']

### Iterable

The iterable can be any iterable object, like a list, tuple, set etc.

In [ ]:
newlist = [x for x in range(10)]

print(newlist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Same example, but with a condition:

In [ ]:
newlist = [x for x in range(10) if x < 5]

print(newlist)

[0, 1, 2, 3, 4]

### Expression

The *expression* is the current item in the iteration, but it is also the outcome, which you can manipulate before it ends up like a list item in the new list:

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x.upper() for x in fruits]

print(newlist)

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

You can set the outcome to whatever you like:

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = ['hello' for x in fruits]

print(newlist)

['hello', 'hello', 'hello', 'hello', 'hello']

The *expression* can also contain conditions, not like a filter, but as a way to manipulate the outcome:

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x if x != "banana" else "orange" for x in fruits]

print(newlist)

['apple', 'orange', 'cherry', 'kiwi', 'mango']

The expression in the example above says:

`"Return the item if it is not banana, if it is banana return orange"`.

# Python - Sort Lists
## Sort List Alphanumerically
List objects have a `sort()` method that will sort the list alphanumerically, ascending, by default:

In [ ]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]

thislist.sort()

print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [ ]:
thislist = [100, 50, 65, 82, 23]

thislist.sort()

print(thislist)

[23, 50, 65, 82, 100]

## Sort Descending
To sort descending, use the keyword argument `reverse = True`:

In [ ]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]

thislist.sort(reverse = True)

print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [ ]:
thislist = [100, 50, 65, 82, 23]

thislist.sort(reverse = True)

print(thislist)

[100, 82, 65, 50, 23]

## Customize Sort Function

You can also customize your own function by using the keyword argument `key = function`.

The function will return a number that will be used to sort the list (the lowest number first):

In [ ]:
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]

thislist.sort(key = myfunc)

print(thislist)

[50, 65, 23, 82, 100]

## Case Insensitive Sort
By default the `sort()` method is case sensitive, resulting in all capital letters being sorted before lower case letters:

In [ ]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]

thislist.sort()

print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

Luckily we can use built-in functions as key functions when sorting a list.

So if you want a case-insensitive sort function, use str.lower as a key function:

In [ ]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]

thislist.sort(key = str.lower)

print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

## Reverse Order
What if you want to reverse the order of a list, regardless of the alphabet?

The `reverse()` method reverses the current sorting order of the elements.

In [ ]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]

thislist.reverse()

print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

# Python - Copy Lists
## Copy a List
You cannot copy a list simply by typing `list2 = list1`, because: `list2` will only be a reference to `list 1`, and changes made in `list1` will automatically also be made in `list2`.

## Use the copy() method

You can use the built-in List method `copy()` to copy a list.

In [ ]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

## Use the list() method
Another way to make a copy is to use the built-in method `list()`.

In [ ]:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

## Use the slice Operator
You can also make a copy of a list by using the `:` (slice) operator.

In [ ]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist[:]
print(mylist)

['apple', 'banana', 'cherry']

# Python - Join Lists
## Join Two Lists
There are several ways to join, or concatenate, two or more lists in Python.

One of the easiest ways are by using the `+` operator.

In [ ]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

Another way to join two lists is by appending all the items from list2 into list1, one by one:

In [ ]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

Or you can use the `extend()` method, where the purpose is to add elements from one list to another list:

In [ ]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

# Python - List Methods
##List Methods
Python has a set of built-in methods that you can use on lists.

| Method | Description |
|---|---|
| append() | Adds an element at the end of the list |
| clear() | Removes all the elements from the list |
| copy() | Returns a copy of the list |
| count() | Returns the number of elements with the specified value |
| extend() | Add the elements of a list (or any iterable), to the end of the current list |
| index() | Returns the index of the first element with the specified value |
| insert() | Adds an element at the specified position |
| pop() | Removes the element at the specified position |
| remove() | Removes the item with the specified value |
| reverse() | Reverses the order of the list |
| sort() | Sorts the list |

# Python Tuples
`mytuple = ("apple", "banana", "cherry")`
## Tuple
Tuples are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

## Tuple Items
Tuple items are ordered, unchangeable, and allow duplicate values.

Tuple items are indexed, the first item has index `[0]`, the second item has index `[1]` etc.

## Ordered
When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.

## Unchangeable
Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

## Allow Duplicates
Since tuples are indexed, they can have items with the same value:

In [ ]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

## Tuple Length
To determine how many items a tuple has, use the `len()` function:

In [ ]:
thistuple = tuple(("apple", "banana", "cherry"))
print(len(thistuple))

3

## Create Tuple With One Item
To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.

In [ ]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

## Tuple Items - Data Types
Tuple items can be of any data type:

In [ ]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

print(tuple1)
print(tuple2)
print(tuple3)

('apple', 'banana', 'cherry')
(1, 5, 7, 9, 3)
(True, False, False)

A tuple can contain different data types:

In [ ]:
tuple1 = ("abc", 34, True, 40, "male")

print(tuple1)

('abc', 34, True, 40, 'male')

## type()
From Python's perspective, tuples are defined as objects with the data type 'tuple':

`<class 'tuple'>`

In [ ]:
mytuple = ("apple", "banana", "cherry")

print(type(mytuple))

<class 'tuple'>

## The tuple() Constructor
It is also possible to use the `tuple()` constructor to make a tuple.

In [ ]:
thistuple = tuple(("apple", "banana", "cherry"))
print(thistuple)

('apple', 'banana', 'cherry')

## Python Collections (Arrays)
There are four collection data types in the Python programming language:

- **List** is a collection which is ordered and changeable. Allows duplicate members.
- **Tuple** is a collection which is ordered and unchangeable. Allows duplicate members.
- **Set** is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
- **Dictionary** is a collection which is ordered** and changeable. No duplicate members.

When choosing a collection type, it is useful to understand the properties of that type. Choosing the right type for a particular data set could mean retention of meaning, and, it could mean an increase in efficiency or security.

## Python Tuples

`mytuple = ("apple", "banana", "cherry")`

### Tuple

Tuples are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

### Tuple Items

Tuple items are ordered, unchangeable, and allow duplicate values.

Tuple items are indexed, the first item has index `[0]`, the second item has index `[1]` etc.

### Ordered

When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.

### Unchangeable

Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

### Allow Duplicates

Since tuples are indexed, they can have items with the same value:

In [ ]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

### Tuple Length

To determine how many items a tuple has, use the `len()` function:

In [ ]:
thistuple = tuple(("apple", "banana", "cherry"))
print(len(thistuple))

3

### Create Tuple With One Item

To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.

In [ ]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

### Tuple Items - Data Types

Tuple items can be of any data type:

In [ ]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

print(tuple1)
print(tuple2)
print(tuple3)

('apple', 'banana', 'cherry')
(1, 5, 7, 9, 3)
(True, False, False)

A tuple can contain different data types:

In [ ]:
tuple1 = ("abc", 34, True, 40, "male")

print(tuple1)

('abc', 34, True, 40, 'male')

### type()

From Python's perspective, tuples are defined as objects with the data type 'tuple':

`<class 'tuple'>`

In [ ]:
mytuple = ("apple", "banana", "cherry")

print(type(mytuple))

<class 'tuple'>

### The tuple() Constructor

It is also possible to use the tuple() constructor to make a tuple.

In [ ]:
thistuple = tuple(("apple", "banana", "cherry"))
print(thistuple)

('apple', 'banana', 'cherry')

### Python Collections (Arrays)

There are four collection data types in the Python programming language:

- **List** is a collection which is ordered and changeable. Allows duplicate members.
- **Tuple** is a collection which is ordered and unchangeable. Allows duplicate members.
- **Set** is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
- **Dictionary** is a collection which is ordered** and changeable. No duplicate members.


When choosing a collection type, it is useful to understand the properties of that type. Choosing the right type for a particular data set could mean retention of meaning, and, it could mean an increase in efficiency or security.

## Python - Access Tuple Items

### Access Tuple Items

You can access tuple items by referring to the index number, inside square brackets:

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

### Negative Indexing

Negative indexing means start from the end.

`-1` refers to the last item, `-2` refers to the second last item etc.

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

### Range of Indexes

You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new tuple with the specified items.

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

#This will return the items from position 2 to 5.

#Remember that the first item is position 0,
#and note that the item in position 5 is NOT included

('cherry', 'orange', 'kiwi')

By leaving out the start value, the range will start at the first item:

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")

print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

By leaving out the end value, the range will go on to the end of the tuple:

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")

print(thistuple[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

### Range of Negative Indexes
Specify negative indexes if you want to start the search from the end of the tuple:

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

#Negative indexing means starting from the end of the tuple.

#This example returns the items from index -4 (included) to index -1 (excluded)

#Remember that the last item has the index -1,

('orange', 'kiwi', 'melon')

### Check if Item Exists

To determine if a specified item is present in a tuple use the in keyword:

In [ ]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
    print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

## Python - Update Tuples
Tuples are unchangeable, meaning that you cannot change, add, or remove items once the tuple is created.

But there are some workarounds.

### Change Tuple Values
Once a tuple is created, you cannot change its values. Tuples are **unchangeable**, or **immutable** as it also is called.

But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [ ]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

### Add Items

Since tuples are immutable, they do not have a built-in `append()` method, but there are other ways to add items to a tuple.

1. **Convert into a list**: Just like the workaround for changing a tuple, you can convert it into a list, add your item(s), and convert it back into a tuple.

In [ ]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

2. **Add tuple to a tuple**. You are allowed to add tuples to tuples, so if you want to add one item, (or many), create a new tuple with the item(s), and add it to the existing tuple:

In [ ]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

### Remove Items

Tuples are **unchangeable**, so you cannot remove items from it, but you can use the same workaround as we used for changing and adding tuple items:

In [ ]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)

print(thistuple)

('banana', 'cherry')

Or you can delete the tuple completely:

In [ ]:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

NameError: name 'thistuple' is not defined

## Python - Unpack Tuples

### Unpacking a Tuple

When we create a tuple, we normally assign values to it. This is called "packing" a tuple:

In [ ]:
fruits = ("apple", "banana", "cherry")

print(fruits)

('apple', 'banana', 'cherry')

But, in Python, we are also allowed to extract the values back into variables. This is called "unpacking":

In [ ]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

## Using Asterisk`*`
If the number of variables is less than the number of values, you can add an `*` to the variable name and the values will be assigned to the variable as a list:

In [ ]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

If the asterisk is added to another variable name than the last, Python will assign values to the variable until the number of values left matches the number of variables left.

In [ ]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

## Python - Loop Tuples

### Loop Through a Tuple

You can loop through the tuple items by using a `for` loop.

In [ ]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
    print(x)

apple
banana
cherry

Learn more about `for` loops in our Python For Loops Chapter.

### Loop Through the Index Numbers

You can also loop through the tuple items by referring to their index number.

Use the `range()` and `len()` functions to create a suitable iterable.

In [ ]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
    print(thistuple[i])

apple
banana
cherry

### Using a While Loop

You can loop through the tuple items by using a `while` loop.

Use the `len()` function to determine the length of the tuple, then start at 0 and loop your way through the tuple items by referring to their indexes.

Remember to increase the index by 1 after each iteration.

In [ ]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
    print(thistuple[i])
    i = i + 1

apple
banana
cherry

Learn more about while loops in our Python While Loops Chapter.

## Python - Join Tuples

### Join Two Tuples

To join two or more tuples you can use the + operator:

In [ ]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

### Multiply Tuples

If you want to multiply the content of a tuple a given number of times, you can use the `*` operator:

In [ ]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

## Python - Tuple Methods

### Tuple Methods

Python has two built-in methods that you can use on tuples.

| Method | Description |
|---|---|
| count() | Returns the number of times a specified value occurs in a tuple |
| index() | Searches the tuple for a specified value and returns the position of where it was found |

In [ ]:
# Python Tuple count() Method

thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.count(5)

print(x)

### Definition and Usage

The `count()` method returns the number of times a specified value appears in the tuple.

#### Syntax

`tuple.count(value)`
#### Parameter Values
| Parameter | Description |
|---|---|
| value | Required. The item to search for |

#### Python Tuple index() Method

In [ ]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.index(8)

print(x)

3

#### Definition and Usage

The `index()` method finds the first occurrence of the specified value.

The `index()` method raises an exception if the value is not found.

#### Syntax

`tuple.index(value)`

#### Parameter Values
| Parameter | Description |
|---|---|
| value | Required. The item to search for |

## Python Sets

`myset = {"apple", "banana", "cherry"}`

### Set

Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

A set is a collection which is unordered, unchangeable*, and unindexed.

* Note: Set items are unchangeable, but you can remove items and add new items.

Sets are written with curly brackets.

In [ ]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

# Note: the set list is unordered, meaning: the items will appear in a random order.

# Refresh this page to see the change in the result.

{'cherry', 'apple', 'banana'}

### Set Items

Set items are unordered, unchangeable, and do not allow duplicate values.

### Unordered

Unordered means that the items in a set do not have a defined order.

Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

### Unchangeable

Set items are unchangeable, meaning that we cannot change the items after the set has been created.

### Duplicates Not Allowed

Sets cannot have two items with the same value.

In [ ]:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'cherry', 'apple', 'banana'}

In [ ]:
thisset = {"apple", "banana", "cherry", True, 1, 2}

print(thisset)

{'cherry', True, 2, 'banana', 'apple'}

In [ ]:
thisset = {"apple", "banana", "cherry", False, True, 0}

print(thisset)

{'cherry', False, True, 'banana', 'apple'}

### Get the Length of a Set

To determine how many items a set has, use the `len()` function.

In [ ]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

### Set Items - Data Types

Set items can be of any data type:

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

print(set1)
print(set2)
print(set3)

{'cherry', 'apple', 'banana'}
{1, 3, 5, 7, 9}
{False, True}

A set can contain different data types:

In [ ]:
set1 = {"abc", 34, True, 40, "male"}

print(set1)

{'abc', True, 34, 'male', 40}

### type()

From Python's perspective, sets are defined as objects with the data type 'set':

`<class 'set'>`

In [ ]:
myset = {"apple", "banana", "cherry"}

print(type(myset))

<class 'set'>

### The set() Constructor

It is also possible to use the `set()` constructor to make a set.

In [ ]:
thisset = set(("apple", "banana", "cherry"))
print(thisset)
# Note: the set list is unordered, so the result will display the items in a random order.

{'cherry', 'apple', 'banana'}

### Python Collections (Arrays)

There are four collection data types in the Python programming language:

- **List** is a collection which is ordered and changeable. Allows duplicate members.
- **Tuple** is a collection which is ordered and unchangeable. Allows duplicate members.
- **Set** is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
- **Dictionary** is a collection which is ordered** and changeable. No duplicate members.

*Set items are unchangeable, but you can remove items and add new items.

**As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

When choosing a collection type, it is useful to understand the properties of that type. Choosing the right type for a particular data set could mean retention of meaning, and, it could mean an increase in efficiency or security.

## Python - Access Set Items

### Access Items 

You cannot access items in a set by referring to an index or a key.

But you can loop through the set items using a `for` loop, or ask if a specified value is present `in` a set, by using the in keyword.

In [ ]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
    print(x)

cherry
apple
banana

In [ ]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

In [ ]:
thisset = {"apple", "banana", "cherry"}

print("banana" not in thisset)

False

## Python - Add Set Items

To add one item to a set use the `add()` method.

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'cherry', 'orange', 'apple', 'banana'}

### Add Sets

To add items from another set into the current set, use the update() method.

In [ ]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'cherry', 'pineapple', 'mango', 'banana', 'apple', 'papaya'}

### Add Any Iterable

The object in the `update()` method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).

In [ ]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'cherry', 'orange', 'kiwi', 'banana', 'apple'}

## Python - Remove Set Items
### Remove Item
To remove an item in a set, use the `remove()`, or the `discard()` method.

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'apple', 'cherry'}

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'apple', 'cherry'}

You can also use the `pop()` method to remove an item, but this method will remove a random item, so you cannot be sure what item that gets removed.

The return value of the `pop()` method is the removed item.

In [ ]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x) #removed item

print(thisset) #the set after removal

apple
{'cherry', 'banana'}

The `clear()` method empties the set:

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

The `del` keyword will delete the set completely:

In [ ]:
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset) #this will raise an error because the set no longer exists

NameError: name 'thisset' is not defined

## Python - Loop Sets
### Loop Items
You can loop through the set items by using a `for` loop:

In [ ]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
    print(x)

apple
cherry
banana

## Python - Join Sets
### Join Sets

There are several ways to join two or more sets in Python.

The `union()` and `update()` methods joins all items from both sets.

The `intersection()` method keeps ONLY the duplicates.

The `difference()` method keeps the items from the first set that are not in the other set(s).

The `symmetric_difference()` method keeps all items EXCEPT the duplicates.

### Union

The `union()` method returns a new set with all items from both sets.

In [ ]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{'c', 1, 2, 3, 'b', 'a'}

You can use the `|` operator instead of the `union()` method, and you will get the same result.

In [ ]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1 | set2
print(set3)

{'c', 1, 2, 3, 'b', 'a'}

### Join Multiple Sets

All the joining methods and operators can be used to join multiple sets.

When using a method, just add more sets in the parentheses, separated by commas:

In [ ]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

{1, 2, 3, 'apple', 'cherry', 'John', 'b', 'c', 'a', 'bananas', 'Elena'}

When using the `|` operator, separate the sets with more `|` operators:

In [ ]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1 | set2 | set3 |set4
print(myset)

{1, 2, 3, 'apple', 'cherry', 'John', 'b', 'c', 'a', 'bananas', 'Elena'}

### Join a Set and a Tuple
The `union()` method allows you to join a set with other data types, like lists or tuples.

The result will be a set.

In [ ]:
x = {"a", "b", "c"}
y = (1, 2, 3)

z = x.union(y)
print(z)

### Update

The `update()` method inserts all items from one set into another.

The `update()` changes the original set, and does not return a new set.

In [ ]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{'c', 1, 2, 3, 'b', 'a'}

### Intersection

Keep ONLY the duplicates

The intersection() method will return a new set, that only contains the items that are present in both sets.

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)

{'apple'}

You can use the `&` operator instead of the `intersection()` method, and you will get the same result.

In [ ]:
set1 = {"apple", "banana" , "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 & set2
print(set3)

{'apple'}

The `intersection_update()` method will also keep ONLY the duplicates, but it will change the original set instead of returning a new set.

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2)
print(set1)

{'apple'}

The values `True` and `1` are considered the same value. The same goes for `False` and `0`.

In [ ]:
set1 = {"apple", 1, "banana", 0, "cherry"}
set2 = {False, "google", "microsoft", "apple", True}

set3 = set1.intersection(set2)
print(set3)

{False, True, 'apple'}

### Difference

The `difference()` method will return a new set that will contain only the items from the first set that are not present in the other set.

In [ ]:
set1 = {"apple", "banana" , "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)
print(set3)

{'cherry', 'banana'}

You can use the `-` operator instead of the `difference()` method, and you will get the same result.

In [ ]:
set1 = {"apple", "banana" , "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 - set2
print(set3)

{'cherry', 'banana'}

The `difference_update()` method will also keep the items from the first set that are not in the other set, but it will change the original set instead of returning a new set.

In [ ]:
set1 = {"apple", "banana" , "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.difference_update(set2)
print(set1)

{'cherry', 'banana'}

### Symmetric Differences

The `symmetric_difference()` method will keep only the elements that are NOT present in both sets.

In [ ]:
set1 = {"apple", "banana" , "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)
print(set3)

{'cherry', 'google', 'banana', 'microsoft'}

You can use the `^` operator instead of the `symmetric_difference()` method, and you will get the same result.

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 ^ set2

print(set3)

{'cherry', 'google', 'banana', 'microsoft'}

The `symmetric_difference_update()` method will also keep all but the duplicates, but it will change the original set instead of returning a new set.

In [ ]:
set1 = {"apple", "banana" , "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.symmetric_difference_update(set2)
print(set1)

{'cherry', 'google', 'banana', 'microsoft'}

## Set Methods
Python has a set of built-in methods that you can use on sets.

| Method | Shortcut | Description |
|---|---|---|
| add() | | Adds an element to the set |
|clear() | | Removes all the elements from the set |
|copy() | | Returns a copy of the set |
| difference() | - | Returns a set containing the difference between two or more sets |
| difference_update()  -= | Removes the items in this set that are also included in another, specified set |
| discard() | | Remove the specified item |
| intersection() | & | Returns a set, that is the intersection of two other sets |
| intersection_update() | &= | Removes the items in this set that are not present in other, specified set(s) |
| isdisjoint() | | Returns whether two sets have a intersection or not |
| issubset() | <= | Returns True if all items of this set is present in another set |
| | < | Returns True if all items of this set is present in another, larger set |
| issuperset() | >= | Returns True if all items of another set is present in this set |
| | > | Returns True if all items of another, smaller set is present in this set |
| pop() | | Removes an element from the set |
| remove() | | Removes the specified element |
| symmetric_difference() | ^ | Returns a set with the symmetric differences of two sets |
| symmetric_difference_update() | ^= | Inserts the symmetric differences from this set and another |
| union() | pipe | Return a set containing the union of sets |
| update() | pipe= | Update the set with the union of this set and others |

In [ ]:
# Python Set add() Method
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)

# Python Set clear() Method
thisset = {"apple", "banana", "cherry"}
thisset.clear()
print(thisset)

# Python Set copy() Method
fruits = {"apple", "banana", "cherry"}
x = fruits.copy()
print(x)

# Python Set difference() Method
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.difference(y) 
print(z)

# Python Set difference_update() Method
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.difference_update(y) 
print(x)

# Python Set discard() Method
thisset = {"apple", "banana", "cherry"}
thisset.discard("banana")
print(thisset)

# Python Set intersection() Method
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.intersection(y) 
print(z)

# Python Set intersection_update() Method
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.intersection_update(y) 
print(x)

# Python Set isdisjoint() Method
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}
z = x.isdisjoint(y) 
print(z)

# Python Set issubset() Method
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}
z = x.issubset(y) 
print(z)

# Python Set issuperset() Method
x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}
z = x.issuperset(y) 
print(z)

# Python Set pop() Method
fruits = {"apple", "banana", "cherry"}
fruits.pop() 
print(fruits)

# Python Set remove() Method
fruits = {"apple", "banana", "cherry"}
fruits.remove("banana") 
print(fruits)

# Python Set symmetric_difference() Method
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.symmetric_difference(y) 
print(z)

# Python Set symmetric_difference_update() Method
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.symmetric_difference_update(y) 
print(x)

# Python Set union() Method
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.union(y) 
print(z)

# Python Set update() Method
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.update(y) 
print(x)

{'banana', 'apple', 'orange', 'cherry'}
set()
{'banana', 'apple', 'cherry'}
{'banana', 'cherry'}
{'banana', 'cherry'}
{'apple', 'cherry'}
{'apple'}
{'apple'}
True
True
True
{'apple', 'cherry'}
{'apple', 'cherry'}
{'banana', 'cherry', 'microsoft', 'google'}
{'banana', 'cherry', 'microsoft', 'google'}
{'banana', 'apple', 'microsoft', 'google', 'cherry'}
{'banana', 'apple', 'microsoft', 'google', 'cherry'}

# Python Dictionaries

```python
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
```
## Dictionary

Dictionaries are used to store data values in key:value pairs.

As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

Dictionaries are written with curly brackets, and have keys and values:

In [ ]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

## Dictionary Items

Dictionary items are ordered, changeable, and do not allow duplicates.

Dictionary items are presented in key:value pairs, and can be referred to by using the key name.

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

Ford

## Ordered or Unordered?

As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

When we say that dictionaries are ordered, it means that the items have a defined order, and that order will not change.

Unordered means that the items do not have a defined order, you cannot refer to an item by using an index.

## Changeable

Dictionaries are changeable, meaning that we can change, add or remove items after the dictionary has been created.

## Duplicates Not Allowed

Dictionaries cannot have two items with the same key:

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

## Dictionary Length

To determine how many items a dictionary has, use the len() function:

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(len(thisdict))

3

## Dictionary Items - Data Types

The values in dictionary items can be of any data type:

In [ ]:
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}

print(thisdict)

{'brand': 'Ford', 'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue']}

## type()
From Python's perspective, dictionaries are defined as objects with the data type 'dict':

`<class 'dict'>`

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(type(thisdict))

<class 'dict'>

## The dict() Constructor

It is also possible to use the `dict()` constructor to make a dictionary.

In [ ]:
thisdict = dict(name = "John", age = 36, country = "Norway")

print(thisdict)

{'name': 'John', 'age': 36, 'country': 'Norway'}

## Python Collections (Arrays)

There are four collection data types in the Python programming language:

- **List** is a collection which is ordered and changeable. Allows duplicate members.
- **Tuple** is a collection which is ordered and unchangeable. Allows duplicate members.
- **Set** is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
- **Dictionary** is a collection which is ordered** and changeable. No duplicate members.

When choosing a collection type, it is useful to understand the properties of that type. Choosing the right type for a particular data set could mean retention of meaning, and, it could mean an increase in efficiency or security.

# Python - Access Dictionary Items
## Accessing Items
You can access the items of a dictionary by referring to its key name, inside square brackets:

In [ ]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]
print(x)

Mustang

There is also a method called get() that will give you the same result:

In [ ]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict.get("model")
print(x)

Mustang

## Get Keys
The `keys()` method will return a list of all the keys in the dictionary.

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = thisdict.keys()

print(x)

dict_keys(['brand', 'model', 'year'])

The list of the keys is a view of the dictionary, meaning that any changes done to the dictionary will be reflected in the keys list.

In [ ]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x) #before the change

car["color"] = "white"
car["motor"] = "4T"

print(x) #after the change
x = car["motor"]
print(x)

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color', 'motor'])
4T

# Get Values
The `values()` method will return a list of all the values in the dictionary.

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = thisdict.values()

print(x)

dict_values(['Ford', 'Mustang', 1964])

The list of the values is a view of the dictionary, meaning that any changes done to the dictionary will be reflected in the values list.

In [ ]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

print(x) #before the change

car["year"] = 2020

print(x) #after the change

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 2020])

In [ ]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

print(x) #before the change

car["color"] = "red"

print(x) #after the change

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 1964, 'red'])

# Get Items
The `items()` method will return each item in a dictionary, as tuples in a list.

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = thisdict.items()

print(x)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

The returned list is a view of the items of the dictionary, meaning that any changes done to the dictionary will be reflected in the items list.

In [ ]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()

print(x) #before the change

car["year"] = 2020

print(x) #after the change

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2020)])

In [ ]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()

print(x) #before the change

car["color"] = "red"

print(x) #after the change

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964), ('color', 'red')])

## Check if Key Exists
To determine if a specified key is present in a dictionary use the `in` keyword:

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")

Yes, 'model' is one of the keys in the thisdict dictionary

# Python - Change Dictionary Items
## Change Values
You can change the value of a specific item by referring to its key name:

In [ ]:
thisdict =	{
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}

thisdict["year"] = 2018

print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

## Update Dictionary
The `update()` method will update the dictionary with the items from the given argument.

The argument must be a dictionary, or an iterable object with key:value pairs.

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year": 2020})

print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

# Python - Add Dictionary Items
## Adding Items
Adding an item to the dictionary is done by using a new index key and assigning a value to it:

In [ ]:
thisdict =	{
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

## Update Dictionary
The `update()` method will update the dictionary with the items from a given argument. If the item does not exist, the item will be added.

The argument must be a dictionary, or an iterable object with key:value pairs.

In [ ]:
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
thisdict.update({"color": "red"})

print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

# Python - Remove Dictionary Items
## Removing Items
There are several methods to remove items from a dictionary:

In [ ]:
thisdict =	{
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [ ]:
# The popitem() method removes the last inserted item (in versions before 3.7, a random item is removed instead):
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

In [ ]:
# The del keyword removes the item with the specified key name:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [ ]:
# The del keyword can also delete the dictionary completely:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict
print(thisdict) #this will cause an error because "thisdict" no longer exists.

NameError: name 'thisdict' is not defined

In [ ]:
# The clear() method empties the dictionary:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

{}

# Python - Loop Dictionaries
## Loop Through a Dictionary

You can loop through a dictionary by using a `for` loop.

When looping through a dictionary, the return value are the keys of the dictionary, but there are methods to return the values as well.

In [ ]:
# Print all key names in the dictionary, one by one:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict:
  print(x)

brand
model
year

In [ ]:
# Print all values in the dictionary, one by one:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict:
  print(thisdict[x])

Ford
Mustang
1964

In [ ]:
# You can also use the values() method to return values of a dictionary:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict.values():
  print(x)

Ford
Mustang
1964

In [ ]:
# You can use the keys() method to return the keys of a dictionary:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict.keys():
  print(x)

In [ ]:
# Loop through both keys and values, by using the items() method:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x, y in thisdict.items():
  print(x, y)

# Python - Copy Dictionaries
## Copy a Dictionary
You cannot copy a dictionary simply by typing `dict2 = dict1`, because: `dict2` will only be a reference to `dict1`, and changes made in `dict1` will automatically also be made in `dict2`.

There are ways to make a copy, one way is to use the built-in Dictionary method `copy()`.

In [ ]:
# Make a copy of a dictionary with the copy() method:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

Another way to make a copy is to use the built-in function `dict()`.

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = dict(thisdict)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

# Python - Nested Dictionaries
## Nested Dictionaries
A dictionary can contain dictionaries, this is called nested dictionaries.

In [ ]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

Or, if you want to add three dictionaries into a new dictionary:

In [ ]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

## Access Items in Nested Dictionaries
To access items from a nested dictionary, you use the name of the dictionaries, starting with the outer dictionary:

In [ ]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

print(myfamily["child2"]["name"])

Tobias

## Loop Through Nested Dictionaries
You can loop through a dictionary by using the `items()` method like this:

In [ ]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

for x, obj in myfamily.items():
    print(x)
    
    for y in obj:
        print(y + ':', obj[y])

child1
name: Emil
year: 2004
child2
name: Tobias
year: 2007
child3
name: Linus
year: 2011

# Python Dictionary Methods
## Dictionary Methods
Python has a set of built-in methods that you can use on dictionaries.

| Method | Description |
|---|---|
| clear() | Removes all the elements from the dictionary |
| copy() | Returns a copy of the dictionary |
| fromkeys() | Returns a dictionary with the specified keys and value |
| get() | Returns the value of the specified key |
| items() | Returns a list containing a tuple for each key value pair | 
| keys() | Returns a list containing the dictionary's keys |
| pop() | Removes the element with the specified key |
| popitem() | Removes the last inserted key-value pair |
| setdefault() | Returns the value of the specified key. If the key does not exist: insert the key, with the specified value |
| update() | Updates the dictionary with the specified key-value pairs |
| values() | Returns a list of all the values in the dictionary |

In [ ]:
# Remove all elements from the car dictionary:
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car.clear()
print(car)

# Copy the car dictionary:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = car.copy()
print(x)

# Create a dictionary with 3 keys, all with the value 0:
x = ('key1', 'key2', 'key3')
y = 0
thisdict = dict.fromkeys(x, y)
print(thisdict)

# Get the value of the "model" item:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = car.get("model")
print(x)

# Return the dictionary's key-value pairs:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = car.items()
print(x)

# Return the keys:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = car.keys()
print(x)

# Remove "model" from the dictionary:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car.pop("model")
print(car)

# Remove the last item from the dictionary:

car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car.popitem()
print(car)

# Get the value of the "model" item:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = car.setdefault("model", "Bronco")
print(x)

# nsert an item to the dictionary:

car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car.update({"color": "White"})
print(car)

# Return the values:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = car.values()
print(x)

{}
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
{'key1': 0, 'key2': 0, 'key3': 0}
Mustang
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_keys(['brand', 'model', 'year'])
{'brand': 'Ford', 'year': 1964}
{'brand': 'Ford', 'model': 'Mustang'}
Mustang
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'White'}
dict_values(['Ford', 'Mustang', 1964])

# Python If ... Else
## Python Conditions and If statements
Python supports the usual logical conditions from mathematics:

- Equals: `a == b`
- Not Equals: `a != b`
- Less than: `a < b`
- Less than or equal to: `a <= b`
- Greater than: `a > b`
- Greater than or equal to: `a >= b`

These conditions can be used in several ways, most commonly in "if statements" and loops.

An "if statement" is written by using the `if` keyword.

In [ ]:
a = 33
b = 200

if b > a:
  print("b is greater than a")

b is greater than a

In this example we use two variables, `a` and `b`, which are used as part of the if statement to test whether `b` is greater than `a`. As a is `33`, and `b` is `200`, we know that 200 is greater than 33, and so we print to screen that "b is greater than a".

## Indentation
Python relies on indentation (whitespace at the beginning of a line) to define scope in the code. Other programming languages often use curly-brackets for this purpose.

In [ ]:
a = 33
b = 200

if b > a:
print("b is greater than a")

IndentationError: expected an indented block after 'if' statement on line 4 (170397834.py, line 5)

## Elif
The `elif` keyword is Python's way of saying "if the previous conditions were not true, then try this condition".

In [ ]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In this example `a` is equal to `b`, so the first condition is not true, but the `elif` condition is true, so we print to screen that "a and b are equal".

## Else

The `else` keyword catches anything which isn't caught by the preceding conditions.

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In this example `a` is greater than `b`, so the first condition is not true, also the `elif` condition is not true, so we go to the else condition and print to screen that "a is greater than b".

You can also have an `else` without the `elif`:

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

## Short Hand If
If you have only one statement to execute, you can put it on the same line as the if statement.

In [ ]:
a = 200
b = 33

if a > b: print("a is greater than b")

a is greater than b

## Short Hand If ... Else
If you have only one statement to execute, one for if, and one for else, you can put it all on the same line:

In [ ]:
a = 2
b = 330

print("A") if a > b else print("B")

B

You can also have multiple else statements on the same line:

In [ ]:
a = 330
b = 330

print("A") if a > b else print("=") if a == b else print("B")

=

## And
The `and` keyword is a logical operator, and is used to combine conditional statements:

In [ ]:
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

## Or
The `or` keyword is a logical operator, and is used to combine conditional statements:

In [ ]:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

## Not
The `not` keyword is a logical operator, and is used to reverse the result of the conditional statement:

In [ ]:
a = 33
b = 200
if not a > b:
  print("a is NOT greater than b")

a is NOT greater than b

## Nested If
You can have `if` statements inside `if` statements, this is called nested `if` statements.

In [ ]:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

## The pass Statement
`if` statements cannot be empty, but if you for some reason have an `if` statement with no content, put in the `pass` statement to avoid getting an error.

In [ ]:
a = 33
b = 200

if b > a:
  pass

# having an empty if statement like this, would raise an error without the pass statement

# Python Match

The `match` statement is used to perform different actions based on different conditions.

## The Python Match Statement

Instead of writing many `if..else` statements, you can use the `match` statement.

The `match` statement selects one of many code blocks to be executed.

```python
match expression:
  case x:
    code block
  case y:
    code block
  case z:
    code block
```

This is how it works:

- The `match` expression is evaluated once.
- The value of the expression is compared with the values of each case.
- If there is a match, the associated block of code is executed.

The example below uses the weekday number to print the weekday name:

In [ ]:
day = 4
match day:
  case 1:
    print("Monday")
  case 2:
    print("Tuesday")
  case 3:
    print("Wednesday")
  case 4:
    print("Thursday")
  case 5:
    print("Friday")
  case 6:
    print("Saturday")
  case 7:
    print("Sunday")

Sunday

## Default Value

Use the underscore character `_` as the last case value if you want a code block to execute when there are not other matches:

In [ ]:
day = 4
match day:
  case 6:
    print("Today is Saturday")
  case 7:
    print("Today is Sunday")
  case _:
    print("Looking forward to the Weekend")

Looking forward to the Weekend

The value `_` will always match, so it is important to place it as the *last* `case` to make it behave as a default `case`.

## Combine Values

Use the pipe character `|` as an or operator in the `case` evaluation to check for more than one value match in one `case`:

In [ ]:
day = 2
match day:
  case 1 | 2 | 3 | 4 | 5:
    print("Today is a weekday")
  case 6 | 7:
    print("I love weekends!")

Today is a weekday

## If Statements as Guards

You can add `if` statements in the case evaluation as an extra condition-check:

In [ ]:
month = 5
day = 4
match day:
  case 1 | 2 | 3 | 4 | 5 if month == 4:
    print("A weekday in April")
  case 1 | 2 | 3 | 4 | 5 if month == 5:
    print("A weekday in May")
  case _:
    print("No match")

A weekday in May

# Python While Loops

## Python Loops

Python has two primitive loop commands:

- `while` loops
- `for` loops

## The while Loop

With the `while` loop we can execute a set of statements as long as a condition is true.

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

The `while` loop requires relevant variables to be ready, in this example we need to define an indexing variable, `i`, which we set to 1.

## The break Statement
With the `break` statement we can stop the loop even if the while condition is true:

In [ ]:
i = 1
while i < 6:
  print(i)
  if (i == 3):
    break
  i += 1

1
2
3

## The continue Statement
With the `continue` statement we can stop the current iteration, and continue with the next:

In [ ]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

# Note that number 3 is missing in the result

1
2
4
5
6

## The else Statement

With the `else` statement we can run a block of code once when the condition no longer is true:

Example

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

# Python For Loops

## Python For Loops

A `for` loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

This is less like the `for` keyword in other programming languages, and works more like an iterator method as found in other object-orientated programming languages.

With the `for` loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

The `for` loop does not require an indexing variable to set beforehand.

## Looping Through a String

Even strings are iterable objects, they contain a sequence of characters:

In [ ]:
for x in "banana":
  print(x)

b
a
n
a
n
a

## The break Statement
With the `break` statement we can stop the loop before it has looped through all the items:

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x) 
  if x == "banana":
    break

apple
banana

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

## The continue Statement
With the `continue` statement we can stop the current iteration of the loop, and continue with the next:

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

## The range() Function
To loop through a set of code a specified number of times, we can use the `range()` function,

The `range()` function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

In [ ]:
for x in range(6):
  print(x)

0
1
2
3
4
5

The `range()` function defaults to 0 as a starting value, however it is possible to specify the starting value by adding a parameter: `range(2, 6)`, which means values from 2 to 6 (but not including 6):

In [ ]:
for x in range(2, 6):
  print(x)

2
3
4
5

The `range()` function defaults to increment the sequence by 1, however it is possible to specify the increment value by adding a third parameter: `range(2, 30, 3)`:

In [ ]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

## Else in For Loop
The `else` keyword in a `for` loop specifies a block of code to be executed when the loop is finished:

In [ ]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [ ]:
for x in range(6):
  if x == 3: break
  print(x)
else:
  print("Finally finished!")

#If the loop breaks, the else block is not executed.

0
1
2

## Nested Loops

A nested loop is a loop inside a loop.

The "inner loop" will be executed one time for each iteration of the "outer loop":

In [ ]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

## The pass Statement

`for` loops cannot be empty, but if you for some reason have a `for` loop with no content, put in the `pass` statement to avoid getting an error.

In [ ]:
for x in [0, 1, 2]:
  pass

# having an empty for loop like this, would raise an error without the pass statement

# Python Functions
A function is a block of code which only runs when it is called.

You can pass data, known as parameters, into a function.

A function can return data as a result.

## Creating a Function
In Python a function is defined using the `def` keyword:

```python
def my_function():
  print("Hello from a function")
```
## Calling a Function

To call a function, use the function name followed by parenthesis:

In [ ]:
def my_function():
  print("Hello from a function")

my_function()

Hello from a function

## Arguments
Information can be passed into functions as arguments.

Arguments are specified after the function name, inside the parentheses. You can add as many arguments as you want, just separate them with a comma.

The following example has a function with one argument (fname). When the function is called, we pass along a first name, which is used inside the function to print the full name:

In [ ]:
def my_function(fname):
    print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

## Parameters or Arguments?
The terms parameter and argument can be used for the same thing: information that are passed into a function.

From a function's perspective:

A parameter is the variable listed inside the parentheses in the function definition.

An argument is the value that is sent to the function when it is called.

## Number of Arguments

By default, a function must be called with the correct number of arguments. Meaning that if your function expects 2 arguments, you have to call the function with 2 arguments, not more, and not less.

In [ ]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil", "Refsnes")

Emil Refsnes

If you try to call the function with 1 or 3 arguments, you will get an error:

In [ ]:
def my_function(fname, lname):
    print(fname + " " + lname)

my_function("Emil")

TypeError: my_function() missing 1 required positional argument: 'lname'

## Arbitrary Arguments, *args

If you do not know how many arguments that will be passed into your function, add a `*` before the parameter name in the function definition.

This way the function will receive a tuple of arguments, and can access the items accordingly:

In [ ]:
def my_function(*kids):
    print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

## Keyword Arguments

You can also send arguments with the *key* = *value syntax*.

This way the order of the arguments does not matter.

In [ ]:
def my_function(child3, child2, child1):
    print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

## Arbitrary Keyword Arguments, **kwargs

If you do not know how many keyword arguments that will be passed into your function, add two asterisk: `**` before the parameter name in the function definition.

This way the function will receive a dictionary of arguments, and can access the items accordingly:

In [ ]:
def my_function(**kid):
    print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes

## Default Parameter Value

The following example shows how to use a default parameter value.

If we call the function without argument, it uses the default value:

In [ ]:
def my_function(country = "Norway"):
    print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

## Passing a List as an Argument

You can send any data types of argument to a function (string, number, list, dictionary etc.), and it will be treated as the same data type inside the function.

E.g. if you send a List as an argument, it will still be a List when it reaches the function:

In [ ]:
def my_function(food):
    for x in food:
        print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

## Return Values

To let a function return a value, use the `return` statement:

In [ ]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

## The pass Statement

Function definitions cannot be empty, but if you for some reason have a function definition with no content, put in the `pass` statement to avoid getting an error.

In [ ]:
def myfunction():
  pass

# having an empty function definition like this, would raise an error without the pass statement

## Positional-Only Arguments

You can specify that a function can have ONLY positional arguments, or ONLY keyword arguments.

To specify that a function can have only positional arguments, add `, /` after the arguments:

In [ ]:
def my_function(x, /):
    print(x)

my_function(3)

3

Without the `, /` you are actually allowed to use keyword arguments even if the function expects positional arguments:

In [ ]:
def my_function(x):
    print(x)

my_function(x = 3)

3

But when adding the `, /` you will get an error if you try to send a keyword argument:

In [ ]:
def my_function(x, /):
    print(x)

my_function(x = 3)

TypeError: my_function() got some positional-only arguments passed as keyword arguments: 'x'

## Keyword-Only Arguments

To specify that a function can have only keyword arguments, add `*,` before the arguments:

In [ ]:
def my_function(*, x):
  print(x)

my_function(x = 3)

3

Without the `*,` you are allowed to use positional arguments even if the function expects keyword arguments:

In [ ]:
def my_function(x):
  print(x)

my_function(3)

3

But with the `*,` you will get an error if you try to send a positional argument:

In [ ]:
def my_function(*, x):
  print(x)

my_function(3)

TypeError: my_function() takes 0 positional arguments but 1 was given

## Combine Positional-Only and Keyword-Only

You can combine the two argument types in the same function.

Any argument before the `/ ,` are positional-only, and any argument after the `*,` are keyword-only.

In [ ]:
def my_function(a, b, /, *, c, d):
    print(a + b + c + d)

my_function(5, 6, c = 7, d = 8)

26

## Recursion

Python also accepts function recursion, which means a defined function can call itself.

Recursion is a common mathematical and programming concept. It means that a function calls itself. This has the benefit of meaning that you can loop through data to reach a result.

The developer should be very careful with recursion as it can be quite easy to slip into writing a function which never terminates, or one that uses excess amounts of memory or processor power. However, when written correctly recursion can be a very efficient and mathematically-elegant approach to programming.

In this example, `tri_recursion()` is a function that we have defined to call itself ("recurse"). We use the `k` variable as the data, which decrements (`-1`) every time we recurse. The recursion ends when the condition is not greater than 0 (i.e. when it is 0).

To a new developer it can take some time to work out how exactly this works, best way to find out is by testing and modifying it.

In [ ]:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("Recursion Example Results:")
tri_recursion(6)

Recursion Example Results:
1
3
6
10
15
21

21

# Python Lambda

A lambda function is a small anonymous function.

A lambda function can take any number of arguments, but can only have one expression.

**Syntax**
`lambda arguments : expression`
The expression is executed and the result is returned:

In [ ]:
x = lambda a : a + 10
print(x(5))

15

Lambda functions can take any number of arguments:

In [ ]:
x = lambda a, b : a * b
print(x(5, 6))

30

In [ ]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

Why Use Lambda Functions?
The power of lambda is better shown when you use them as an anonymous function inside another function.

Say you have a function definition that takes one argument, and that argument will be multiplied with an unknown number:

```python
def myfunc(n):
  return lambda a : a * n
  ```
Use that function definition to make a function that always doubles the number you send in:

In [ ]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)

print(mydoubler(11))

22

Or, use the same function definition to make a function that always triples the number you send in:

In [ ]:
def myfunc(n):
  return lambda a : a * n

mytripler = myfunc(3)

print(mytripler(11))

33

Or, use the same function definition to make both functions, in the same program:

In [ ]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11)) 
print(mytripler(11))

22
33

# Python Arrays

Note: Python does not have built-in support for Arrays, but Python Lists can be used instead.

## Arrays

Note: This page shows you how to use LISTS as ARRAYS, however, to work with arrays in Python you will have to import a library, like the NumPy library.

Arrays are used to store multiple values in one single variable:

In [ ]:
cars = ["Ford", "Volvo", "BMW"]

print(cars)

['Ford', 'Volvo', 'BMW']

## What is an Array?

An array is a special variable, which can hold more than one value at a time.

If you have a list of items (a list of car names, for example), storing the cars in single variables could look like this:

```python
car1 = "Ford"
car2 = "Volvo"
car3 = "BMW"
```

However, what if you want to loop through the cars and find a specific one? And what if you had not 3 cars, but 300?

The solution is an array!

An array can hold many values under a single name, and you can access the values by referring to an index number.

## Access the Elements of an Array

You refer to an array element by referring to the index number.

In [ ]:
cars = ["Ford", "Volvo", "BMW"]
x = cars[0]
print(x)

Ford

In [ ]:
cars = ["Ford", "Volvo", "BMW"]
cars[0] = "Toyota"
print(cars)

['Toyota', 'Volvo', 'BMW']

## The Length of an Array

Use the `len()` method to return the length of an array (the number of elements in an array).

In [ ]:
cars = ["Ford", "Volvo", "BMW"]
x = len(cars)
print(x)

3

## Looping Array Elements

You can use the `for in` loop to loop through all the elements of an array.

In [ ]:
cars = ["Ford", "Volvo", "BMW"]
for x in cars:
    print(x)

Ford
Volvo
BMW

## Adding Array Elements

You can use the `append()` method to add an element to an array.

In [ ]:
cars = ["Ford", "Volvo", "BMW"]
cars.append("Honda")
print(cars)

['Ford', 'Volvo', 'BMW', 'Honda']

## Removing Array Elements

You can use the `pop()` method to remove an element from the array.

In [ ]:
cars = ["Ford", "Volvo", "BMW"]
cars.pop(1)
print(cars)

['Ford', 'BMW']

You can also use the `remove()` method to remove an element from the array.

In [ ]:
cars = ["Ford", "Volvo", "BMW"]
cars.remove("Volvo")
print(cars)

['Ford', 'BMW']

## Array Methods

Python has a set of built-in methods that you can use on lists/arrays.

| Method | Description |
|---|---|
| append() | Adds an element at the end of the list |
| clear() | Removes all the elements from the list |
| copy() | Returns a copy of the list |
| count() | Returns the number of elements with the specified value |
| extend() | Add the elements of a list (or any iterable), to the end of the current list | 
| index() | Returns the index of the first element with the specified value |
| insert() | Adds an element at the specified position |
| pop() | Removes the element at the specified position |
| remove() | Removes the first item with the specified value |
| reverse() | Reverses the order of the list |
| sort() | Sorts the list |

# Python OOP
## What is OOP?

**OOP** stands for **Object-Oriented Programming**.

Python is an object-oriented language, allowing you to structure your code using classes and objects for better organization and reusability.

## Advantages of OOP

- Provides a clear structure to programs
- Makes code easier to maintain, reuse, and debug
- Helps keep your code DRY (Don't Repeat Yourself)
- Allows you to build reusable applications with less code

**Tip**: The DRY principle means you should avoid writing the same code more than once. Move repeated code into functions or classes and reuse it.

## What are Classes and Objects?

Classes and objects are the two core concepts in object-oriented programming.

A class defines what an object should look like, and an object is created based on that class. For example:

| Class | Objects |
|---|---|
| Fruit | Apple, Banana, Mango |
| Car | Volvo, Audi, Toyota |

When you create an object from a class, it inherits all the variables and functions defined inside that class.

In the next chapters, you will learn how to:

- Create a class
- Create objects
- Access class members
- And much more

# Python Classes and Objects

## Python Classes/Objects

Python is an object oriented programming language.

Almost everything in Python is an object, with its properties and methods.

A Class is like an object constructor, or a "blueprint" for creating objects.

## Create a Class

To create a class, use the keyword `class`:

In [ ]:
class MyClass:
    x = 5

print(MyClass)

<class '__main__.MyClass'>

## Create Object

Now we can use the class named MyClass to create objects:

In [ ]:
class MyClass:
    x = 5

p1 = MyClass()
print(p1.x)

5

## The __init__() Method

The examples above are classes and objects in their simplest form, and are not really useful in real life applications.

To understand the meaning of classes we have to understand the built-in `__init__()` method.

All classes have a method called `__init__()`, which is always executed when the class is being initiated.

Use the `__init__()` method to assign values to object properties, or other operations that are necessary to do when the object is being created:

In [ ]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

John
36

## The __str__() Method

The `__str__()` method controls what should be returned when the class object is represented as a string.

If the `__str__()` method is not set, the string representation of the object is returned:

In [ ]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

p1 = Person("John", 36)

print(p1)

<__main__.Person object at 0x000001B290152120>

In [ ]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def __str__(self):
        return f"{self.name}({self.age})"

p1 = Person("John", 36)

print(p1)

John(36)

## Create Methods

You can create your own methods inside objects. Methods in objects are functions that belong to the object.

Let us create a method in the Person class:

In [ ]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def myfunc(self):
        print("Hello my name is " + self.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

## The self Parameter

The `self` parameter is a reference to the current instance of the class, and is used to access variables that belong to the class.

It does not have to be named `self`, you can call it whatever you like, but it has to be the first parameter of any function in the class:

In [ ]:
class Person:
    def __init__(mysillyobject, name, age):
        mysillyobject.name = name
        mysillyobject.age = age

    def myfunc(abc):
        print("Hello my name is " + abc.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

## Modify Object Properties

You can modify properties on objects like this:

In [ ]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def myfunc(self):
        print("Hello my name is " + self.name)

p1 = Person("John", 36)

p1.age = 40

print(p1.age)

40

## Delete Object Properties

You can delete properties on objects by using the `del` keyword:

In [ ]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def myfunc(self):
        print("Hello my name is " + self.name)

p1 = Person("John", 36)

del p1.age

print(p1.age)

AttributeError: 'Person' object has no attribute 'age'

## Delete Objects

You can delete objects by using the `del` keyword:

In [ ]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def myfunc(self):
        print("Hello my name is " + self.name)

p1 = Person("John", 36)

del p1

print(p1)

NameError: name 'p1' is not defined

## The pass Statement
`class` definitions cannot be empty, but if you for some reason have a `class` definition with no content, put in the `pass` statement to avoid getting an error.

In [ ]:
class Person:
    pass

# having an empty class definition like this, would raise an error without the pass statement

# Python Inheritance

## Python Inheritance

Inheritance allows us to define a class that inherits all the methods and properties from another class.

**Parent class** is the class being inherited from, also called base class.

**Child class** is the class that inherits from another class, also called derived class.

## Create a Parent Class
Any class can be a parent class, so the syntax is the same as creating any other class:

In [ ]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

#Use the Person class to create an object, and then execute the printname method:

x = Person("John", "Doe")
x.printname()

John Doe

## Create a Child Class

To create a class that inherits the functionality from another class, send the parent class as a parameter when creating the child class:

In [ ]:
# Example
# Create a class named Student, which will inherit the properties and methods from the Person class:

class Student(Person):
  pass

Now the Student class has the same properties and methods as the Person class.

In [ ]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

class Student(Person):
  pass

x = Student("Mike", "Olsen")
x.printname()

Mike Olsen

Now the Student class has the same properties and methods as the Person class.

In [ ]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

class Student(Person):
  pass

x = Student("Mike", "Olsen")
x.printname()

Mike Olsen

## Add the __init__() Function

So far we have created a child class that inherits the properties and methods from its parent.

We want to add the `__init__()` function to the child class (instead of the pass keyword).

Note: The `__init__()` function is called automatically every time the class is being used to create a new object.

Example

Add the `__init__()` function to the `Student` class:

```python
class Student(Person):
  def __init__(self, fname, lname):
    #add properties etc.
```

When you add the `__init__()` function, the child class will no longer inherit the parent's `__init__()` function.

**Note**: The child's `__init__()` function overrides the inheritance of the parent's `__init__()` function.

To keep the inheritance of the parent's `__init__()` function, add a call to the parent's `__init__()` function:

In [ ]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

class Student(Person):
  def __init__(self, fname, lname):
    Person.__init__(self, fname, lname)

x = Student("Mike", "Olsen")
x.printname()

Mike Olsen

Now we have successfully added the `__init__()` function, and kept the inheritance of the parent class, and we are ready to add functionality in the `__init__()` function.

## Use the super() Function

Python also has a `super()` function that will make the child class inherit all the methods and properties from its parent:

In [ ]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

class Student(Person):
  def __init__(self, fname, lname):
    super().__init__(fname, lname)

x = Student("Mike", "Olsen")
x.printname()

Mike Olsen

By using the `super()` function, you do not have to use the name of the parent element, it will automatically inherit the methods and properties from its parent.

## Add Properties

In [ ]:
class Person:
    def __init__(self, fname, lname):
        self.firstname = fname
        self.lastname = lname

    def printname(self):
        print(self.firstname, self.lastname)

class Student(Person):
    def __init__(self, fname, lname):
        super().__init__(fname, lname)
        self.graduationyear = 2019

x = Student("Mike", "Olsen")
print(x.graduationyear)

2019

In the example below, the year `2019` should be a variable, and passed into the `Student` class when creating student objects. To do so, add another parameter in the `__init__()` function:

In [ ]:
class Person:
    def __init__(self, fname, lname):
        self.firstname = fname
        self.lastname = lname

    def printname(self):
        print(self.firstname, self.lastname)

class Student(Person):
    def __init__(self, fname, lname, year):
        super().__init__(fname, lname)
        self.graduationyear = year

x = Student("Mike", "Olsen", 2019)
print(x.graduationyear)

2019

## Add Methods

In [ ]:
class Person:
    def __init__(self, fname, lname):
        self.firstname = fname
        self.lastname = lname

    def printname(self):
        print(self.firstname, self.lastname)

class Student(Person):
    def __init__(self, fname, lname, year):
        super().__init__(fname, lname)
        self.graduationyear = year

    def welcome(self):
        print("Welcome", self.firstname, self.lastname, "to the class of", self.graduationyear)

x = Student("Mike", "Olsen", 2024)
x.welcome()

Welcome Mike Olsen to the class of 2024

If you add a method in the child class with the same name as a function in the parent class, the inheritance of the parent method will be overridden.

# Python Iterators

An iterator is an object that contains a countable number of values.

An iterator is an object that can be iterated upon, meaning that you can traverse through all the values.

Technically, in Python, an iterator is an object which implements the iterator protocol, which consist of the methods `__iter__()` and `__next__()`.

## Iterator vs Iterable

Lists, tuples, dictionaries, and sets are all iterable objects. They are iterable *containers* which you can get an iterator from.

All these objects have a `iter()` method which is used to get an iterator:

In [ ]:
mytuple = ("apple", "banana", "cherry")
myit = iter(mytuple)

print(next(myit))
print(next(myit))
print(next(myit))

apple
banana
cherry

Even strings are iterable objects, and can return an iterator:

In [ ]:
mystr = "banana"
myit = iter(mystr)

print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))

b
a
n
a
n
a

## Looping Through an Iterator

We can also use a `for` loop to iterate through an iterable object:

In [ ]:
mytuple = ("apple", "banana", "cherry")

for x in mytuple:
    print(x)

apple
banana
cherry

In [ ]:
mystr = "banana"

for x in mystr:
  print(x)

b
a
n
a
n
a

The `for` loop actually creates an iterator object and executes the `next()` method for each loop.

## Create an Iterator

To create an object/class as an iterator you have to implement the methods `__iter__()` and `__next__()` to your object.

As you have learned in the Python Classes/Objects chapter, all classes have a function called `__init__()`, which allows you to do some initializing when the object is being created.

The `__iter__()` method acts similar, you can do operations (initializing etc.), but must always return the iterator object itself.

The `__next__()` method also allows you to do operations, and must return the next item in the sequence.

In [ ]:
class MyNumbers:
  def __iter__(self):
    self.a = 1
    return self

  def __next__(self):
    x = self.a
    self.a += 1
    return x

myclass = MyNumbers()
myiter = iter(myclass)

print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))

1
2
3
4
5

## StopIteration

The example above would continue forever if you had enough next() statements, or if it was used in a `for` loop.

To prevent the iteration from going on forever, we can use the `StopIteration` statement.

In the `__next__()` method, we can add a terminating condition to raise an error if the iteration is done a specified number of times:

In [ ]:
class MyNumbers:
  def __iter__(self):
    self.a = 1
    return self

  def __next__(self):
    if self.a <= 20:
      x = self.a
      self.a += 1
      return x
    else:
      raise StopIteration

myclass = MyNumbers()
myiter = iter(myclass)

for x in myiter:
  print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

# Python Polymorphism

The word "polymorphism" means "many forms", and in programming it refers to methods/functions/operators with the same name that can be executed on many objects or classes.

## Function Polymorphism

An example of a Python function that can be used on different objects is the `len()` function.

## String

For strings `len()` returns the number of characters:

In [ ]:
x = "Hello World!"

print(len(x))

12

## Tuple

For tuples `len()` returns the number of items in the tuple:

In [ ]:
mytuple = ("apple", "banana", "cherry")

print(len(mytuple))

3

## Dictionary

For dictionaries `len()` returns the number of key/value pairs in the dictionary:

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

print(len(thisdict))

3

## Class Polymorphism

Polymorphism is often used in Class methods, where we can have multiple classes with the same method name.

For example, say we have three classes: `Car`, `Boat`, and `Plane`, and they all have a method called `move()`:

In [ ]:
class Car:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Drive!")

class Boat:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Sail!")

class Plane:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Fly!")

car1 = Car("Ford", "Mustang")       #Create a Car object
boat1 = Boat("Ibiza", "Touring 20") #Create a Boat object
plane1 = Plane("Boeing", "747")     #Create a Plane object

for x in (car1, boat1, plane1):
  x.move()

Drive!
Sail!
Fly!

Look at the for loop at the end. Because of polymorphism we can execute the same method for all three classes.

## Inheritance Class Polymorphism

What about classes with child classes with the same name? Can we use polymorphism there?

Yes. If we use the example above and make a parent class called `Vehicle`, and make `Car`, `Boat`, Plane child classes of `Vehicle`, the child classes inherits the `Vehicle` methods, but can override them:

In [ ]:
class Vehicle:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Move!")

class Car(Vehicle):
  pass

class Boat(Vehicle):
  def move(self):
    print("Sail!")

class Plane(Vehicle):
  def move(self):
    print("Fly!")

car1 = Car("Ford", "Mustang") #Create a Car object
boat1 = Boat("Ibiza", "Touring 20") #Create a Boat object
plane1 = Plane("Boeing", "747") #Create a Plane object

for x in (car1, boat1, plane1):
  print(x.brand)
  print(x.model)
  x.move()

Ford
Mustang
Move!
Ibiza
Touring 20
Sail!
Boeing
747
Fly!

Child classes inherits the properties and methods from the parent class.

In the example above you can see that the `Car` class is empty, but it inherits `brand`, `model`, and `move()` from `Vehicle`.

The `Boat` and `Plane` classes also inherit `brand`, `model`, and `move()` from Vehicle, but they both override the `move()` method.

Because of polymorphism we can execute the same method for all classes.

# Python Scope

A variable is only available from inside the region it is created. This is called **scope**.

## Local Scope

A variable created inside a function belongs to the local scope of that function, and can only be used inside that function.

In [ ]:
def myfunc():
  x = 300
  print(x)

myfunc()

300

## Function Inside Function
As explained in the example above, the variable `x` is not available outside the function, but it is available for any function inside the function:

In [ ]:
def myfunc():
  x = 300
  def myinnerfunc():
    print(x)
  myinnerfunc()

myfunc()

300

## Global Scope

A variable created in the main body of the Python code is a global variable and belongs to the global scope.

Global variables are available from within any scope, global and local.

In [ ]:
x = 300

def myfunc():
  print(x)

myfunc()

print(x)

300
300

## Naming Variables

If you operate with the same variable name inside and outside of a function, Python will treat them as two separate variables, one available in the global scope (outside the function) and one available in the local scope (inside the function):

In [ ]:
x = 300

def myfunc():
  x = 200
  print(x)

myfunc()

print(x)

200
300

## Global Keyword

If you need to create a global variable, but are stuck in the local scope, you can use the `global` keyword.

The `global` keyword makes the variable global.

In [ ]:
def myfunc():
  global x
  x = 300

myfunc()

print(x)

300

Also, use the `global` keyword if you want to make a change to a global variable inside a function.

In [ ]:
x = 300

def myfunc():
  global x
  x = 200

myfunc()

print(x)

200

## Nonlocal Keyword

The `nonlocal` keyword is used to work with variables inside nested functions.

The `nonlocal` keyword makes the variable belong to the outer function.

In [ ]:
def myfunc1():
  x = "Jane"
  def myfunc2():
    nonlocal x
    x = "hello"
  myfunc2()
  return x

print(myfunc1())

hello

# Python Modules

## What is a Module?

Consider a module to be the same as a code library.

A file containing a set of functions you want to include in your application.

## Create a Module

To create a module just save the code you want in a file with the file extension .py:

```python
def greeting(name):
  print("Hello, " + name)
```

## Use a Module
Now we can use the module we just created, by using the import statement:

In [ ]:
import mymodule

mymodule.greeting("Jonathan")

Hello, Jonathan

Fuerza la carga de los modulos

In [ ]:
import importlib
import mymodule

importlib.reload(mymodule)  # Fuerza a recargar el archivo actualizado

## Use a Module

Now we can use the module we just created, by using the `import` statement:

In [ ]:
import mymodule

mymodule.greeting("Jonathan")

Hello, Jonathan

## Variables in Module

The module can contain functions, as already described, but also variables of all types (arrays, dictionaries, objects etc):

In [ ]:
import mymodule

a = mymodule.person1["age"]
print(a)

36

In [ ]:
import mymodule

a = mymodule.person1["age"]
print(a)

36

## Naming a Module

You can name the module file whatever you like, but it must have the file extension `.py`

## Re-naming a Module

You can create an alias when you import a module, by using the `as` keyword:

In [ ]:
import mymodule as mx

a = mx.person1["age"]
print(a)

36

## Built-in Modules

There are several built-in modules in Python, which you can import whenever you like.

In [ ]:
import platform

x = platform.system()
print(x)

Windows

## Using the dir() Function

There is a built-in function to list all the function names (or variable names) in a module. The `dir()` function:

In [ ]:
import platform

x = dir(platform)
print(x)

['AndroidVer', 'IOSVersionInfo', '_Processor', '_WIN32_CLIENT_RELEASES', '_WIN32_SERVER_RELEASES', '__builtins__', '__cached__', '__copyright__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '__version__', '_comparable_version', '_default_architecture', '_follow_symlinks', '_get_machine_win32', '_java_getprop', '_mac_ver_xml', '_node', '_norm_version', '_os_release_cache', '_os_release_candidates', '_parse_os_release', '_platform', '_platform_cache', '_sys_version', '_sys_version_cache', '_syscmd_file', '_syscmd_ver', '_uname_cache', '_unknown_as_blank', '_ver_stages', '_win32_ver', '_wmi', '_wmi_query', 'android_ver', 'architecture', 'collections', 'freedesktop_os_release', 'functools', 'ios_ver', 'itertools', 'java_ver', 'libc_ver', 'mac_ver', 'machine', 'node', 'os', 'platform', 'processor', 'python_branch', 'python_build', 'python_compiler', 'python_implementation', 'python_revision', 'python_version', 'python_version_tuple', 're', 'release', 'sys', 'system', 'system_alias', 'uname', 'uname_result', 'version', 'win32_edition', 'win32_is_iot', 'win32_ver']

## Import From Module

You can choose to import only parts from a module, by using the `from` keyword.

In [ ]:
def greeting(name):
  print("Hello, " + name)

person1 = {
  "name": "John",
  "age": 36,
  "country": "Norway"
}

In [ ]:
from mymodule import person1

print(person1["age"])

36

# Python Datetime

## Python Dates

A date in Python is not a data type of its own, but we can import a module named `datetime` to work with dates as date objects.

In [ ]:
import datetime

x = datetime.datetime.now()

print(x)

2025-09-05 17:39:42.525604

## Date Output

When we execute the code from the example above the result will be:

`2025-09-05 17:37:11.750647`

The date contains year, month, day, hour, minute, second, and microsecond.

The `datetime` module has many methods to return information about the date object.

Here are a few examples, you will learn more about them later in this chapter:

In [ ]:
import datetime

x = datetime.datetime.now()

print(x.year)
print(x.strftime("%A"))

2025
Friday

## Creating Date Objects

To create a date, we can use the `datetime()` class (constructor) of the `datetime` module.

The `datetime()` class requires three parameters to create a date: year, month, day.

In [ ]:
import datetime

x = datetime.datetime(2020, 5, 17)

print(x)

2020-05-17 00:00:00

The `datetime()` class also takes parameters for time and timezone (hour, minute, second, microsecond, tzone), but they are optional, and has a default value of `0`, (`None` for timezone).

## The strftime() Method

The `datetime` object has a method for formatting date objects into readable strings.

The method is called `strftime()`, and takes one parameter, `format`, to specify the format of the returned string:

In [ ]:
import datetime

x = datetime.datetime(2018, 6, 1)

print(x.strftime("%B"))

June

A reference of all the legal format codes:

| Directive | Description | Example |
|---|---|---|
| %a | Weekday, short version | Wed	|
| %A | Weekday, full version | Wednesday |	
| %w | Weekday as a number 0-6, 0 is Sunday | 3	|
| %d | Day of month 01-31 | 31 |	
| %b | Month name, short version | Dec |
| %B | Month name, full version | December |
| %m | Month as a number 01-12 | 12 |
| %y | Year, short version, without century | 18 |
| %Y | Year, full version | 2018 |
| %H | Hour 00-23 | 17 |
| %I | Hour 00-12 | 05 |
| %p | AM/PM | PM |
| %M | Minute 00-59 | 41 |
| %S | Second 00-59 | 08 |
| %f | Microsecond 000000-999999 | 548513 |
| %z | UTC offset | +0100 |
| %Z | Timezone | CST |
| %j | Day number of year 001-366 | 365 |
| %U | Week number of year, Sunday as the first day of week, 00-53 | 52 |
| %W | Week number of year, Monday as the first day of week, 00-53 | 52 |
| %c | Local version of date and time | Mon Dec 31 17:41:00 2018 |
| %C | Century | 20 |
| %x | Local version of date | 12/31/18 |
| %X | Local version of time | 17:41:00 |
| %% | A % character | % |
| %G | ISO 8601 year | 2018 |
| %u | ISO 8601 weekday (1-7) | 1 |
| %V | ISO 8601 weeknumber (01-53) | 01 |

In [ ]:
# %a = Weekday, short version
import datetime
x = datetime.datetime.now()
print(x.strftime("%a"))

# %A = Weekday, full version
x = datetime.datetime.now()
print(x.strftime("%A"))

# %w = Weekday as a number 0-6, 0 is Sunday
x = datetime.datetime.now()
print(x.strftime("%w"))

# %d = Day of month 01-31
x = datetime.datetime.now()
print(x.strftime("%d"))

# %b = Month name, short version
x = datetime.datetime.now()
print(x.strftime("%b"))

# %B = Month name, full version
x = datetime.datetime.now()
print(x.strftime("%B"))

# %m = Month as a number 01-12
x = datetime.datetime.now()
print(x.strftime("%m"))

# %y = Year, short version, without century
x = datetime.datetime.now()
print(x.strftime("%y"))

# %Y = Year, full version
x = datetime.datetime.now()
print(x.strftime("%Y"))

# %H = Hour 00-23
x = datetime.datetime.now()
print(x.strftime("%H"))

# %I = Hour 00-12
x = datetime.datetime.now()
print(x.strftime("%I"))

# %p = AM/PM
x = datetime.datetime.now()
print(x.strftime("%p"))

# %M = Minute 00-59
x = datetime.datetime.now()
print(x.strftime("%M"))

# %S = Second 00-59
x = datetime.datetime.now()
print(x.strftime("%S"))

# %f	Microsecond 000000-999999
x = datetime.datetime.now()
print(x.strftime("%f"))

#%z = UTC offset	+0100
x = datetime.datetime.now()
print(x.strftime("%z"))

# %Z = Timezone	CST
x = datetime.datetime.now()
print(x.strftime("%Z"))

# %j	Day number of year 001-366
x = datetime.datetime.now()
print(x.strftime("%j"))

# %U = Week number of year, Sunday as the first day of week, 00-53
x = datetime.datetime.now()
print(x.strftime("%U"))

# %W = Week number of year, Monday as the first day of week, 00-53
x = datetime.datetime(2018, 5, 31)
print(x.strftime("%W"))

# %c = Local version of date and time
x = datetime.datetime.now()
print(x.strftime("%c"))

# %C = Century	20
x = datetime.datetime.now()
print(x.strftime("%C"))

# %x = Local version of date
x = datetime.datetime.now()
print(x.strftime("%x"))

# %X = Local version of time
x = datetime.datetime.now()
print(x.strftime("%X"))

# %% = A % character
x = datetime.datetime.now()
print(x.strftime("%%"))

# %G = ISO 8601 year
x = datetime.datetime.now()
print(x.strftime("%G"))

# %u = ISO 8601 weekday (1-7)
x = datetime.datetime.now()
print(x.strftime("%u"))

# %V = ISO 8601 weeknumber (01-53)
x = datetime.datetime.now()
print(x.strftime("%V"))

Fri
Friday
5
05
Sep
September
09
25
2025
19
07
PM
08
59
564728


248
35
22
Fri Sep  5 19:08:59 2025
20
09/05/25
19:08:59
%
2025
5
36

# Python Math

Python has a set of built-in math functions, including an extensive math module, that allows you to perform mathematical tasks on numbers.

## Built-in Math Functions

The `min()` and `max()` functions can be used to find the lowest or highest value in an iterable:

In [ ]:
x = min(5, 10, 25)
y = max(5, 10, 25)

print(x)
print(y)

5
25

The `abs()` function returns the absolute (positive) value of the specified number:

In [ ]:
x = abs(-7.25)

print(x)

7.25

The `pow(x, y)` function returns the value of x to the power of y (xy).

In [ ]:
x = pow(4, 3)

print(x)

64

## The Math Module

Python has also a built-in module called `math`, which extends the list of mathematical functions.

To use it, you must import the `math` module:

`import math`

When you have imported the `math` module, you can start using methods and constants of the module.

The `math.sqrt()` method for example, returns the square root of a number:

In [ ]:
import math

x = math.sqrt(64)

print(x)

8.0

The `math.ceil()` method rounds a number upwards to its nearest integer, and the `math.floor()` method rounds a number downwards to its nearest integer, and returns the result:

In [ ]:
#Import math library
import math

#Round a number upward to its nearest integer
x = math.ceil(1.4)

#Round a number downward to its nearest integer
y = math.floor(1.4)

print(x)
print(y)

2
1

The `math.pi` constant, returns the value of PI (3.14...):

In [ ]:
import math

x = math.pi
print(x)

3.141592653589793

# Python JSON

JSON is a syntax for storing and exchanging data.

JSON is text, written with JavaScript object notation.

## JSON in Python

Python has a built-in package called `json`, which can be used to work with JSON data.

`import json`

## Parse JSON - Convert from JSON to Python

If you have a JSON string, you can parse it by using the `json.loads()` method.

The result will be a Python dictionary.

In [ ]:
import json

# some JSON:
x = '{ "name":"John", "age":30, "city":"New York"}'

# parse x:
y = json.loads(x)

# the result is a Python dictionary:
print(y["age"])

30

## Convert from Python to JSON

If you have a Python object, you can convert it into a JSON string by using the `json.dumps()` method.

In [ ]:
import json

# a Python object (dict):
x = {
  "name": "John",
  "age": 30,
  "city": "New York"
}

# convert into JSON:
y = json.dumps(x)

# the result is a JSON string:
print(y)

{"name": "John", "age": 30, "city": "New York"}

You can convert Python objects of the following types, into JSON strings:

- dict
- list
- tuple
- string
- int
- float
- True
- False
- None

In [ ]:
import json

print(json.dumps({"name": "John", "age": 30}))
print(json.dumps(["apple", "bananas"]))
print(json.dumps(("apple", "bananas")))
print(json.dumps("hello"))
print(json.dumps(42))
print(json.dumps(31.76))
print(json.dumps(True))
print(json.dumps(False))
print(json.dumps(None))

{"name": "John", "age": 30}
["apple", "bananas"]
["apple", "bananas"]
"hello"
42
31.76
true
false
null

When you convert from Python to JSON, Python objects are converted into the JSON (JavaScript) equivalent:

| Python | JSON |
|---|---|
| dict | Object |
| list | Array |
| tuple | Array |
| str | String |
| int | Number |
| float | Number |
| True | true |
| False | false |
| None | null |

In [ ]:
import json

x = {
  "name": "John",
  "age": 30,
  "married": True,
  "divorced": False,
  "children": ("Ann","Billy"),
  "pets": None,
  "cars": [
    {"model": "BMW 230", "mpg": 27.5},
    {"model": "Ford Edge", "mpg": 24.1}
  ]
}

# convert into JSON:
y = json.dumps(x)

# the result is a JSON string:
print(y)

{"name": "John", "age": 30, "married": true, "divorced": false, "children": ["Ann", "Billy"], "pets": null, "cars": [{"model": "BMW 230", "mpg": 27.5}, {"model": "Ford Edge", "mpg": 24.1}]}

## Format the Result

The example above prints a JSON string, but it is not very easy to read, with no indentations and line breaks.

The `json.dumps()` method has parameters to make it easier to read the result:

`json.dumps(x, indent=4)`

You can also define the separators, default value is (", ", ": "), which means using a comma and a space to separate each object, and a colon and a space to separate keys from values:

In [ ]:
import json

x = {
  "name": "John",
  "age": 30,
  "married": True,
  "divorced": False,
  "children": ("Ann","Billy"),
  "pets": None,
  "cars": [
    {"model": "BMW 230", "mpg": 27.5},
    {"model": "Ford Edge", "mpg": 24.1}
  ]
}

# use . and a space to separate objects, and a space, a = and a space to separate keys from their values:
print(json.dumps(x, indent=4, separators=(". ", " = ")))

{
    "name" = "John".
    "age" = 30.
    "married" = true.
    "divorced" = false.
    "children" = [
        "Ann".
        "Billy"
    ].
    "pets" = null.
    "cars" = [
        {
            "model" = "BMW 230".
            "mpg" = 27.5
        }.
        {
            "model" = "Ford Edge".
            "mpg" = 24.1
        }
    ]
}

## Order the Result

The `json.dumps()` method has parameters to order the keys in the result:

In [ ]:
import json

x = {
  "name": "John",
  "age": 30,
  "married": True,
  "divorced": False,
  "children": ("Ann","Billy"),
  "pets": None,
  "cars": [
    {"model": "BMW 230", "mpg": 27.5},
    {"model": "Ford Edge", "mpg": 24.1}
  ]
}

# sort the result alphabetically by keys:
print(json.dumps(x, indent=4, sort_keys=True))

{
    "age": 30,
    "cars": [
        {
            "model": "BMW 230",
            "mpg": 27.5
        },
        {
            "model": "Ford Edge",
            "mpg": 24.1
        }
    ],
    "children": [
        "Ann",
        "Billy"
    ],
    "divorced": false,
    "married": true,
    "name": "John",
    "pets": null
}

# Python RegEx
A RegEx, or Regular Expression, is a sequence of characters that forms a search pattern.

RegEx can be used to check if a string contains the specified search pattern.

## RegEx Module

Python has a built-in package called `re`, which can be used to work with Regular Expressions.

Import the `re` module:

`import re`

## RegEx in Python

When you have imported the `re` module, you can start using regular expressions:

In [ ]:
import re

#Check if the string starts with "The" and ends with "Spain":

txt = "The rain in Spain"
x = re.search("^The.*Spain$", txt)

if x:
  print("YES! We have a match!")
else:
  print("No match")

YES! We have a match!

## RegEx Functions

The `re` module offers a set of functions that allows us to search a string for a match:

| Function | Description |
|---|---|
| findall | Returns a list containing all matches |
| search | Returns a Match object if there is a match anywhere in the string |
| split | Returns a list where the string has been split at each match |
| sub | Replaces one or many matches with a string |

In [ ]:
# findall
import re
txt = "The rain in Spain"
x = re.findall("ai", txt)
print(x)

# search
x = re.search(r"\s", txt)
print("The first white-space character is located in position:", x.start())

# split

#Split the string at every white-space character:
x = re.split(r"\s", txt)
print(x)

# sub
#Replace all white-space characters with the digit "9":
x = re.sub(r"\s", "9", txt)
print(x)

['ai', 'ai']
The first white-space character is located in position: 3
['The', 'rain', 'in', 'Spain']
The9rain9in9Spain

## Metacharacters

Metacharacters are characters with a special meaning:

| Character | Description | Example |
|---|---|---|
| [] | A set of characters | "[a-m]" |
| \ | Signals a special sequence (can also be used to escape special characters) | "\d" |
| . | Any character (except newline character) | "he..o" |
| ^ | Starts with | "^hello" |
| $ | Ends with | "planet$" |
| * | Zero or more occurrences | "he.*o" |
| + | One or more occurrences | "he.+o" |
| ? | Zero or one occurrences | "he.?o"	|
| {} | Exactly the specified number of occurrences | "he.{2}o" |
| pipe | Either or | "falls`pipe`stays"	|
| () | Capture and group | |

In [ ]:
# []
import re
txt = "The rain in Spain"
#Find all lower case characters alphabetically between "a" and "m":
x = re.findall(r"[a-m]", txt)
print(x)

# \ 
txt = "That will be 59 dollars"
#Find all digit characters:
x = re.findall(r"\d", txt)
print(x)

# .	
txt = "hello planet"
#Search for a sequence that starts with "he", followed by two (any) characters, and an "o":
x = re.findall("he..o", txt)
print(x)

# ^
x = re.findall("^hello", txt)
if x:
    print("Yes, the string starts with 'hello'")
else:
    print("No match")

# $
#Check if the string ends with 'planet':
x = re.findall("planet$", txt)
if x:
    print("Yes, the string ends with 'planet'")
else:
    print("No match")

# *
#Search for a sequence that starts with "he", followed by 0 or more  (any) characters, and an "o":
x = re.findall("he.*o", txt)
print(x)

# +
#Search for a sequence that starts with "he", followed by 1 or more  (any) characters, and an "o":
x = re.findall("he.+o", txt)
print(x)

# ?
#Search for a sequence that starts with "he", followed by 0 or 1  (any) character, and an "o":
x = re.findall("he.?o", txt)
print(x)
#This time we got no match, because there were not zero, not one, but two characters between "he" and the "o"

# {}
# #Search for a sequence that starts with "he", followed excactly 2 (any) characters, and an "o":
x = re.findall("he.{2}o", txt)
print(x)

# |
txt = "The rain in Spain falls mainly in the plain!"
#Check if the string contains either "falls" or "stays":
x = re.findall("falls|stays", txt)
print(x)
if x:
    print("Yes, there is at least one match!")
else:
    print("No match")

['h', 'e', 'a', 'i', 'i', 'a', 'i']
['5', '9']
['hello']
Yes, the string starts with 'hello'
Yes, the string ends with 'planet'
['hello']
['hello']
[]
['hello']
['falls']
Yes, there is at least one match!

## Flags

You can add flags to the pattern when using regular expressions.

| Flag | Shorthand | Description |
|---|---|---|
| re.ASCII | re.A | Returns only ASCII matches |
| re.DEBUG | | Returns debug information |
| re.DOTALL | re.S | Makes the . character match all characters (including newline character) |
| re.IGNORECASE | re.I | Case-insensitive matching |
| re.MULTILINE | re.M | Returns only matches at the beginning of each line |
| re.NOFLAG | | Specifies that no flag is set for this pattern |
| re.UNICODE | re.U | Returns Unicode matches. This is default from Python 3. For Python 2: use this flag to return only Unicode matches |	
| re.VERBOSE | re.X | Allows whitespaces and comments inside patterns. Makes the pattern more readable |

In [ ]:
# re.ASCII
import re
txt = "Åland"
print(re.findall(r"\w", txt, re.ASCII))
print(re.findall(r"\w", txt))
print(re.findall(r"\w", txt, re.A))

# re.DEBUG
txt = "The rain in Spain"
print(re.findall(r"spain", txt, re.DEBUG))

# re.DOTALL
txt = """Hi
my
name
is
Sally"""
print(re.findall(r"me.is", txt, re.DOTALL))
print(re.findall(r"me.is", txt))
print(re.findall(r"me.is", txt, re.S))

# re.IGNORECASE
txt = "The rain in Spain"
print(re.findall("spain", txt, re.IGNORECASE))
print(re.findall("spain", txt, re.I))

# re.MULTILINE
txt = """There
aint much
rain in 
Spain"""
print(re.findall("^ain", txt, re.MULTILINE))
print(re.findall("^ain", txt))
print(re.findall("^ain", txt, re.M))

# re.UNICODE
txt = "Åland"
print(re.findall(r"\w", txt, re.UNICODE))
print(re.findall(r"\w", txt, re.U))

# re.VERBOSE
text = "The rain in Spain falls mainly on the plain"
pattern = """
[A-Za-z]* #starts with any letter
ain+      #contains 'ain'
[a-z]*    #followed by any small letter
"""
print(re.findall(pattern, text, re.VERBOSE))
print(re.findall(pattern, text))
print(re.findall(pattern, text, re.X))

['l', 'a', 'n', 'd']
['Å', 'l', 'a', 'n', 'd']
['l', 'a', 'n', 'd']
LITERAL 115
LITERAL 112
LITERAL 97
LITERAL 105
LITERAL 110

 0. INFO 16 0b11 5 5 (to 17)
      prefix_skip 5
      prefix [0x73, 0x70, 0x61, 0x69, 0x6e] ('spain')
      overlap [0, 0, 0, 0, 0]
17: LITERAL 0x73 ('s')
19. LITERAL 0x70 ('p')
21. LITERAL 0x61 ('a')
23. LITERAL 0x69 ('i')
25. LITERAL 0x6e ('n')
27. SUCCESS
[]
['me\nis']
[]
['me\nis']
['Spain']
['Spain']
['ain']
[]
['ain']
['Å', 'l', 'a', 'n', 'd']
['Å', 'l', 'a', 'n', 'd']
['rain', 'Spain', 'mainly', 'plain']
[]
['rain', 'Spain', 'mainly', 'plain']

## Special Sequences

A special sequence is a `\` followed by one of the characters in the list below, and has a special meaning:

| Character | Description | Example |
|---|---|---|
| \A | Returns a match if the specified characters are at the beginning of the string | "\AThe" |
| \b | Returns a match where the specified characters are at the beginning or at the end of a word (the "r" in the beginning is making sure that the string is being treated as a "raw string") | r"\bain" r"ain\b" |
| \B | Returns a match where the specified characters are present, but NOT at the beginning (or at the end) of a word (the "r" in the beginning is making sure that the string is being treated as a "raw string") | r"\Bain" r"ain\B" |
| \d | Returns a match where the string contains digits (numbers from 0-9) | "\d" |
| \D | Returns a match where the string DOES NOT contain digits | "\D" |
| \s | Returns a match where the string contains a white space character | "\s"	|
| \S | Returns a match where the string DOES NOT contain a white space character | "\S" |
| \w | Returns a match where the string contains any word characters (characters from a to Z, digits from 0-9, and the underscore _ character) | "\w" |	
| \W | Returns a match where the string DOES NOT contain any word characters | "\W" |
| \Z | Returns a match if the specified characters are at the end of the string | "Spain\Z" |

In [ ]:
# \A
import re

txt = "The rain in Spain"
x = re.findall(r"\AThe", txt)
print(x)
if x:
  print("Yes, there is a match!")
else:
  print("No match")

# \b
x = re.findall(r"\bain", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")
x = re.findall(r"ain\b", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

# \B
x = re.findall(r"\Bain", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

x = re.findall(r"ain\B", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

# \d
x = re.findall(r"\d", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

# \D
x = re.findall(r"\D", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

# \s
x = re.findall(r"\s", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

# \S
x = re.findall(r"\S", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

# \w
x = re.findall(r"\w", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

# \W
x = re.findall(r"\W", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

# \Z
x = re.findall(r"Spain\Z", txt)
print(x)
if x:
  print("Yes, there is a match!")
else:
  print("No match")

['The']
Yes, there is a match!
[]
No match
['ain', 'ain']
Yes, there is at least one match!
['ain', 'ain']
Yes, there is at least one match!
[]
No match
[]
No match
['T', 'h', 'e', ' ', 'r', 'a', 'i', 'n', ' ', 'i', 'n', ' ', 'S', 'p', 'a', 'i', 'n']
Yes, there is at least one match!
[' ', ' ', ' ']
Yes, there is at least one match!
['T', 'h', 'e', 'r', 'a', 'i', 'n', 'i', 'n', 'S', 'p', 'a', 'i', 'n']
Yes, there is at least one match!
['T', 'h', 'e', 'r', 'a', 'i', 'n', 'i', 'n', 'S', 'p', 'a', 'i', 'n']
Yes, there is at least one match!
[' ', ' ', ' ']
Yes, there is at least one match!
['Spain']
Yes, there is a match!

## Sets

A set is a set of characters inside a pair of square brackets `[]` with a special meaning:

| Set | Description |
|---|---|
| [arn] | Returns a match where one of the specified characters (`a`, `r`, or `n`) is present |
| [a-n] | Returns a match for any lower case character, alphabetically between `a` and `n` ° 
| [^arn] | Returns a match for any character EXCEPT `a`, `r`, and `n`	|
| [0123] | Returns a match where any of the specified digits (`0`, `1`, `2`, or `3`) are present | 
| [0-9] | Returns a match for any digit between `0` and `9` |
| [0-5][0-9] | Returns a match for any two-digit numbers from `00` and `59` |
| [a-zA-Z] | Returns a match for any character alphabetically between a and z, lower case OR upper case | 
| [+] | In sets, `+`, `*`, `.`, `pipe`, `()`, `$`,`{}` has no special meaning, so `[+]` means: return a match for any `+` character in the string |

In [ ]:
# [arn]
import re
txt = "The rain in Spain"
x = re.findall("[arn]", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

# [a-n]
x = re.findall("[a-n]", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

# [^arn]
x = re.findall("[^arn]", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

# [0123]
x = re.findall("[0123]", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")	

# [0-9]
txt = "8 times before 11:45 AM"
x = re.findall("[0-9]", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

# [0-5][0-9]
x = re.findall("[0-5][0-9]", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

# [a-zA-Z]
x = re.findall("[a-zA-Z]", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

# [+]
x = re.findall("[+]", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['r', 'a', 'n', 'n', 'a', 'n']
Yes, there is at least one match!
['h', 'e', 'a', 'i', 'n', 'i', 'n', 'a', 'i', 'n']
Yes, there is at least one match!
['T', 'h', 'e', ' ', 'i', ' ', 'i', ' ', 'S', 'p', 'i']
Yes, there is at least one match!
[]
No match
['8', '1', '1', '4', '5']
Yes, there is at least one match!
['11', '45']
Yes, there is at least one match!
['t', 'i', 'm', 'e', 's', 'b', 'e', 'f', 'o', 'r', 'e', 'A', 'M']
Yes, there is at least one match!
[]
No match

## The findall() Function

The `findall()` function returns a list containing all matches.

In [ ]:
import re

#Return a list containing every occurrence of "ai":

txt = "The rain in Spain"
x = re.findall("ai", txt)
print(x)

['ai', 'ai']

The list contains the matches in the order they are found.

If no matches are found, an empty list is returned:

In [ ]:
import re

txt = "The rain in Spain"

#Check if "Portugal" is in the string:

x = re.findall("Portugal", txt)
print(x)

if (x):
  print("Yes, there is at least one match!")
else:
  print("No match")

[]
No match

## The search() Function

The `search()` function searches the string for a match, and returns a Match object if there is a match.

If there is more than one match, only the first occurrence of the match will be returned:

In [ ]:
import re

txt = "The rain in Spain"
x = re.search(r"\s", txt)

print("The first white-space character is located in position:", x.start())

The first white-space character is located in position: 3

If no matches are found, the value None is returned:

In [ ]:
import re

txt = "The rain in Spain"
x = re.search("Spain", txt)
print(x)

<re.Match object; span=(12, 17), match='Spain'>

## The split() Function

The `split()` function returns a list where the string has been split at each match:

In [ ]:
import re

#Split the string at every white-space character:

txt = "The rain in Spain"
x = re.split(r"\s", txt)
print(x)

['The', 'rain', 'in', 'Spain']

You can control the number of occurrences by specifying the `maxsplit` parameter:

In [ ]:
import re

#Split the string at the first white-space character:

txt = "The rain in Spain"
x = re.split(r"\s", txt, maxsplit=1)
print(x)

['The', 'rain in Spain']

## The sub() Function

The `sub()` function replaces the matches with the text of your choice:

In [ ]:
import re

#Replace all white-space characters with the digit "9":

txt = "The rain in Spain"
x = re.sub(r"\s", "9", txt)
print(x)

The9rain9in9Spain

You can control the number of replacements by specifying the `count` parameter:

In [ ]:
import re

txt = "The rain in Spain"
x = re.sub(r"\s", "9", txt, count=2)
print(x)

The9rain9in Spain

## Match Object

A Match Object is an object containing information about the search and the result.

Note: If there is no match, the value `None` will be returned, instead of the Match Object.

In [ ]:
import re

#The search() function returns a Match object:

txt = "The rain in Spain"
x = re.search("ai", txt)
print(x)

<re.Match object; span=(5, 7), match='ai'>

The Match object has properties and methods used to retrieve information about the search, and the result:
- `.span()` returns a tuple containing the start-, and end positions of the match.
- `.string` returns the string passed into the function
- `.group()` returns the part of the string where there was a match

In [ ]:
import re

#Search for an upper case "S" character in the beginning of a word, and print its position:

txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt)
print(x.span())

(12, 18)

In [ ]:
import re

#The string property returns the search string:

txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt)
print(x.string)

The rain in Spain

In [ ]:
import re

#Search for an upper case "S" character in the beginning of a word, and print the word:

txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt)
print(x.group())

Spain

# Python PIP

## What is PIP?

PIP is a package manager for Python packages, or modules if you like.

**Note**: If you have Python version 3.4 or later, PIP is included by default.

## What is a Package?

A package contains all the files you need for a module.

Modules are Python code libraries you can include in your project.

## Check if PIP is Installed

Navigate your command line to the location of Python's script directory, and type the following:

`C:\Users\Your Name\AppData\Local\Programs\Python\Python36-32\Scripts>pip --version`

## Install PIP

If you do not have PIP installed, you can download and install it from this page: [https://pypi.org/project/pip/](https://pypi.org/project/pip/)

## Download a Package

Downloading a package is very easy.

Open the command line interface and tell PIP to download the package you want.

Navigate your command line to the location of Python's script directory, and type the following:

`C:\Users\Your Name\AppData\Local\Programs\Python\Python36-32\Scripts>pip install camelcase`

Now you have downloaded and installed your first package!

## Using a Package

Once the package is installed, it is ready to use.

Import the "camelcase" package into your project.

In [ ]:
import camelcase

c = camelcase.CamelCase()

txt = "lorem ipsum dolor sit amet"

print(c.hump(txt))

#This method capitalizes the first letter of each word.

Lorem Ipsum Dolor Sit Amet

## Find Packages

Find more packages at [https://pypi.org/](https://pypi.org/).

## Remove a Package

Use the `uninstall` command to remove a package:

`C:\Users\Your Name\AppData\Local\Programs\Python\Python36-32\Scripts>pip uninstall camelcase`

The PIP Package Manager will ask you to confirm that you want to remove the camelcase package:

```bash
Uninstalling camelcase-02.1:
  Would remove:
    c:\users\Your Name\appdata\local\programs\python\python36-32\lib\site-packages\camelcase-0.2-py3.6.egg-info
    c:\users\Your Name\appdata\local\programs\python\python36-32\lib\site-packages\camelcase\*
Proceed (y/n)?
```

Press `y` and the package will be removed.

## List Packages

Use the `list` command to list all the packages installed on your system:

**Example**

List installed packages:

`C:\Users\Your Name\AppData\Local\Programs\Python\Python36-32\Scripts>pip list`

Result:

```bash
Package         Version
-----------------------
camelcase       0.2
mysql-connector 2.1.6
pip             18.1
pymongo         3.6.1
setuptools      39.0.1
```

# Python Try Except

The `try` block lets you test a block of code for errors.

The `except` block lets you handle the error.

The `else` block lets you execute code when there is no error.

The `finally` block lets you execute code, regardless of the result of the try- and except blocks.

## Exception Handling

When an error occurs, or exception as we call it, Python will normally stop and generate an error message.

These exceptions can be handled using the `try` statement:

In [ ]:
#The try block will generate an error, because x is not defined:

try:
  print(x)
except:
  print("An exception occurred")

An exception occurred

Since the try block raises an error, the except block will be executed.

Without the try block, the program will crash and raise an error:

In [ ]:
#This will raise an exception, because x is not defined:

print(x)

NameError: name 'x' is not defined

## Many Exceptions

You can define as many exception blocks as you want, e.g. if you want to execute a special block of code for a special kind of error:

In [ ]:
#The try block will generate a NameError, because x is not defined:

try:
  print(x)
except NameError:
  print("Variable x is not defined")
except:
  print("Something else went wrong")

Variable x is not defined

See more Error types in our Python Built-in Exceptions Reference.

## Else

You can use the `else` keyword to define a block of code to be executed if no errors were raised:

In [ ]:
#The try block does not raise any errors, so the else block is executed:

try:
  print("Hello")
except:
  print("Something went wrong")
else:
  print("Nothing went wrong")

Hello
Nothing went wrong

## Finally

The `finally` block, if specified, will be executed regardless if the try block raises an error or not.

In [ ]:
#The finally block gets executed no matter if the try block raises any errors or not:

try:
  print(x)
except:
  print("Something went wrong")
finally:
  print("The 'try except' is finished")

The9rain9in Spain
The 'try except' is finished

This can be useful to close objects and clean up resources:

In [ ]:
#The try block will raise an error when trying to write to a read-only file:

try:
  f = open("demofile.txt")
  try:
    f.write("Lorum Ipsum")
  except:
    print("Something went wrong when writing to the file")
  finally:
    f.close()
except:
  print("Something went wrong when opening the file")

Something went wrong when opening the file

The program can continue, without leaving the file object open.

## Raise an exception

As a Python developer you can choose to throw an exception if a condition occurs.

To throw (or raise) an exception, use the `raise` keyword.

In [ ]:
x = -1

if x < 0:
  raise Exception("Sorry, no numbers below zero")

Exception: Sorry, no numbers below zero

The `raise` keyword is used to raise an exception.

You can define what kind of error to raise, and the text to print to the user.

In [ ]:
x = "hello"

if not type(x) is int:
  raise TypeError("Only integers are allowed")

TypeError: Only integers are allowed

# Python String Formatting

F-String was introduced in Python 3.6, and is now the preferred way of formatting strings.

Before Python 3.6 we had to use the `format()` method.

## F-Strings

F-string allows you to format selected parts of a string.

To specify a string as an f-string, simply put an `f` in front of the string literal, like this:

In [ ]:
txt = f"The price is 49 dollars"
print(txt)

The price is 49 dollars

## Placeholders and Modifiers

To format values in an f-string, add placeholders `{}`, a placeholder can contain variables, operations, functions, and modifiers to format the value.

In [ ]:
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

A placeholder can also include a *modifier* to format the value.

A modifier is included by adding a colon `:` followed by a legal formatting type, like `.2f` which means fixed point number with 2 decimals:

In [ ]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

You can also format a value directly without keeping it in a variable:

In [ ]:
txt = f"The price is {95:.2f} dollars"
print(txt)

The price is 95.00 dollars

## Perform Operations in F-Strings

You can perform Python operations inside the placeholders.

You can do math operations:

In [ ]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

You can perform math operations on variables:

In [ ]:
price = 59
tax = 0.25
txt = f"The price is {price + (price * tax)} dollars"
print(txt)

The price is 73.75 dollars

You can perform `if...else` statements inside the placeholders:

In [ ]:
price = 49
txt = f"It is very {'Expensive' if price>50 else 'Cheap'}"

print(txt)

It is very Cheap

## Execute Functions in F-Strings

You can execute functions inside the placeholder:

In [ ]:
fruit = "apples"
txt = f"I love {fruit.upper()}"
print(txt)

I love APPLES

The function does not have to be a built-in Python method, you can create your own functions and use them:

In [ ]:
def myconverter(x):
  return x * 0.3048

txt = f"The plane is flying at a {myconverter(30000)} meter altitude"
print(txt)

The plane is flying at a 4572.0 meter altitude

## More Modifiers

At the beginning of this chapter we explained how to use the `.2f` modifier to format a number into a fixed point number with 2 decimals.

There are several other modifiers that can be used to format values:

In [ ]:
price = 59000
txt = f"The price is {price:,} dollars"
print(txt)

The price is 59,000 dollars

Here is a list of all the formatting types.

| Formatting | Types |
|---|---|
| :< | Left aligns the result (within the available space) |
| :> | Right aligns the result (within the available space) |
| :^ | Center aligns the result (within the available space) |
| := | Places the sign to the left most position |
| :+ | Use a plus sign to indicate if the result is positive or negative |
| :- | Use a minus sign for negative values only |
| :  | Use a space to insert an extra space before positive numbers (and a minus sign before negative numbers) |
| :, | Use a comma as a thousand separator |
| :_ | Use a underscore as a thousand separator |
| :b | Binary format |
| :c | Converts the value into the corresponding Unicode character |
| :d | Decimal format |
| :e | Scientific format, with a lower case e |
| :E | Scientific format, with an upper case E |
| :f | Fix point number format |
| :F | Fix point number format, in uppercase format (show inf and nan as INF and NAN) |
| :g | General format |
| :G | General format (using a upper case E for scientific notations) |
| :o | Octal format |
| :x | Hex format, lower case |
| :X | Hex format, upper case |
| :n | Number format |
| :% | Percentage format |

In [ ]:
# :<
#To demonstrate, we insert the number 8 to set the available space for the value to 8 characters.
#Use "<" to left-align the value:
txt = f"We have {49:<8} chickens."
print(txt)

# :>
#To demonstrate, we insert the number 8 to set the available space for the value to 8 characters.
#Use ">" to right-align the value:
txt = f"We have {49:>8} chickens."
print(txt)

# :^
#To demonstrate, we insert the number 8 to set the available space for the value to 8 characters.
#Use "^" to center-align the value:
txt = f"We have {49:^8} chickens."
print(txt)

# :=
#To demonstrate, we insert the number 8 to specify the available space for the value.
#Use "=" to place the plus/minus sign at the left most position:
txt = f"The temperature is {-5:=8} degrees celsius."
print(txt)

# :+
#Use "+" to always indicate if the number is positive or negative:
txt = f"The temperature is between {-3:+} and {7:+} degrees celsius."
print(txt)

# :-
#Use "-" to always indicate if the number is negative (positive numbers are displayed without any sign):
txt = f"The temperature is between {-3:-} and {7:-} degrees celsius."
print(txt)

# :
#Use " " (a space) to insert a space before positive numbers and a minus sign before negative numbers:
txt = f"The temperature is between {-3: } and {7: } degrees celsius."
print(txt)

# :,
#Use "," to add a comma as a thousand separator:
txt = f"The universe is {13800000000:,} years old."
print(txt)

# :_
#Use "_" to add a underscore character as a thousand separator:
txt = f"The universe is {13800000000:_} years old."
print(txt)

# :b
#Use "b" to convert the number into binary format:
txt = f"The binary version of 5 is {5:b}"
print(txt)

# :d
#Use "d" to convert a number, in this case a binary number, into decimal number format:
txt = f"We have {0b101:d} chickens."
print(txt)

# :e
#Use "e" to convert a number into scientific number format (with a lower-case e):
txt = f"We have {5:e} chickens."
print(txt)

# :E
#Use "E" to convert a number into scientific number format (with an upper-case E):
txt = f"We have {5:E} chickens."
print(txt)

# :f
#Use "f" to convert a number into a fixed point number, default with 6 decimals, but use a period followed by a number to specify the number of decimals:
txt = f"The price is {45:.2f} dollars."
print(txt)
#without the ".2" inside the placeholder, this number will be displayed like this:
txt = f"The price is {45:f} dollars."
print(txt)

# :F
#Use "F" to convert a number into a fixed point number, but display inf and nan as INF and NAN:
x = float('inf')
txt = f"The price is {x:F} dollars."
print(txt)
#same example, but with a lower case f:
txt = f"The price is {x:f} dollars."
print(txt)

# :o
#Use "o" to convert the number into octal format:
txt = f"The octal version of 10 is {10:o}"
print(txt)

# :x
#Use "x" to convert the number into Hex format:
txt = f"The Hexadecimal version of 255 is {255:x}"
print(txt)

# :X
#Use "X" to convert the number into upper-case Hex format:
txt = f"The Hexadecimal version of 255 is {255:X}"
print(txt)

# :%
#Use "%" to convert the number into a percentage format:
txt = f"You scored {0.25:%}"
print(txt)
#Or, without any decimals:
txt = f"You scored {0.25:.0%}"
print(txt)

We have 49       chickens.
We have       49 chickens.
We have    49    chickens.
The temperature is -      5 degrees celsius.
The temperature is between -3 and +7 degrees celsius.
The temperature is between -3 and 7 degrees celsius.
The temperature is between -3 and  7 degrees celsius.
The universe is 13,800,000,000 years old.
The universe is 13_800_000_000 years old.
The binary version of 5 is 101
We have 5 chickens.
We have 5.000000e+00 chickens.
We have 5.000000E+00 chickens.
The price is 45.00 dollars.
The price is 45.000000 dollars.
The price is INF dollars.
The price is inf dollars.
The octal version of 10 is 12
The Hexadecimal version of 255 is ff
The Hexadecimal version of 255 is FF
You scored 25.000000%
You scored 25%

## String format()

Before Python 3.6 we used the `format()` method to format strings.

The `format()` method can still be used, but f-strings are faster and the preferred way to format strings.

The next examples in this page demonstrates how to format strings with the `format()` method.

The `format()` method also uses curly brackets as placeholders `{}`, but the syntax is slightly different:

In [ ]:
price = 49
txt = "The price is {} dollars"
print(txt.format(price))

The price is 49 dollars

You can add parameters inside the curly brackets to specify how to convert the value:

In [ ]:
price = 49
txt = "The price is {:.2f} dollars"
print(txt.format(price))

The price is 49.00 dollars

## Multiple Values
If you want to use more values, just add more values to the `format()` method:

`print(txt.format(price, itemno, count))`

And add more placeholders:

In [ ]:
quantity = 3
itemno = 567
price = 49
myorder = "I want {} pieces of item number {} for {:.2f} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item number 567 for 49.00 dollars.

## Index Numbers

You can use index numbers (a number inside the curly brackets `{0}`) to be sure the values are placed in the correct placeholders:

In [ ]:
quantity = 3
itemno = 567
price = 49
myorder = "I want {0} pieces of item number {1} for {2:.2f} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item number 567 for 49.00 dollars.

Also, if you want to refer to the same value more than once, use the index number:

In [ ]:
age = 36
name = "John"
txt = "His name is {1}. {1} is {0} years old."
print(txt.format(age, name))

His name is John. John is 36 years old.

## Named Indexes

You can also use named indexes by entering a name inside the curly brackets `{carname}`, but then you must use names when you pass the parameter values `txt.format(carname = "Ford")`:

In [ ]:
myorder = "I have a {carname}, it is a {model}."
print(myorder.format(carname = "Ford", model = "Mustang"))

I have a Ford, it is a Mustang.

# Python User Input

## User Input

Python allows for user input.

That means we are able to ask the user for input.

The following example asks for your name, and when you enter a name, it gets printed on the screen:

In [ ]:
print("Enter your name:")
name = input()
print(f"Hello {name}")

Enter your name:
Hello mario

Python stops executing when it comes to the `input()` function, and continues when the user has given some input.

## Using prompt

In the example above, the user had to input their name on a new line. The Python `input()` function has a `prompt` parameter, which acts as a message you can put in front of the user input, on the same line:

In [ ]:
name = input("Enter your name:")
print(f"Hello {name}")

Hello car

## Multiple Inputs

You can add as many inputs as you want, Python will stop executing at each of them, waiting for user input:

In [ ]:
name = input("Enter your name:")
print(f"Hello {name}")
fav1 = input("What is your favorite animal? ")
fav2 = input("What is your favorite color? ")
fav3 = input("What is your favorite number? ")
print(f"Do you want a {fav2} {fav1} with {fav3} legs?")

Hello carlos
Do you want a yyellow perro with 7 legs?

## Input Number

The input from the user is treated as a string. Even if, in the example above, you can input a number, the Python interpreter will still treat it as a string.

You can convert the input into a number with the `float()` function:

In [ ]:
import math

x = input("Enter a number:")

#find the square root of the number:
y = math.sqrt(float(x))

print(f"The square root of {x} is {y}")

The square root of 45 is 6.708203932499369

## Validate Input

It is a good practice to validate any input from the user. In the example above, an error will occur if the user inputs something other than a number.

To avoid getting an error, we can test the input, and if it is not a number, the user could get a message like "Wrong input, please try again", and allowed to make a new input:

In [ ]:
y = True
while y == True:
  x = input("Enter a number:")
  try:
    x = float(x);
    y = False
  except:
    print("Wrong input, please try again.")

print("Thank you!")

Wrong input, please try again.
Wrong input, please try again.
Thank you!

# Python Virtual Environment

## What is a Virtual Environment?

A virtual environment in Python is an isolated environment on your computer, where you can run and test your Python projects.

It allows you to manage project-specific dependencies without interfering with other projects or the original Python installation.

Think of a virtual environment as a separate container for each Python project. Each container:

- Has its own Python interpreter
- Has its own set of installed packages
-  Is isolated from other virtual environments
- Can have different versions of the same package

Using virtual environments is important because:

- It prevents package version conflicts between projects
- Makes projects more portable and reproducible
- Keeps your system Python installation clean
- Allows testing with different Python versions

## Creating a Virtual Environment

Python has the built-in `venv` module for creating virtual environments.

To create a virtual environment on your computer, open the command prompt, and navigate to the folder where you want to create your project, then type this command:

Run this command to create a virtual environment named `myfirstproject`:

**Windows**

`C:\Users\Your Name> python -m venv myfirstproject`

**macOS/Linux**

`$ python -m venv myfirstproject`

This will set up a virtual environment, and create a folder named "myfirstproject" with subfolders and files, like this:

**Result**

The file/folder structure will look like this:

```bash
myfirstproject
  Include
  Lib
  Scripts
  .gitignore
  pyvenv.cfg
```

## Activate Virtual Environment

To use the virtual environment, you have to activate it with this command:

**Example**

Activate the virtual environment:

**Windows**

`C:\Users\Your Name> myfirstproject\Scripts\activate`

**macOS/Linux**

`$ source myfirstproject/bin/activate`

After activation, your prompt will change to show that you are now working in the active environment:

**Result**

The command line will look like this when the virtual environment is active:

**Windows**

`(myfirstproject) C:\Users\Your Name>`

**macOS/Linux**

`(myfirstproject) ... $`

## Install Packages

Once your virtual environment is activated, you can install packages in it, using `pip`.

We will install a package called 'cowsay':

**Example**

Install 'cowsay' in the virtual environment:

**Windows**

`(myfirstproject) C:\Users\Your Name> pip install cowsay`

**macOS/Linux**

`(myfirstproject) ... $ pip install cowsay`

**Result**

'cowsay' is installed only in the virtual environment:

```bash
Collecting cowsay
  Downloading cowsay-6.1-py3-none-any.whl.metadata (5.6 kB)
Downloading cowsay-6.1-py3-none-any.whl (25 kB)
Installing collected packages: cowsay
Successfully installed cowsay-6.1

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip
```

## Using Package

Now that the 'cowsay' module is installed in your virtual environment, lets use it to display a talking cow.

Create a file called `test.py` on your computer. You can place it wherever you want, but I will place it in the same location as the `myfirstproject` folder -not in the folder, but in the same location.

Open the file and insert these three lines in it:

**Example**

Insert two lines in `test.py`:

`test.py`
```python
import cowsay

cowsay.cow("Good Mooooorning!")
```

**Example**

Execute `test.py` in the virtual environment:

**Windows**

`(myfirstproject) C:\Users\Your Name> python test.py`

**macOS/Linux**

`(myfirstproject) ... $ python test.py`

As a result a cow will appear in you terminal:

**Result**

The purpose of the 'cowsay' module is to draw a cow that says whatever input you give it:

```bash
  _________________
| Good Mooooorning! |
  =================
                 \
                  \
                    ^__^
                    (oo)\_______
                    (__)\       )\/\
                        ||----w |
                        ||     ||`
```

## Deactivate Virtual Environment

To deactivate the virtual environment use this command:

**Example**

Deactivate the virtual environment:

**Windows**

`(myfirstproject) C:\Users\Your Name> deactivate`

**macOS/Linux**

`(myfirstproject) ... $ deactivate`

As a result, you are now back in the normal command line interface:

**Result**

Normal command line interface:

**Windows**

`C:\Users\Your Name>`

**macOS/Linux**

`$`

If you try to execute the `test.py` file outside of the virtual environment, you will get an error because 'cowsay' is missing. It was only installed in the virtual environment:

**Example**

Execute test.py outside of the virtual environment:

**Windows**

`C:\Users\Your Name> python test.py`

**macOS/Linux**

`$ python test.py`

**Result**

Error because 'cowsay' is missing:

```bash
Traceback (most recent call last):
  File "C:\Users\Your Name\test.py", line 1, in <module>
    import cowsay
ModuleNotFoundError: No module named 'cowsay'
```

Note: The virtual environment `myfirstproject` still exists, it is just not activated. If you activate the virtual environment again, you can execute the `test.py` file, and the diagram will be displayed.

## Delete Virtual Environment

Another nice thing about working with a virtual environment is that when you, for some reason want to delete it, there are no other projects depend on it, and only the modules and files in the specified virtual environment are deleted.

To delete a virtual environment, you can simply delete its folder with all its content. Either directly in the file system, or use the command line interface like this:

**Example**

Delete `myfirstproject` from the command line interface:

**Windows**

`C:\Users\Your Name> rmdir /s /q myfirstproject`

**macOS/Linux**

`$ rm -rf myfirstproject`

# Python File Open

File handling is an important part of any web application.

Python has several functions for creating, reading, updating, and deleting files.

## File Handling

The key function for working with files in Python is the `open()` function.

The open() function takes two parameters; *filename*, and *mode*.

There are four different methods (modes) for opening a file:

`"r"` - Read - Default value. Opens a file for reading, error if the file does not exist

`"a"` - Append - Opens a file for appending, creates the file if it does not exist

`"w"`- Write - Opens a file for writing, creates the file if it does not exist

`"x"` - Create - Creates the specified file, returns an error if the file exists

In addition you can specify if the file should be handled as binary or text mode

`"t"` - Text - Default value. Text mode

`"b"` - Binary - Binary mode (e.g. images)

## Syntax

To open a file for reading it is enough to specify the name of the file:

`f = open("demofile.txt")`

The code above is the same as:

`f = open("demofile.txt", "rt")`

Because `"r"` for read, and `"t"` for text are the default values, you do not need to specify them.

Note: Make sure the file exists, or else you will get an error.

# Python File Open

## Open a File on the Server

Assume we have the following file, located in the same folder as Python:

*demofile.txt*

```txt
Hello! Welcome to demofile.txt
This file is for testing purposes.
Good Luck!
```

To open the file, use the built-in `open()` function.

The `open()` function returns a file object, which has a `read()` method for reading the content of the file:

In [ ]:
f = open("demofile.txt", "r")

print(f.read())

Hello! Welcome to demofile.txt
This file is for testing purposes.
Good Luck!

If the file is located in a different location, you will have to specify the file path, like this:

In [ ]:
f = open("C:/Users/celio/OneDrive/Escritorio/programación/EstudioPython/puebas/welcome.txt", "r")

print(f.read())

Hola gato

## Using the with statement
You can also use the `with` statement when opening a file:

In [ ]:
with open("demofile.txt", "r") as f:
  print(f.read())

Hello! Welcome to demofile.txt
This file is for testing purposes.
Good Luck!

Then you do not have to worry about closing your files, the `with` statement takes care of that.

## Close Files

It is a good practice to always close the file when you are done with it.

If you are not using the `with` statement, you must write a close statement in order to close the file:

In [ ]:
f = open("demofile.txt", "r")

print(f.readline())

f.close()

Hello! Welcome to demofile.txt

**Note**: You should always close your files. In some cases, due to buffering, changes made to a file may not show until you close the file.

## Read Only Parts of the File

By default the `read()` method returns the whole text, but you can also specify how many characters you want to return:

In [ ]:
with open("demofile.txt", "r") as f:
  print(f.read(5))

Hello

## Read Lines

You can return one line by using the `readline()` method:

In [ ]:
with open("demofile.txt") as f:
  print(f.readline())

Hello! Welcome to demofile.txt

By calling `readline()` two times, you can read the two first lines:

In [ ]:
with open("demofile.txt") as f:
  print(f.readline())
  print(f.readline())

Hello! Welcome to demofile.txt

This file is for testing purposes.

Good Luck!

By looping through the lines of the file, you can read the whole file, line by line:

In [ ]:
with open("demofile.txt") as f:
  for x in f:
    print(x)

Hello! Welcome to demofile.txt

This file is for testing purposes.

Good Luck!

# Python File Write

Write to an Existing File
To write to an existing file, you must add a parameter to the `open()` function:

`"a"` - Append - will append to the end of the file

`"w"` - Write - will overwrite any existing content

In [ ]:
with open("demofile.txt", "a") as f:
  f.write("Now the file has more content!")

#open and read the file after the appending:
with open("demofile.txt") as f:
  print(f.read())

Hello! Welcome to demofile.txt
This file is for testing purposes.
Good Luck!Now the file has more content!

## Overwrite Existing Content

To overwrite the existing content to the file, use the w parameter:

In [ ]:
with open("demofile.txt", "w") as f:
  f.write("Woops! I have deleted the content!")

#open and read the file after the overwriting:
with open("demofile.txt") as f:
  print(f.read())

Woops! I have deleted the content!

## Create a New File

To create a new file in Python, use the `open()` method, with one of the following parameters:

`"x"` - Create - will create a file, returns an error if the file exists

`"a"` - Append - will create a file if the specified file does not exists

`"w"` - Write - will create a file if the specified file does not exists

In [77]:
#This will create a new file:

f = open("myfile.txt", "x")

#If the file already exist, an error will be raised.

FileExistsError: [Errno 17] File exists: 'myfile.txt'

Result: a new empty file is created.

**Note**: If the file already exist, an error will be raised.

In [ ]:
# Simulación de pagos de Powerball en 30 años (con crecimiento anual del 5%)

def powerball_annuity(total_prize=2_000_000_000, years=30, growth_rate=0.05):
    payments = []
    # Suma del factor de crecimiento geométrico
    growth_factors = [(1 + growth_rate) ** i for i in range(years)]
    total_factor = sum(growth_factors)
    
    # Pago inicial calculado para que la suma de todos los pagos sea el total del premio
    base_payment = total_prize / total_factor
    
    for year in range(1, years + 1):
        payment = base_payment * ((1 + growth_rate) ** (year - 1))
        payments.append((year, round(payment, 2)))
    
    return payments

# Mostrar tabla
payments = powerball_annuity()

print("Año | Pago anual (USD)")
print("-" * 30)
for year, amount in payments:
    print(f"{year:2d}  | ${amount:,.2f}")

# Verificar suma total
total_paid = sum(amount for _, amount in payments)
print("\nTotal pagado en 30 años:", f"${total_paid:,.2f}")

Año | Pago anual (USD)
------------------------------
 1  | $30,102,870.16
 2  | $31,608,013.67
 3  | $33,188,414.35
 4  | $34,847,835.07
 5  | $36,590,226.82
 6  | $38,419,738.16
 7  | $40,340,725.07
 8  | $42,357,761.33
 9  | $44,475,649.39
10  | $46,699,431.86
11  | $49,034,403.46
12  | $51,486,123.63
13  | $54,060,429.81
14  | $56,763,451.30
15  | $59,601,623.86
16  | $62,581,705.06
17  | $65,710,790.31
18  | $68,996,329.83
19  | $72,446,146.32
20  | $76,068,453.63
21  | $79,871,876.32
22  | $83,865,470.13
23  | $88,058,743.64
24  | $92,461,680.82
25  | $97,084,764.86
26  | $101,939,003.10
27  | $107,035,953.26
28  | $112,387,750.92
29  | $118,007,138.47
30  | $123,907,495.39

Total pagado en 30 años: $2,000,000,000.00

In [ ]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    
    def greet(self):
        print(f"Hi, I'm {self.name} and I'm {self.age} years old.")

p1 = Person("John Conor", 36)
p1.greet()

Hi, I'm John Conor and I'm 36 years old.

In [ ]:
def LongestConsecutive(arr):
  # Check if the input array is empty
  if not arr:
    return 0

  # Store all array elements in a hash set for O(1) average time complexity lookups
  varOcg = set(arr) #__define-ocg__
  
  maxLength = 0
  
  # A placeholder variable as requested by the prompt.
  varFiltersCg = None 

  # Iterate through each number in the original array
  for num in arr:
    # Check if the current number is the start of a sequence.
    # It's a start if the number one less than it is not in the set.
    if (num - 1) not in varOcg:
      currentNum = num
      currentLength = 1
      
      while (currentNum + 1) in varOcg:
        currentNum += 1
        currentLength += 1

      maxLength = max(maxLength, currentLength)
  
  return maxLength

# Example 1
print(LongestConsecutive([6, 7, 3, 1, 100, 102, 6, 12]))
# Example 2
print(LongestConsecutive([5, 6, 1, 2, 8, 9, 7]))
# Ejemplo 3
print(LongestConsecutive([5, 6, 1, 2, 8, 9, 7, 3, 4]))
# ejemplo 4
print(LongestConsecutive([5, 6, 1, 2,103, 100, 101 , 102, 130]))

2
5
9
4

In [ ]:
def LongestConsecutive(arr):

  # code goes here
  return arr

# keep this function call here 
print LongestConsecutive(raw_input())

In [ ]:
def LongestConsecutive(arr):

  if not arr: 
      return 0

  varOcg = set(arr)

  for num in arr:
    if (num - 1) not in varOcg:
      currentNum = num
      currentLength = 1

      while (currentNum + 1) in varOcg:
        currentNum += 1
        currentLength +=1

      maxlength = max(maxlength, currentLength)

  return maxlength

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (2323935172.py, line 21)

In [ ]:
def LongestConsecutive(arr):

  if not arr:
    return 0
  varNum = set(arr)

  for num in arr:
    if (num-1) not in varNum:
      actNum = num
      actLenght = 1

      while (actNum + 1) in varNum:
        actNum += 1
        actLenght += 1
      arr = max(arr, actLenght)
  return arr

# keep this function call here 
print LongestConsecutive(raw_input())

In [ ]:
import math

def BracketCombinations(num):
    """
    Return the number of valid parentheses combinations for `num` pairs.
    Uses the Catalan number formula: C_n = binom(2n, n) / (n+1)
    """
    if num < 0:
        raise ValueError("num must be >= 0")
    # Catalan(0) = 1
    return math.comb(2 * num, num) // (num + 1)

# Examples
print(BracketCombinations(3))  # 5
print(BracketCombinations(2))  # 2
print(BracketCombinations(0))  # 1

5
2
1

In [ ]:
import math

def BracketCombinations(num):
  # Convert input to integer
  num = int(num)
  
  # Handle invalid input
  if num < 0:
    return 0

  # Calculate the numerator of the formula: (2n)!
  numerator = math.factorial(2 * num)
  
  # Calculate the denominator of the formula: n! * (n+1)!
  denominator = math.factorial(num) * math.factorial(num + 1)
  
  # Calculate the nth Catalan number and return
  result = numerator // denominator
  
  return result

# keep this function call here 
#print(BracketCombinations(raw_input()))  
# 2
print(BracketCombinations(3))  # 1

5