In [9]:
y = input('nombre: ')

print(f"mi nombre es {y}")

mi nombre es mario

## Variables

In [11]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [12]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [ ]:
x = str(3)      # x will be '3'
y = int(3)      # y will be 3
z = float(3)    # z will be 3.0

print(x)
print(y)
print(z)

3
3
3.0

### Get the Type

In [14]:
x = 5
y = "John"

print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

## Variable Names

In [1]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"


print(myvar)
print(my_var)
print(_my_var)
print(myVar)
print(MYVAR)
print(myvar2)

John
John
John
John
John
John

In [3]:
# Camel Case
# Each word, except the first, starts with a capital letter:

myVariableName = "John"
print(myVariableName)

John

In [4]:
# Pascal Case
# Each word starts with a capital letter:

MyVariableName = "John"
print(MyVariableName)

John

In [5]:
# Snake Case
# Each word is separated by an underscore character:

my_variable_name = "John"
print(my_variable_name)

John

## Python Variables - Assign Multiple Values

### Many Values to Multiple Variables

In [6]:
x, y, z = "Orange", "Banana", "Cherry"

print(x)
print(y)
print(z)

Orange
Banana
Cherry

### One Value to Multiple Variables

In [8]:
x = y = z = "Orange"

print(x)
print(y)
print(z)

Orange
Orange
Orange

### Unpack a Collection

In [9]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

## Python - Output Variables

In [10]:
x = "Python is awesome"
print(x)

Python is awesome

In [11]:
x = "Python"
y = "is"
z = "awesome"

print(x,y,z)

Python is awesome

In [12]:
x = "Python"
y = "is"
z = "awesome"

print(x+y+z)

Pythonisawesome

In [13]:
x = 5
y = 10
print(x + y)

15

In [14]:
x = 5
y = "John"
print(x, y)

5 John

## Python - Global Variables

### Global Variables

In [15]:
x = "awesome"

def myfunc():
    print("Python is "+ x)

myfunc()

Python is awesome

In [16]:
x = "awesome"

def myfunc():
    x = "fantastic"
    print("Python is "+ x)

myfunc()

print("Python is "+ x)

Python is fantastic
Python is awesome

### The global Keyword

In [18]:
def myfunc():
    global x
    x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [20]:
x = "awesomr"

def myfunc():
    global x
    x = "fantastic"

myfunc()

print("Python is "+x)

Python is fantastic

In [10]:
if 5>2:
    print("Five is greater than two!")

Five is greater than two!

## Python Data Types

### Built-in Data Types

In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

Text Type:	`str`

Numeric Types:	`int`, `float`, `complex`

Sequence Types:	`list`, `tuple`, `range`

Mapping Type:	`dict`

Set Types:	`set`, `frozenset`

Boolean Type:	`bool`

Binary Types:	`bytes`, `bytearray`, `memoryview`

None Type:	`NoneType`

### Getting the Data Type

You can get the data type of any object by using the `type()` function:

In [21]:
x = 5
print(type(x))

<class 'int'>

### Setting the Data Type

In Python, the data type is set when you assign a value to a variable:

|Example	Data Type | Try it|
|---|---|
| x = "Hello World" | str |
|x = 20 | int |
|x = 20.5 | float |
|x = 1j | complex |
|x = ["apple", "banana", "cherry"] | list |
|x = ("apple", "banana", "cherry") | tuple |
|x = range(6) | range |
|x = {"name" : "John", "age" : 36} | dict |
|x = {"apple", "banana", "cherry"} | set |
|x = frozenset({"apple", "banana", "cherry"}) | frozenset |
|x = True | bool |
|x = b"Hello" |bytes |
|x = bytearray(5) | bytearray |
|x = memoryview(bytes(5)) | memoryview |
|x = None | NoneType |

In [1]:
# str	
x = "Hello World"

print(x)
print(type(x))  

# int	
x = 20

print(x)
print(type(x)) 	

# float
x = 20

print(x)
print(type(x))

# complex
x = 1j

print(x)
print(type(x))

# list
x = ["apple", "banana", "cherry"]

print(x)
print(type(x))

# tuple
x = ("apple", "banana", "cherry")

print(x)
print(type(x))

# range
x = range(6)

print(x)
print(type(x))

# dict
x = {"name" : "John", "age" : 36}

print(x)
print(type(x))

# set 
x = {"apple", "banana", "cherry"}

print(x)
print(type(x)) 

# frozenset	
x = frozenset({"apple", "banana", "cherry"})

print(x)
print(type(x))

# bool
x = True

print(x)
print(type(x)) 

# bytes
x = b"Hello"

print(x)
print(type(x)) 

# bytearray

x = bytearray(5)

print(x)
print(type(x))

# memoryview
x = memoryview(bytes(5))

print(x)
print(type(x))

# NoneType
x = None

print(x)
print(type(x))

Hello World
<class 'str'>
20
<class 'int'>
20
<class 'int'>
1j
<class 'complex'>
['apple', 'banana', 'cherry']
<class 'list'>
('apple', 'banana', 'cherry')
<class 'tuple'>
range(0, 6)
<class 'range'>
{'name': 'John', 'age': 36}
<class 'dict'>
{'apple', 'cherry', 'banana'}
<class 'set'>
frozenset({'apple', 'cherry', 'banana'})
<class 'frozenset'>
True
<class 'bool'>
b'Hello'
<class 'bytes'>
bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>
<memory at 0x000001FD569634C0>
<class 'memoryview'>
None
<class 'NoneType'>

### Setting the Specific Data Type
If you want to specify the data type, you can use the following constructor functions:

| Example | Data Type |
|---|---|
| x = str("Hello World") | str |
| x = int(20) | int |
| x = float(20.5) | float |
| x = complex(1j) | complex |
| x = list(("apple", "banana", "cherry")) | list |
| x = tuple(("apple", "banana", "cherry")) | tuple |
| x = range(6) | range |
| x = dict(name="John", age=36) | dict |
| x = set(("apple", "banana", "cherry")) | set |
| x = frozenset(("apple", "banana", "cherry")) | frozenset |
| x = bool(5) | bool |
| x = bytes(5) | bytes |
| x = bytearray(5) | bytearray |
| x = memoryview(bytes(5)) | memoryview |

In [2]:
# str	
x = str("Hello World")

print(x)
print(type(x))  

# int	
x = int(20)

print(x)
print(type(x))

# float
x = float(20.5)

print(x)
print(type(x)) 

# complex
x = complex(1j)

print(x)
print(type(x)) 

# list
x = list(("apple", "banana", "cherry"))

print(x)
print(type(x)) 

# tuple
x = tuple(("apple", "banana", "cherry"))

print(x)
print(type(x))

# range
x = range(6)

print(x)
print(type(x))

# dict
x = dict(name="John", age=36)

print(x)
print(type(x)) 

# set 
x = set(("apple", "banana", "cherry"))

print(x)
print(type(x)) 


# frozenset	
x = frozenset(("apple", "banana", "cherry"))

print(x)
print(type(x)) 

# bool
x = bool(5)

print(x)
print(type(x)) 

# bytes
x = bytes(5)

print(x)
print(type(x))  

# bytearray
x = bytearray(5)

print(x)
print(type(x)) 

# memoryview
x = memoryview(bytes(5))

print(x)
print(type(x))

Hello World
<class 'str'>
20
<class 'int'>
20.5
<class 'float'>
1j
<class 'complex'>
['apple', 'banana', 'cherry']
<class 'list'>
('apple', 'banana', 'cherry')
<class 'tuple'>
range(0, 6)
<class 'range'>
{'name': 'John', 'age': 36}
<class 'dict'>
{'apple', 'cherry', 'banana'}
<class 'set'>
frozenset({'apple', 'cherry', 'banana'})
<class 'frozenset'>
True
<class 'bool'>
b'\x00\x00\x00\x00\x00'
<class 'bytes'>
bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>
<memory at 0x000001FD569634C0>
<class 'memoryview'>

## Python Numbers

There are three numeric types in Python:

- int
- float
- complex

Variables of numeric types are created when you assign a value to them:

In [3]:
x = 1
y = 2.8
z = 1j

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

To verify the type of any object in Python, use the type() function:

## Int

Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length.

In [5]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

## Float

Float, or "floating point number" is a number, positive or negative, containing one or more decimals.

In [6]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

Float can also be scientific numbers with an "e" to indicate the power of 10.

In [7]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

## Complex

Complex numbers are written with a "j" as the imaginary part:

In [8]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

## Type Conversion

You can convert from one type to another with the int(), float(), and complex() methods:

In [ ]:
#convert from int to float:
x = float(1)

#convert from float to int:
y = int(2.8)

#convert from int to complex:
z = complex(1)

print(x)
print(y)
print(z)

print(type(x))
print(type(y))
print(type(z))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

## Random Number

Python does not have a `random()` function to make a random number, but Python has a built-in module called `random` that can be used to make random numbers:

In [30]:
import random

print(random.randrange(1, 16))

4

## Python Casting
### Specify a Variable Type

There may be times when you want to specify a type on to a variable. This can be done with casting. Python is an object-orientated language, and as such it uses classes to define data types, including its primitive types.

Casting in python is therefore done using constructor functions:

- `int()` - constructs an integer number from an integer literal, a float literal (by removing all decimals), or a string literal (providing the string represents a whole number)
- `float()` - constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer)
- `str()` - constructs a string from a wide variety of data types, including strings, integer literals and float literals

In [35]:
x = int(1)
y = int(2.8)
z = int("3")
print(x)
print(y)
print(z)

1
2
3

In [36]:
x = float(1)
y = float(2.8)
z = float("3")
w = float("4.2")
print(x)
print(y)
print(z)
print(w)

1.0
2.8
3.0
4.2

In [37]:
x = str("s1")
y = str(2)
z = str(3.0)
print(x)
print(y)
print(z)

s1
2
3.0

## Python Strings
### Strings

Strings in python are surrounded by either single quotation marks, or double quotation marks.

`'hello'` is the same as `"hello"`.

You can display a string literal with the `print()` function:

In [38]:
print("Hello")
print('Hello')

Hello
Hello

## Quotes Inside Quotes

You can use quotes inside a string, as long as they don't match the quotes surrounding the string:

In [39]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

## Assign String to a Variable

Assigning a string to a variable is done with the variable name followed by an equal sign and the string:

In [40]:
a = "Hello"
print(a)

Hello

## Multiline Strings

You can assign a multiline string to a variable by using three quotes:

In [41]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

Or three single quotes:

In [42]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

### Strings are Arrays

Like many other popular programming languages, strings in Python are arrays of unicode characters.

However, Python does not have a character data type, a single character is simply a string with a length of 1.

Square brackets can be used to access elements of the string.

In [43]:
a = "Hello, World!"
print(a[1])

e

### Looping Through a String

Since strings are arrays, we can loop through the characters in a string, with a for loop.

In [44]:
for x in "banana":
    print(x)

b
a
n
a
n
a

### String Length

To get the length of a string, use the len() function.

In [45]:
a = "Hello, World!"
print(len(a))

13

### Check String

To check if a certain phrase or character is present in a string, we can use the keyword in.

In [46]:
txt = "The best things in life are free!"
print("free" in txt)

True

Use it in an if statement:

In [47]:
txt = "The best things in life are free!"
if "free" in txt:
    print("Yes, 'free' is present.")

Yes, 'free' is present.

### Check if NOT

To check if a certain phrase or character is NOT present in a string, we can use the keyword not in.

In [48]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

Use it in an `if` statement:

In [49]:
txt = "The best things in life are free!"
if "expensive" not in txt:
    print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

In [8]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(f" mi nombre es {p1.name} y tengo {p1.age}")
print(p1.age)

 mi nombre es John y tengo 36
36

In [ ]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    
    def greet(self):
        print(f"Hi, I'm {self.name} and I'm {self.age} years old.")

p1 = Person("John Conor", 36)
p1.greet()

Hi, I'm John and I'm 36 years old.