In [61]:
#y = input('nombre: ')

#print(f"mi nombre es {y}")

## Variables

In [62]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [63]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [64]:
x = str(3)      # x will be '3'
y = int(3)      # y will be 3
z = float(3)    # z will be 3.0

print(x)
print(y)
print(z)

3
3
3.0

### Get the Type

In [65]:
x = 5
y = "John"

print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

## Variable Names

In [66]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"


print(myvar)
print(my_var)
print(_my_var)
print(myVar)
print(MYVAR)
print(myvar2)

John
John
John
John
John
John

In [67]:
# Camel Case
# Each word, except the first, starts with a capital letter:

myVariableName = "John"
print(myVariableName)

John

In [68]:
# Pascal Case
# Each word starts with a capital letter:

MyVariableName = "John"
print(MyVariableName)

John

In [69]:
# Snake Case
# Each word is separated by an underscore character:

my_variable_name = "John"
print(my_variable_name)

John

## Python Variables - Assign Multiple Values

### Many Values to Multiple Variables

In [70]:
x, y, z = "Orange", "Banana", "Cherry"

print(x)
print(y)
print(z)

Orange
Banana
Cherry

### One Value to Multiple Variables

In [71]:
x = y = z = "Orange"

print(x)
print(y)
print(z)

Orange
Orange
Orange

### Unpack a Collection

In [72]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

## Python - Output Variables

In [73]:
x = "Python is awesome"
print(x)

Python is awesome

In [74]:
x = "Python"
y = "is"
z = "awesome"

print(x,y,z)

Python is awesome

In [75]:
x = "Python"
y = "is"
z = "awesome"

print(x+y+z)

Pythonisawesome

In [76]:
x = 5
y = 10
print(x + y)

15

In [77]:
x = 5
y = "John"
print(x, y)

5 John

## Python - Global Variables

### Global Variables

In [78]:
x = "awesome"

def myfunc():
    print("Python is "+ x)

myfunc()

Python is awesome

In [79]:
x = "awesome"

def myfunc():
    x = "fantastic"
    print("Python is "+ x)

myfunc()

print("Python is "+ x)

Python is fantastic
Python is awesome

### The global Keyword

In [80]:
def myfunc():
    global x
    x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [81]:
x = "awesomr"

def myfunc():
    global x
    x = "fantastic"

myfunc()

print("Python is "+x)

Python is fantastic

In [82]:
if 5>2:
    print("Five is greater than two!")

Five is greater than two!

## Python Data Types

### Built-in Data Types

In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

Text Type:	`str`

Numeric Types:	`int`, `float`, `complex`

Sequence Types:	`list`, `tuple`, `range`

Mapping Type:	`dict`

Set Types:	`set`, `frozenset`

Boolean Type:	`bool`

Binary Types:	`bytes`, `bytearray`, `memoryview`

None Type:	`NoneType`

### Getting the Data Type

You can get the data type of any object by using the `type()` function:

In [83]:
x = 5
print(type(x))

<class 'int'>

### Setting the Data Type

In Python, the data type is set when you assign a value to a variable:

|Example	Data Type | Try it|
|---|---|
| x = "Hello World" | str |
|x = 20 | int |
|x = 20.5 | float |
|x = 1j | complex |
|x = ["apple", "banana", "cherry"] | list |
|x = ("apple", "banana", "cherry") | tuple |
|x = range(6) | range |
|x = {"name" : "John", "age" : 36} | dict |
|x = {"apple", "banana", "cherry"} | set |
|x = frozenset({"apple", "banana", "cherry"}) | frozenset |
|x = True | bool |
|x = b"Hello" |bytes |
|x = bytearray(5) | bytearray |
|x = memoryview(bytes(5)) | memoryview |
|x = None | NoneType |

In [84]:
# str	
x = "Hello World"

print(x)
print(type(x))  

# int	
x = 20

print(x)
print(type(x)) 	

# float
x = 20

print(x)
print(type(x))

# complex
x = 1j

print(x)
print(type(x))

# list
x = ["apple", "banana", "cherry"]

print(x)
print(type(x))

# tuple
x = ("apple", "banana", "cherry")

print(x)
print(type(x))

# range
x = range(6)

print(x)
print(type(x))

# dict
x = {"name" : "John", "age" : 36}

print(x)
print(type(x))

# set 
x = {"apple", "banana", "cherry"}

print(x)
print(type(x)) 

# frozenset	
x = frozenset({"apple", "banana", "cherry"})

print(x)
print(type(x))

# bool
x = True

print(x)
print(type(x)) 

# bytes
x = b"Hello"

print(x)
print(type(x)) 

# bytearray

x = bytearray(5)

print(x)
print(type(x))

# memoryview
x = memoryview(bytes(5))

print(x)
print(type(x))

# NoneType
x = None

print(x)
print(type(x))

Hello World
<class 'str'>
20
<class 'int'>
20
<class 'int'>
1j
<class 'complex'>
['apple', 'banana', 'cherry']
<class 'list'>
('apple', 'banana', 'cherry')
<class 'tuple'>
range(0, 6)
<class 'range'>
{'name': 'John', 'age': 36}
<class 'dict'>
{'cherry', 'banana', 'apple'}
<class 'set'>
frozenset({'cherry', 'banana', 'apple'})
<class 'frozenset'>
True
<class 'bool'>
b'Hello'
<class 'bytes'>
bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>
<memory at 0x0000028C5F8B7700>
<class 'memoryview'>
None
<class 'NoneType'>

### Setting the Specific Data Type
If you want to specify the data type, you can use the following constructor functions:

| Example | Data Type |
|---|---|
| x = str("Hello World") | str |
| x = int(20) | int |
| x = float(20.5) | float |
| x = complex(1j) | complex |
| x = list(("apple", "banana", "cherry")) | list |
| x = tuple(("apple", "banana", "cherry")) | tuple |
| x = range(6) | range |
| x = dict(name="John", age=36) | dict |
| x = set(("apple", "banana", "cherry")) | set |
| x = frozenset(("apple", "banana", "cherry")) | frozenset |
| x = bool(5) | bool |
| x = bytes(5) | bytes |
| x = bytearray(5) | bytearray |
| x = memoryview(bytes(5)) | memoryview |

In [85]:
# str	
x = str("Hello World")

print(x)
print(type(x))  

# int	
x = int(20)

print(x)
print(type(x))

# float
x = float(20.5)

print(x)
print(type(x)) 

# complex
x = complex(1j)

print(x)
print(type(x)) 

# list
x = list(("apple", "banana", "cherry"))

print(x)
print(type(x)) 

# tuple
x = tuple(("apple", "banana", "cherry"))

print(x)
print(type(x))

# range
x = range(6)

print(x)
print(type(x))

# dict
x = dict(name="John", age=36)

print(x)
print(type(x)) 

# set 
x = set(("apple", "banana", "cherry"))

print(x)
print(type(x)) 


# frozenset	
x = frozenset(("apple", "banana", "cherry"))

print(x)
print(type(x)) 

# bool
x = bool(5)

print(x)
print(type(x)) 

# bytes
x = bytes(5)

print(x)
print(type(x))  

# bytearray
x = bytearray(5)

print(x)
print(type(x)) 

# memoryview
x = memoryview(bytes(5))

print(x)
print(type(x))

Hello World
<class 'str'>
20
<class 'int'>
20.5
<class 'float'>
1j
<class 'complex'>
['apple', 'banana', 'cherry']
<class 'list'>
('apple', 'banana', 'cherry')
<class 'tuple'>
range(0, 6)
<class 'range'>
{'name': 'John', 'age': 36}
<class 'dict'>
{'cherry', 'banana', 'apple'}
<class 'set'>
frozenset({'cherry', 'banana', 'apple'})
<class 'frozenset'>
True
<class 'bool'>
b'\x00\x00\x00\x00\x00'
<class 'bytes'>
bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>
<memory at 0x0000028C5F8B7700>
<class 'memoryview'>

## Python Numbers

There are three numeric types in Python:

- int
- float
- complex

Variables of numeric types are created when you assign a value to them:

In [86]:
x = 1
y = 2.8
z = 1j

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

To verify the type of any object in Python, use the type() function:

## Int

Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length.

In [87]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

## Float

Float, or "floating point number" is a number, positive or negative, containing one or more decimals.

In [88]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

Float can also be scientific numbers with an "e" to indicate the power of 10.

In [89]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

## Complex

Complex numbers are written with a "j" as the imaginary part:

In [90]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

## Type Conversion

You can convert from one type to another with the int(), float(), and complex() methods:

In [91]:
#convert from int to float:
x = float(1)

#convert from float to int:
y = int(2.8)

#convert from int to complex:
z = complex(1)

print(x)
print(y)
print(z)

print(type(x))
print(type(y))
print(type(z))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

## Random Number

Python does not have a `random()` function to make a random number, but Python has a built-in module called `random` that can be used to make random numbers:

In [92]:
import random

print(random.randrange(1, 16))

10

## Python Casting
### Specify a Variable Type

There may be times when you want to specify a type on to a variable. This can be done with casting. Python is an object-orientated language, and as such it uses classes to define data types, including its primitive types.

Casting in python is therefore done using constructor functions:

- `int()` - constructs an integer number from an integer literal, a float literal (by removing all decimals), or a string literal (providing the string represents a whole number)
- `float()` - constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer)
- `str()` - constructs a string from a wide variety of data types, including strings, integer literals and float literals

In [93]:
x = int(1)
y = int(2.8)
z = int("3")
print(x)
print(y)
print(z)

1
2
3

In [94]:
x = float(1)
y = float(2.8)
z = float("3")
w = float("4.2")
print(x)
print(y)
print(z)
print(w)

1.0
2.8
3.0
4.2

In [95]:
x = str("s1")
y = str(2)
z = str(3.0)
print(x)
print(y)
print(z)

s1
2
3.0

## Python Strings
### Strings

Strings in python are surrounded by either single quotation marks, or double quotation marks.

`'hello'` is the same as `"hello"`.

You can display a string literal with the `print()` function:

In [96]:
print("Hello")
print('Hello')

Hello
Hello

## Quotes Inside Quotes

You can use quotes inside a string, as long as they don't match the quotes surrounding the string:

In [97]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

## Assign String to a Variable

Assigning a string to a variable is done with the variable name followed by an equal sign and the string:

In [98]:
a = "Hello"
print(a)

Hello

## Multiline Strings

You can assign a multiline string to a variable by using three quotes:

In [99]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

Or three single quotes:

In [100]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

### Strings are Arrays

Like many other popular programming languages, strings in Python are arrays of unicode characters.

However, Python does not have a character data type, a single character is simply a string with a length of 1.

Square brackets can be used to access elements of the string.

In [101]:
a = "Hello, World!"
print(a[1])

e

### Looping Through a String

Since strings are arrays, we can loop through the characters in a string, with a for loop.

In [102]:
for x in "banana":
    print(x)

b
a
n
a
n
a

### String Length

To get the length of a string, use the len() function.

In [103]:
a = "Hello, World!"
print(len(a))

13

### Check String

To check if a certain phrase or character is present in a string, we can use the keyword in.

In [104]:
txt = "The best things in life are free!"
print("free" in txt)

True

Use it in an if statement:

In [105]:
txt = "The best things in life are free!"
if "free" in txt:
    print("Yes, 'free' is present.")

Yes, 'free' is present.

### Check if NOT

To check if a certain phrase or character is NOT present in a string, we can use the keyword not in.

In [106]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

Use it in an `if` statement:

In [107]:
txt = "The best things in life are free!"
if "expensive" not in txt:
    print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

# Python - Slicing Strings

## Slicing

You can return a range of characters by using the slice syntax.

Specify the start index and the end index, separated by a colon, to return a part of the string.

In [108]:
b = "Hello, World!"
print(b[2:5])

llo

## Slice From the Start

By leaving out the start index, the range will start at the first character:

In [109]:
b = "Hello, world!"
print(b[:5])

Hello

## Slice To the End

By leaving out the end index, the range will go to the end:

In [110]:
b = "hello world!"
print(b[2:])

llo world!

## Negative Indexing

Use negative indexes to start the slice from the end of the string:

In [111]:
b = "Hello, world!"
print(b[-5:-2])

orl

# Python - Modify Strings

Python has a set of built-in methods that you can use on strings.

## Upper Case

In [112]:
a = "Hello world!"
print(a.upper())

HELLO WORLD!

## Lower Case

In [113]:
a = "Hello, world!"
print(a.lower())

hello, world!

## Remove Whitespace

Whitespace is the space before and/or after the actual text, and very often you want to remove this space.

In [114]:
a = " Hello, World! "
print(a.strip())

Hello, World!

## Replace String

In [115]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

## Split String

The `split()` method returns a list where the text between the specified separator becomes the list items.

In [116]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

In [117]:
a = "hello, world!"
print(a.capitalize()) # returns ['Hello', ' World!']

Hello, world!

# String Concatenation

To concatenate, or combine, two strings you can use the + operator.

In [118]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [119]:
# To add a space between them, add a " ":

a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

# Python - Format - Strings

## String Format

As we learned in the Python Variables chapter, we cannot combine strings and numbers like this:

In [120]:
age = 36
#This will produce an error:
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

But we can combine strings and numbers by using f-strings or the format() method!

## F-Strings

F-String was introduced in Python 3.6, and is now the preferred way of formatting strings.

To specify a string as an f-string, simply put an `f` in front of the string literal, and add curly brackets ``{}`` as placeholders for variables and other operations.

In [ ]:
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

## Placeholders and Modifiers

A placeholder can contain variables, operations, functions, and modifiers to format the value.

In [ ]:
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

A placeholder can include a modifier to format the value.

A modifier is included by adding a colon `:` followed by a legal formatting type, like `.2f` which means fixed point number with 2 decimals:

In [ ]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

A placeholder can contain Python code, like math operations:

In [ ]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

## Escape Character

To insert characters that are illegal in a string, use an escape character.

An escape character is a backslash `\` followed by the character you want to insert.

An example of an illegal character is a double quote inside a string that is surrounded by double quotes:

To fix this problem, use the escape character `\"`:

In [ ]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

Escape Characters
Other escape characters used in Python:

| Code | Result |
|---|---|
| \' | Single Quote |	
| \\ | Backslash | 
| \n | New Line|	
| \r | Carriage Return |
| \t | Tab |	
| \b | Backspace |	
| \f | Form Feed |	
| \ooo | Octal value |	
| \xhh | Hex value |

In [ ]:
# Single Quote
txt = 'It\'s alright.'
print(txt) 

# Backslash
txt = "This will insert one \\ (backslash)."
print(txt) 

# New Line
txt = "Hello\nWorld!"
print(txt)

# Carriage Return
txt = "Hello\rWorld!"
print(txt) 

# Tab
txt = "Hello\tWorld!"
print(txt) 

# Backspace
txt = "Hello \bWorld!"
print(txt) 
	
# Octal value
txt = "\110\145\154\154\157"
print(txt)

# Hex value
txt = "\x48\x65\x6c\x6c\x6f"
print(txt)

It's alright.
This will insert one \ (backslash).
Hello
World!
World!
Hello	World!
HelloWorld!
Hello
Hello

# Python - String Methods

## String Methods

Python has a set of built-in methods that you can use on strings.

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(f" mi nombre es {p1.name} y tengo {p1.age}")
print(p1.age)

 mi nombre es John y tengo 36
36

# Python - String Methods
## String Methods
Python has a set of built-in methods that you can use on strings.

In [ ]:
# capitalize() = Converts the first character to upper case
txt = "hello, and welcome to my world."
x = txt.capitalize()
print (x)

# casefold() = Converts string into lower case
txt = "Hello, And Welcome To My World!"
x = txt.casefold()
print(x)

# center() = Returns a centered string
txt = "banana"
x = txt.center(20)
print(x)

# count() = Returns the number of times a specified value occurs in a string
txt = "I love apples, apple are my favorite fruit"
x = txt.count("apple")
print(x)

# encode() = Returns an encoded version of the string
txt = "My name is Ståle"
x = txt.encode()
print(x)

# endswith() = Returns true if the string ends with the specified value
txt = "Hello, welcome to my world."
x = txt.endswith(".")
print(x)

Hello, and welcome to my world.
hello, and welcome to my world!
       banana
2
b'My name is St\xc3\xa5le'
True

In [ ]:
# expandtabs() = Sets the tab size of the string
txt = "H\te\tl\tl\to"
x =  txt.expandtabs(2)
print(x)

# find() = Searches the string for a specified value and returns the position of where it was found
txt = "Hello, welcome to my world."
x = txt.find("welcome")
print(x)

# format() = Formats specified values in a string
txt = "For only {price:.2f} dollars!"
print(txt.format(price = 49))

# format_map() = Formats specified values in a string
persona = {
    "nombre": "Mario",
    "edad": 30,
    "ciudad": "Bogotá"
}

mensaje = "Hola, me llamo {nombre}, tengo {edad} años y vivo en {ciudad}.".format_map(persona)
print(mensaje)

# index() = Searches the string for a specified value and returns the position of where it was found
txt = "Hello, welcome to my world."
x = txt.index("welcome")
print(x)

# isalnum() = Returns True if all characters in the string are alphanumeric
txt = "Company12"
x = txt.isalnum()
print(x)

# isalpha() = Returns True if all characters in the string are in the alphabet
txt = "CompanyX"
x = txt.isalpha()
print(x)

# isascii() = Returns True if all characters in the string are ascii characters
txt = "Company123"
x = txt.isascii()
print(x)

# isdecimal() = Returns True if all characters in the string are decimals
txt = "1234"
x = txt.isdecimal()
print(x)

# isdigit() = Returns True if all characters in the string are digits
txt = "50800"
x = txt.isdigit()
print(x)

# isidentifier() = Returns True if the string is an identifier
txt = "hello world!"
x = txt.islower()
print(x)

# islower() = Returns True if all characters in the string are lower case
txt = "hello world!"
x = txt.islower()
print(x)

# isnumeric() = Returns True if all characters in the string are numeric
txt = "565543"
x = txt.isnumeric()
print(x)

# isprintable() = Returns True if all characters in the string are printable
txt = "Hello! Are you #1?"
x = txt.isprintable()
print(x)

# isspace() = Returns True if all characters in the string are whitespaces
txt = "  "
x = txt.isspace()
print(x)

# istitle() = Returns True if the string follows the rules of a title
txt = "Hello, And Welcome To My World!"
x = txt.istitle()
print(x)

# isupper() = Returns True if all characters in the string are upper case
txt = "THIS IS NOW!"
x = txt.isupper()
print(x)

# join() = Joins the elements of an iterable to the end of the string
myTuple = ("John", "Peter", "Vicky")
x = "#".join(myTuple)
print(x)

# ljust() = Returns a left justified version of the string
txt = "banana"
x = txt.ljust(20)
print(x, "is my favorite fruit.")

# lower() = Converts a string into lower case
txt = "Hello my FRIENDS"
x = txt.lower()
print(x)

# lstrip() = Returns a left trim version of the string
txt = "     banana     "
x = txt.lstrip()
print("of all fruits", x, "is my favorite")

# maketrans() = Returns a translation table to be used in translations
txt = "Hello Sam!"
mytable = str.maketrans("S", "P")
print(txt.translate(mytable))

# partition() = Returns a tuple where the string is parted into three parts
txt = "I could eat bananas all day"
x = txt.partition("bananas")
print(x)

# replace() = Returns a string where a specified value is replaced with a specified value
txt = "I like bananas"
x = txt.replace("bananas", "apples")
print(x)

#  rfind() = Searches the string for a specified value and returns the last position of where it was found
txt = "Mi casa, su casa."
x = txt.rfind("casa")
print(x)

# rindex() = Searches the string for a specified value and returns the last position of where it was found
txt = "Mi casa, su casa."
x = txt.rindex("casa")
print(x)

H e l l o
7
For only 49.00 dollars!
Hola, me llamo Mario, tengo 30 años y vivo en Bogotá.
7
True
True
True
True
True
True
True
True
True
True
True
True
John#Peter#Vicky
banana               is my favorite fruit.
hello my friends
of all fruits banana      is my favorite
Hello Pam!
('I could eat ', 'bananas', ' all day')
I like apples
12
12

In [ ]:
# rjust() = Returns a right justified version of the string
txt = "banana"
x = txt.rjust(20)
print(x, "is my favorite fruit.")

# rpartition() = Returns a tuple where the string is parted into three parts
txt = "I could eat bananas all day, bananas are my favorite fruit"
x = txt.rpartition("bananas")
print(x)

# rsplit() = Splits the string at the specified separator, and returns a list
txt = "apple, banana, cherry"
x = txt.rsplit(", ")
print(x)

# rstrip() = Returns a right trim version of the string
txt = "     banana     "
x = txt.rstrip()
print("of all fruits", x, "is my favorite")

# split() = Splits the string at the specified separator, and returns a list
txt = "welcome to the jungle"
x = txt.split()
print(x)

# splitlines() = Splits the string at line breaks and returns a list
txt = "Thank you for the music\nWelcome to the jungle"
x = txt.splitlines()
print(x)

# startswith() = Returns true if the string starts with the specified value
txt = "Hello, welcome to my world."
x = txt.startswith("Hello")
print(x)

# strip() = Returns a trimmed version of the string
txt = "     banana     "
x = txt.strip()
print("of all fruits", x, "is my favorite")

# swapcase() = Swaps cases, lower case becomes upper case and vice versa
txt = "Hello My Name Is PETER"
x = txt.swapcase()
print(x)

# title() = Converts the first character of each word to upper case
txt = "Welcome to my world"
x = txt.title()
print(x)

# translate() = Returns a translated string
#use a dictionary with ascii codes to replace 83 (S) with 80 (P):
mydict = {83:  80}
txt = "Hello Sam!"
print(txt.translate(mydict))

# upper() = Converts a string into upper case
txt = "Hello my friends"
x = txt.upper()
print(x)

# zfill() = Fills the string with a specified number of 0 values at the beginning
txt = "50"
x = txt.zfill(10)
print(x)

              banana is my favorite fruit.
('I could eat bananas all day, ', 'bananas', ' are my favorite fruit')
['apple', 'banana', 'cherry']
of all fruits      banana is my favorite
['welcome', 'to', 'the', 'jungle']
['Thank you for the music', 'Welcome to the jungle']
True
of all fruits banana is my favorite
hELLO mY nAME iS peter
Welcome To My World
Hello Pam!
HELLO MY FRIENDS
0000000050

# Python Booleans

Booleans represent one of two values: `True` or `False`.

## Boolean Values

In programming you often need to know if an expression is ``True`` or ``False``.

You can evaluate any expression in Python, and get one of two answers, True or False.

When you compare two values, the expression is evaluated and Python returns the Boolean answer:

In [121]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

When you run a condition in an if statement, Python returns `True` or `False`:

In [122]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

## Evaluate Values and Variables

The `bool()` function allows you to evaluate any value, and give you `True` or `False` in return,

In [123]:
print(bool("Hello"))
print(bool(15))

True
True

In [124]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

## Most Values are True

Almost any value is evaluated to `True` if it has some sort of content.

Any string is `True`, except empty strings.

Any number is `True`, except `0`.

Any list, tuple, set, and dictionary are `True`, except empty ones.

In [125]:
print(bool("abc"))
print(bool(123))
print(bool(["apple", "cherry", "banana"]))

True
True
True

## Some Values are False

In fact, there are not many values that evaluate to `False`, except empty values, such as `()`, `[]`, `{}`, "", the number `0`, and the value `None`. And of course the value `False` evaluates to `False`.

In [126]:
print(bool(False))
print(bool(None))
print(bool(0))
print(bool(""))
print(bool(()))
print(bool([]))
print(bool({}))

False
False
False
False
False
False
False

One more value, or object in this case, evaluates to `False`, and that is if you have an object that is made from a class with a `__len__` function that returns `0` or `False`:

In [127]:
class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False

## Functions can Return a Boolean

You can create functions that returns a Boolean Value:

In [128]:
def myFunction() :
  return True

print(myFunction())

True

You can execute code based on the Boolean answer of a function:

In [129]:
def myFunction() :
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

Python also has many built-in functions that return a boolean value, like the `isinstance()` function, which can be used to determine if an object is of a certain data type:

In [130]:
x = 200
print(isinstance(x, int))

True

In [ ]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    
    def greet(self):
        print(f"Hi, I'm {self.name} and I'm {self.age} years old.")

p1 = Person("John Conor", 36)
p1.greet()

Hi, I'm John and I'm 36 years old.